Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-10, with the labels that each got.

#2726 Fix icon size of examples
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, V: 3.2.3-beta.1, example

#2733 Add missing `each` in Magnetic.FundamentalWave
  Modelica/Magnetic/FundamentalWave.mo
Labels: L: Magnetic.FundamentalWave

#2715 Fix icon text extent multibody
  Modelica/Mechanics/MultiBody/Forces.mo
  Modelica/Mechanics/MultiBody/Interfaces.mo
Labels: L: Mechanics.MultiBody, enhancement

#2732 Fix double %name in icons of Blocks and ComplexBlocks
  Modelica/Blocks/Math.mo
  Modelica/Blocks/Nonlinear.mo
  Modelica/ComplexBlocks.mo
Labels: L: Blocks, L: Complex*

#2734 Issue2719 modified Eucken R in J/kg.K
  Modelica/Media/IdealGases/Common/Functions.mo
Labels: L: Media, bug

#2737 Add missing stop time
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational, V: 3.2.3-beta.1

#2739 Fix outdated links
  Modelica/StateGraph.mo
  Modelica/package.mo
Labels: L: StateGraph, documentation

#2727 Add missing stop time
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, V: 3.2.3-beta.1, example

#2746 Add number of inductors to icon display of M_Transformer
  Modelica/Electrical/Analog/Basic.mo
Labels: L: Electrical.Analog, enhancement

#2756 Add symlink in order to keep the new structure backwards compatible
  om
Labels: documentation

#2759 Add magnetic domain to README.md
  README.md
Labels: documentation

#2745 ModelicaTest.Media.TestsWithFluid tests the wrong component
  ModelicaTest/Media.mo
Labels: L: ModelicaTest, V: 3.2.3-beta.1

#2742 Fix extent of component/parameter name in icons
  Modelica/Media/IdealGases/package.mo
  Modelica/Media/package.mo
Labels: L: Media, V: 3.2.3-beta.1, example
