Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-08, with the labels that each got.

#2678 Add missing `each`
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Media/IdealGases/Common/package.mo
Labels: L: Magnetic.QuasiStatic, L: Media

#2682 resolves #2675
  Modelica/Thermal/FluidHeatFlow.mo
Labels: L: Thermal.FluidHeatFlow, P: highest, V: 3.2.3-beta.2, bug

#2566 Finalise the Release Notes 3.2.3
  Modelica/package.mo
Labels: P: highest, documentation

#2700 Remove Thermal.FluidHeatFlow.Components.PumpTurbine of v3.2.3-beta.1
  Modelica/Thermal/FluidHeatFlow.mo
  Modelica/package.mo
Labels: L: Thermal.FluidHeatFlow, P: highest, V: 3.2.3-beta.1, bug

#2701 Fix equation of pressure increase versus volume flow in IdealPump
  Modelica/Thermal/FluidHeatFlow.mo
Labels: L: Thermal.FluidHeatFlow, P: highest, bug

#2676 Correct misleading error message when out of string memory for ModelicaInternal_readLine
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources

#2703 Fix typos
  Modelica/Blocks/Math.mo
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/QuasiStationary/SinglePhase.mo
  Modelica/Fluid/Fittings.mo
  Modelica/Fluid/package.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Math/package.mo
  Modelica/Media/Air/ReferenceAir.mo
  Modelica/Media/Air/ReferenceMoistAir.mo
  Modelica/Media/IdealGases/Common/package.mo
  Modelica/Media/IdealGases/package.mo
  Modelica/Media/R134a.mo
  Modelica/Media/package.mo
  Modelica/package.mo
Labels: documentation

#2706 Fix LCC linker warning on mymemcpy
  Modelica/Resources/C-Sources/snprintf.c
Labels: L: C-Sources, V: 3.2.3-beta.1

#2704 ModelicaIO::readTxtTable Avoid message on non-matching table dimensions
  Modelica/Resources/C-Sources/ModelicaIO.c
Labels: L: C-Sources, V: 3.2.3-beta.1

#2708 Add format attributes to functions in ModelicaUtilities
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/ModelicaUtilities.h
Labels: L: C-Sources, enhancement

#2709 Must not touch the include guard of ModelicaUtilities.h to keep backward-compatibility
  Modelica/Resources/C-Sources/ModelicaUtilities.h
Labels: L: C-Sources, V: 3.2.3-beta.1
