Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-12, with the labels that each got.

#2793 Add link to specification
  index.html
Labels: documentation

#2791 Fix comment and documentation of Spice3.Sources.I_pwl and V_pwl (#2790)
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, documentation

#2797 Improve and fix icons of Modelica.Electrical.Spice3.Sources according to the icon convention
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3

#2800 Ref #2787 since CLA is signed, no need to have copyright of Dietmar Winkler
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#2778 Fix conversion from microPoise to Pa.s in mixtureViscosityChung
  Modelica/Media/IdealGases/Common/package.mo
Labels: L: Media, bug

#2740 Declare temporary StateGraph classes as obsolete
  Modelica/StateGraph.mo
  Modelica/package.mo
Labels: L: StateGraph

#2730 Set guess values of ModelicaTest.MultiBody.Joints.SphericalSpherical2
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest

#2758 Fix icons to utilize graphics instead of text
  Modelica/Blocks/Logical.mo
Labels: L: Blocks

#2773 Add test model for Modelica.Math.Matrices.Examples.solveLinearEquations
  ModelicaTest/Math.mo
Labels: L: ModelicaTest

#2777 Fix documentation of MultiBody.Frames functions
  Modelica/Mechanics/MultiBody/Frames.mo
Labels: L: Mechanics.MultiBody, documentation

#2772 Add test model for Modelica.Utilities.Examples.calculator
  ModelicaTest/Utilities.mo
Labels: L: ModelicaTest, example

#2755 Fixes #2543 by removing the misleading promise
  Modelica/Media/package.mo
Labels: L: Media, example

#2723 Fixes #2721 by using a more abstract package as example
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation
