Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-05, with the labels that each got.

#2522 Add missing StopTime annotations to examples
  Modelica/Blocks/package.mo
  Modelica/Media/package.mo
Labels: L: Blocks, L: Media

#2520 Using green toned colors in Mechanics.Translational
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Resources/Images/Mechanics/MultiBody/Examples/Elementary/LineForceWithTwoMasses1.png
  Modelica/Resources/Images/Mechanics/Translational/DirectMass.png
  Modelica/Resources/Images/Mechanics/Translational/InitialConditions.png
  Modelica/Resources/Images/Mechanics/Translational/InverseMass.png
  Modelica/Resources/Images/Mechanics/Translational/Spring.png
  Modelica/Resources/Images/Mechanics/Translational/SpringDamper.png
  Modelica/Resources/Images/Mechanics/Translational/bearing.png
  Modelica/Resources/Images/Mechanics/Translational/bearing2.png
  Modelica/Resources/Images/Mechanics/Translational/drive1.png
  Modelica/Resources/Images/Mechanics/Translational/drive2.png
  Modelica/Resources/Images/Mechanics/Translational/drive3.png
  Modelica/Resources/Images/Mechanics/Translational/driveAxis.png
  Modelica/Resources/Images/Mechanics/Translational/driveConnections1.png
  Modelica/Resources/Images/Mechanics/Translational/driveConnections2.png
  Modelica/Resources/Images/Mechanics/Translational/masses.png
  Modelica/Resources/Images/Mechanics/Translational/relativeStates2.png
  Modelica/Resources/Images/UsersGuide/Lib-Translational.png
Labels: L: Mechanics.Rotational, L: Mechanics.Translational

#2457 Suggestion for a new template for libraries' contact information
  Modelica/package.mo
Labels: L: UsersGuide, discussion, documentation

#2532 Extend obsolete classes from ObsoleteModel
  Modelica/Blocks/Interfaces.mo
  Modelica/Electrical/Digital.mo
  Modelica/Electrical/Machines.mo
  Modelica/Fluid/Icons.mo
  Modelica/Icons.mo
  Modelica/Math/package.mo
  Modelica/Media/package.mo
Labels: task

#2533 Fixes #576 by replacing internal models by one utility model
  Modelica/Electrical/Analog/Examples/CauerLowPassSC.mo
  Modelica/Electrical/Analog/Examples/Utilities/SwitchedCapacitor.mo
  Modelica/Electrical/Analog/Examples/Utilities/package.order
Labels: L: Electrical.Analog

#2538 Proposal of Magnetic.QuasiStastic.FluxTubes to be included in MSL
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/package.order
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/A.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/A1.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/A2.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/A_axial.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/A_cuboid.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/B_n.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/CuboidParallelFlux_qs.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/GenericFluxTube_qs.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/H_n.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/HollowCylinderAxialFlux_qs.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/HollowCylinderRadialFlux_qs.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/L_stat-Psi-eps.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/L_stat-Psi-i.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/L_stat.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/Phi-B_n.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/Phi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/Psi-N-Phi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/Psi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/R_m-V_m-Phi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/R_m.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/R_m_cuboid.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/R_m_generic.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/R_m_radial.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/V_m-H_n.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/V_m.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/alpha.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/alpha2pi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/converter.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/i-lt-eps.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/i.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/l.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/magnetic_flux_tube_schematic_qs.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/mu_r-1.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/permeabilities-0.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/permeabilities.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/r_i.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/r_o.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/realPhi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/realV_m.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FluxTubes/v.png
Labels: L: Magnetic.QuasiStatic, enhancement

#2419 Unify location of %name in icon view of Blocks.Interfaces
  Modelica/Blocks/Interfaces.mo
Labels: L: Blocks, enhancement

#2531 Avoid MSVC compiler warnings C4267 in ModelicaFFT.c
  Modelica/Resources/C-Sources/ModelicaFFT.c
Labels: L: C-Sources

#2544 Declare THD1 and THDrms as final
  Modelica/Blocks/package.mo
Labels: L: Blocks

#2548 Fix links
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_2_2_2.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2_1.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2_2.html
Labels: L: Resources

#2539 Decrease height in Modelica.Fluid.Examples.Tanks.TanksWithOverflow
  Modelica/Fluid/Examples/Tanks.mo
Labels: L: Fluid

#2528 Avoid division by zero in default homotopy-code for Modelica.Fluid.Machines.BaseClasses.PartialPump
  Modelica/Fluid/Machines.mo
Labels: L: Fluid

#2359 Avoid default Real parameter evaluation
  Modelica/Fluid/Sources.mo
Labels: L: Fluid

#2555 Add missing `each` in SynchronousInductionMachines
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, example

#2542 Cleanup Media test models (#1053)
  Modelica/Media/package.mo
  ModelicaTest/Media.mo
Labels: L: Media, L: ModelicaTest, V: 3.2.1, enhancement, example

#2559 Removed commented reference to non-existing medium
  Modelica/Fluid/Examples/AST_BatchPlant.mo
Labels: L: Media

#2529 Remove incorrect stateSelect in constraint examples
  Modelica/Mechanics/MultiBody/Examples/Constraints.mo
Labels: L: Mechanics.MultiBody, example

#2563 Refs #2560: Change units of potential variables of connectors
  Modelica/Electrical/Analog/Interfaces.mo
  Modelica/Electrical/QuasiStationary/SinglePhase.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
Labels: L: Electrical.Analog, L: Electrical.QuasiStationary, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, V: 3.2.2, enhancement
