Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-02, with the labels that each got.

#2462 Add missing function loadResource to table of functions
  Modelica/Utilities/Files.mo
Labels: L: Utilities, P: trivial

#2463 Fix name of loadResource in doc
  Modelica/Utilities/Files.mo
Labels: L: Utilities, P: trivial

#2464 Fix location and link to Examples_readRealParameters.txt
  Modelica/Utilities/Examples.mo
Labels: L: Utilities, P: trivial

#2461 Fixes issue #2395
  Modelica/Magnetic/FluxTubes.mo
Labels: L: Magnetic.FluxTubes

#2471 Change propsoal to show calculation equation in icon of Division
  Modelica/Blocks/Math.mo
Labels: enhancement
