Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-09, with the labels that each got.

#2710 RelativeStates icon
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Resources/Images/Mechanics/Rotational/relativeStates.png
  Modelica/Resources/Images/Mechanics/Translational/relativeStates2.png
Labels: L: Mechanics.Rotational, L: Mechanics.Translational

#2691 Fixing Modelica.Math.Matrices.Utilities.toUpperHessenberg
  Modelica/Math/package.mo
Labels: L: Math, enhancement

#2713 Fix false extent of text "name" in icon
  Modelica/Blocks/Sources.mo
Labels: L: Blocks, enhancement
