Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-04, with the labels that each got.

#2497 Fixes for issues #2385, #2490 and #2499
  Modelica/Media/IdealGases/MixtureGases.mo
  Modelica/Media/Water/IF97_Utilities.mo
Labels: L: Media

#2369 Workaround for dummy usertab function
  Modelica/Resources/BuildProjects/VisualStudio2005/ModelicaStandardTables.vcproj
  Modelica/Resources/BuildProjects/autotools/Makefile.am
  Modelica/Resources/BuildProjects/gcc/Makefile
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  Modelica/Resources/C-Sources/ModelicaStandardTablesUsertab.c
  Modelica/Resources/C-Sources/_readme.txt
Labels: L: C-Sources

#2507 Replace outdated Documentation and ReleaseNotes Templates with generation script and template
  Modelica/Resources/Documentation/Generate-ReleaseNotes.py
  Modelica/Resources/Documentation/Modelica-Documentation-Template.doc
  Modelica/Resources/Documentation/Modelica-Documentation-Template.ott
  Modelica/Resources/Documentation/Modelica-ReleaseNotes-Template.doc
  Modelica/Resources/Documentation/Modelica-ReleaseNotes-Template.html
  Modelica/Resources/Documentation/Modelica-ReleaseNotes-Template.ott
Labels: L: Resources

#2504 Fixes #1822 by removing the Protection annotation and bump version
  Complex.mo
  ModelicaServices/package.mo
Labels: L: Complex*, L: ModelicaServices

#2505 update versionBuild and point to semver as alternative for usage in ModelicaReference
  Complex.mo
  Modelica/package.mo
  ModelicaReference/package.mo
  ModelicaServices/package.mo
  ModelicaTest/package.mo
  ModelicaTestOverdetermined.mo
Labels: L: ModelicaReference
