Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-06, with the labels that each got.

#2577 Fixes closing HTML tag and table attribute.
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#2580 Fix HTML tags and typo
  Modelica/Blocks/Math.mo
  Modelica/Blocks/Noise.mo
  Modelica/Electrical/Digital.mo
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/PowerConverters.mo
  Modelica/Electrical/QuasiStationary/MultiPhase.mo
  Modelica/Electrical/QuasiStationary/SinglePhase.mo
  Modelica/Electrical/QuasiStationary/UsersGuide.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Math/Random.mo
  Modelica/package.mo
  ModelicaTest/Math.mo
Labels: documentation

#2579 Fix image and class links
  Modelica/Blocks/package.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
Labels: L: Blocks, L: Magnetic.QuasiStatic, documentation

#2571 FluidHeatFlowDesignFlaw
  Modelica/Thermal/FluidHeatFlow.mo
Labels: L: Thermal.FluidHeatFlow, P: high, bug

#2581 Fix invalid references to Plane
  Modelica/Mechanics/MultiBody/Visualizers.mo
  Modelica/Resources/Images/Mechanics/MultiBody/Visualizers/Rectangle.png
Labels: L: Mechanics.MultiBody

#2586 Fix typos
  Modelica/package.mo
Labels: L: UsersGuide, P: low, documentation

#2582 FluidHeatFlowEnhancements
  Modelica/Thermal/FluidHeatFlow.mo
Labels: L: Thermal.FluidHeatFlow, enhancement

#2584 Switch to secure website for haumer.at
  Modelica/ComplexBlocks.mo
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/MultiPhase.mo
  Modelica/Electrical/PowerConverters.mo
  Modelica/Electrical/QuasiStationary/Machines.mo
  Modelica/Electrical/QuasiStationary/UsersGuide.mo
  Modelica/Electrical/QuasiStationary/package.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Thermal/FluidHeatFlow.mo
  Modelica/Thermal/HeatTransfer.mo
  Modelica/package.mo
Labels: documentation

#2570 Add default component name for adaptors (#2569)
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Electrical/Analog/Examples/GenerationOfFMUs.mo
  Modelica/Electrical/Analog/Examples/ResonanceCircuits.mo
  Modelica/Electrical/Analog/Examples/Utilities/Conductor.mo
  Modelica/Electrical/Analog/Examples/Utilities/DirectCapacitor.mo
  Modelica/Electrical/Analog/Examples/Utilities/DirectInductor.mo
  Modelica/Electrical/Analog/Examples/Utilities/InverseCapacitor.mo
  Modelica/Electrical/Analog/Examples/Utilities/InverseInductor.mo
  Modelica/Electrical/Analog/Examples/Utilities/Resistor.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Thermal/HeatTransfer.mo
Labels: L: Electrical.Analog, L: Mechanics.Translational, L: Thermal.HeatTransfer, P: high, bug, enhancement

#2588 Improve wording of electrical and magnetic connector descriptions
  Modelica/Electrical/Analog/Interfaces.mo
  Modelica/Electrical/MultiPhase.mo
  Modelica/Electrical/QuasiStationary/MultiPhase.mo
  Modelica/Electrical/QuasiStationary/SinglePhase.mo
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/package.mo
Labels: L: Electrical.Analog, L: Electrical.MultiPhase, L: Electrical.QuasiStationary, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic

#2592 Update release notes for beta.2
  Modelica/Resources/Documentation/Version-3.2.3/DifferencesTo322.html
  Modelica/Resources/Documentation/Version-3.2.3/ResolvedGitHubIssues.html
Labels: L: Resources

#2598 Exclude regression issues from generated Release Notes
  Modelica/Resources/Documentation/Generate-ReleaseNotes.py
Labels: L: Resources, V: 3.2.3-beta.2

#2599 Update moparser to v3.4
  .travis.yml
Labels: CI

#2597 This fixes #2595 by updating the version number et. al.
  ModelicaReference/package.mo
Labels: L: ModelicaReference, V: 3.2.3-beta.2

#2614 Fix description of electrical components
  Modelica/Electrical/MultiPhase.mo
  Modelica/Electrical/QuasiStationary/MultiPhase.mo
Labels: L: Electrical.MultiPhase, L: Electrical.QuasiStationary

#2612 Fix variability of oBase dimension
  Modelica/Electrical/MultiPhase.mo
Labels: L: Electrical.MultiPhase, V: 3.2.3-beta.2

#2617 Add missing `each` in Media.Air.MoistAir.s_pTX_der
  Modelica/Media/Air/MoistAir.mo
Labels: L: Media

#2606 Change state event into time event to avoid warning in Modelica.Fluid.Examples.AST_BatchPlant.BaseClasses.Controller
  Modelica/Fluid/Examples/AST_BatchPlant.mo
Labels: L: Fluid, example

#2625 fixes #2600 (usage of obsolete pipe model)
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, V: 3.2.3-beta.2, example

#2613 Fix icon / diagram graphics of Mux / Demux blocks
  Modelica/Blocks/Routing.mo
Labels: L: Blocks

#2605 Smooth line in icon of Modelica.Mechanics.Rotational.Sources.EddyCurrentTorque
  Modelica/Mechanics/Rotational.mo
Labels: L: Mechanics.Rotational, V: 3.2.3-beta.2

#2561 Added more options for homotopy-based initialization of limiters
  Modelica/Blocks/Continuous.mo
  Modelica/Blocks/Nonlinear.mo
  Modelica/Blocks/Types.mo
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Ideal.mo
  ModelicaTest/Blocks.mo
Labels: L: Blocks, L: Electrical.Analog

#2622 Add default component name to old rotational adaptors
  Modelica/Mechanics/Rotational.mo
Labels: L: Mechanics.Rotational

#2623 Remove copy-pasted documentation
  Modelica/Mechanics/Rotational.mo
Labels: L: Mechanics.Rotational, V: 3.2.3-beta.2, documentation

#2589 This adds a link to the MAP-LIB project rules to the README
  README.md
Labels: documentation

#2591 Add start value for RadioButton
  Modelica/Fluid/Examples/ControlledTankSystem.mo
Labels: L: Fluid, example

#2635 Use set port only in case of reset for resettable integrators
  Modelica/Blocks/Continuous.mo
Labels: L: Blocks, V: 3.2.3-beta.2

#2631 Fix recently added HTML errors and missing links
  Modelica/Blocks/Continuous.mo
  Modelica/Blocks/Nonlinear.mo
  Modelica/Media/package.mo
  Modelica/Resources/Images/Mechanics/MultiBody/Forces/FrameForceAndTorque1.png
  Modelica/Resources/Images/Mechanics/MultiBody/Forces/FrameForceAndTorque2.png
Labels: V: 3.2.3-beta.2, documentation

#2637 Rename obsolete image files for easier identification.
  Modelica/Resources/Images/Mechanics/MultiBody/Forces/obsoleteFrameForceAndTorque1.png
  Modelica/Resources/Images/Mechanics/MultiBody/Forces/obsoleteFrameForceAndTorque2.png
  ObsoleteModelica3.mo
Labels: L: ObsoleteModelica3, V: 3.2.3-beta.1

#2634 Use constant pi
  Modelica/Electrical/Analog/Basic.mo
Labels: L: Electrical.Analog

#2615 Fix derivative annotation of PartialFMUadaptors.Functions.state2der1
  Modelica/Blocks/Interfaces.mo
Labels: L: Blocks, V: 3.2.3-beta.2

#2621 Fix text positions in FluidHeatFlow icons
  Modelica/Thermal/FluidHeatFlow.mo
Labels: L: Thermal.FluidHeatFlow, V: 3.2.3-beta.2

#2638 Fix dimension of ModelicaTest.Tables.CombiTable2Dv.Test18_usertab
  ModelicaTest/Tables/CombiTable2Dv.mo
Labels: L: ModelicaTest, V: 3.2.3-beta.1

#2602 Fix comment and component name in test model
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest, V: 3.2.3-beta.2

#2641 Add connector descriptions
  Modelica/Blocks/Continuous.mo
Labels: L: Blocks, V: 3.2.3-beta.1

#2619 Resolve Spice3 unit issues according to #2376 in functions
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, V: 3.2.3-beta.2

#2642 Fix beta.2 regression issue #2640
  Modelica/Blocks/Continuous.mo
  ModelicaTest/Blocks.mo
Labels: L: Blocks, V: 3.2.3-beta.2

#2624 Merge PartialFMUadaptors to existing Adaptors
  Modelica/Blocks/Interfaces.mo
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Thermal/HeatTransfer.mo
Labels: L: Blocks, V: 3.2.3-beta.2

#2610 Delete obsolete Ground visualization from MultiBody examples
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheel.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheelSetDriving.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheelSetPulling.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/Surfaces.mo
Labels: L: Mechanics.MultiBody, V: 3.2.3-beta.2, example

#2652 Fix obsolete annotation
  Modelica/Mechanics/MultiBody/Sensors.mo
Labels: L: Mechanics.MultiBody, V: 3.2.3-beta.1

#2651 Remove ineffective Evaluate annotation from inputs in FixedShape / FixedShape2
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody

#2644 Add example model for Modelica.Electrical.Analog.Ideal.IdealOpAmpLimited
  Modelica/Electrical/Analog/Examples/InvertingAmp.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/Ideal.mo
Labels: L: Electrical.Analog, bug, example

#2650 Remove ineffective Evaluate annotation from constants in SinglePortBottom / SinglePortLeft
  Modelica/Thermal/FluidHeatFlow.mo
Labels: L: Thermal.FluidHeatFlow, V: 3.2.3-beta.2

#2659 Refs #2607: Re-locate components of examples in diagram layer
  Modelica/Electrical/Analog/Examples/CharacteristicThyristors.mo
  Modelica/Electrical/Analog/Examples/OpAmps.mo
Labels: L: Electrical.Analog, V: 3.2.3-beta.2, example

#2658 Delete meaningless dotted line from icon of MultiBody.Sensors.RelativeAngles
  Modelica/Mechanics/MultiBody/Sensors.mo
Labels: L: Mechanics.MultiBody, V: 3.2.3-beta.1

#2660 Refs #2654: Fix IdealIntermediateSwitch icon
  Modelica/Electrical/Analog/Ideal.mo
Labels: L: Electrical.Analog, V: 3.2.3-beta.2

#2656 Keep snprintf.c as stand-alone module
  Modelica/Resources/BuildProjects/VisualStudio2005/ModelicaMatIO.vcproj
  Modelica/Resources/BuildProjects/VisualStudio2005/readme.txt
  Modelica/Resources/BuildProjects/autotools/Makefile.am
  Modelica/Resources/BuildProjects/gcc/Makefile
  Modelica/Resources/BuildProjects/readme.txt
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/readme.txt
  Modelica/Resources/C-Sources/snprintf.c
Labels: L: C-Sources

#2664 Improve documentation of fullRobot example
  Modelica/Mechanics/MultiBody/Examples/Systems/RobotR3.mo
Labels: L: Mechanics.MultiBody, documentation, enhancement, example

#2648 Remove ineffective Evaluate annotation from constants in PartialMedium
  Modelica/Media/package.mo
Labels: L: Media

#2645 Fix beta.2 regression issue #2542
  ModelicaTest/Media.mo
Labels: L: ModelicaTest, V: 3.2.3-beta.1

#2668 Example name typo
  Modelica/Blocks/package.mo
Labels: L: Blocks, P: highest, V: 3.2.3-beta.1, enhancement

#2667 Reorder blocks examples
  Modelica/Blocks/package.mo
Labels: L: Blocks, P: high, V: 3.2.3-beta.1, enhancement

#2670 Smooth line in icon of Modelica.Mechanics.Translational.Sources.EddyCurrentForce
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Translational, V: 3.2.3-beta.1

#2671 Update release notes for beta.3
  Modelica/Resources/Documentation/Version-3.2.3/DifferencesTo322.html
  Modelica/Resources/Documentation/Version-3.2.3/ResolvedGitHubIssues.html
Labels: L: Resources, V: 3.2.3-beta.2
