Repository modelica/ModelicaStandardLibrary, pull requests merged in 2018-11, with the labels that each got.

#2748 Refs #2735: Improve dots in icon of M_Transformer
  Modelica/Electrical/Analog/Basic.mo
Labels: L: Electrical.Analog, enhancement

#2747 Utilize RecordsPackage icon for Modelica.Fluid.Dissipation.Utilities.Records
  Modelica/Fluid/Dissipation.mo
Labels: L: Fluid.Dissipation, enhancement

#2744 Fix example description
  Modelica/Media/package.mo
Labels: L: Media, example

#2767 Add component descriptions to example Modelica.ComplexBlocks.Examples.ShowTransferFunction
  Modelica/ComplexBlocks.mo
Labels: L: Complex*, V: 3.2.2, example

#2771 Add example icon to ModelicaTest.Math.Random.TestRandomIntegers
  ModelicaTest/Math.mo
Labels: L: ModelicaTest, V: 3.2.3-beta.1
