Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-12, with the labels that each got.

#3230 Enable coupling factor k=1 in K_CoupledInductors
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, enhancement

#3234 Further improve example documentation of Modelica.Math.Nonlinear.Examples.QuadratureLobatto3
  Modelica/Math/Nonlinear.mo
Labels: L: Math, documentation, example

#3233 Specify case with one coefficient and one variable in Modelica.Electrical.Spice3.Additionals.poly
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3

#3231 Add Dialog.enable annotation to parameter IC in C_Capacitor, C_SEMI and L_Inductor
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, task

#3188 Add modified Akima interpolation (univariate) as known from MATLAB ≥ R2017b
  Modelica/Blocks/Sources.mo
  Modelica/Blocks/Tables.mo
  Modelica/Blocks/Types.mo
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  ModelicaTest/Tables/CombiTable1Ds.mo
  ModelicaTest/Tables/CombiTable1Dv.mo
  ModelicaTest/Tables/CombiTimeTable.mo
Labels: L: Blocks, L: C-Sources, enhancement

#3228 Utilize molar gas constant in Modelica.Media.Interfaces.{TemplateMedium, PartialLinearFluid}.BaseProperties
  Modelica/Media/package.mo
Labels: L: Media, P: low

#3176 Change limits of parameter ri
  Modelica/Mechanics/MultiBody/Examples/Elementary/Surfaces.mo
  Modelica/Mechanics/MultiBody/Visualizers.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/MultiBody.mo
  ModelicaTestConversion4.mo
Labels: L: Mechanics.MultiBody, bug

#3251 Update constant G according to CODATA 2018 value
  Modelica/Constants.mo
Labels: L: Constants

#3250 Change limits of parameter ri of VoluminousWheel
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody, bug

#3146 Fix for last-minute errors of #3133 pull request
  Modelica/Mechanics/MultiBody/Examples/Loops/Engine1a.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Engine1b.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Engine1b_analytic.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Utilities.mo
Labels: L: Mechanics.MultiBody, V: 4.0.0-dev, example

#3253 Correct comments in Constants.mo
  Modelica/Constants.mo
Labels: L: Constants

#3229 Utilize blockwise I/O in ModelicaInternal_copyFile
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Utilities/Internal.mo
Labels: L: C-Sources, enhancement

#3240 Some housekeeping
  Modelica/Blocks/package.mo
  Modelica/Electrical/QuasiStatic/Types/Reference.mo
  Modelica/Electrical/QuasiStatic/UsersGuide/Overview/ReferenceSystem.mo
  Modelica/Mechanics/MultiBody/Sensors.mo
  Modelica/Resources/Documentation/Generate-ReleaseNotes.py
  Modelica/package.mo
  ModelicaTest/package.mo
Labels: P: low, V: 4.0.0-dev, documentation

#3219 Improved icons of shapes
  Modelica/Magnetic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/Generic.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/Leakage.mo
  Modelica/Magnetic/FluxTubes/Basic/ConstantPermeance.mo
  Modelica/Magnetic/FluxTubes/Basic/ConstantReluctance.mo
  Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/package.mo
  Modelica/Magnetic/FluxTubes/Examples/SolenoidActuator/package.mo
  Modelica/Magnetic/FluxTubes/Examples/package.mo
  Modelica/Magnetic/FluxTubes/Icons/Cuboid.mo
  Modelica/Magnetic/FluxTubes/Icons/HollowCylinderAxialFlux.mo
  Modelica/Magnetic/FluxTubes/Icons/HollowCylinderRadialFlux.mo
  Modelica/Magnetic/FluxTubes/Icons/Reluctance.mo
  Modelica/Magnetic/FluxTubes/Icons/package.mo
  Modelica/Magnetic/FluxTubes/Icons/package.order
  Modelica/Magnetic/FluxTubes/Interfaces/package.mo
  Modelica/Magnetic/FluxTubes/Material/HardMagnetic/package.mo
  Modelica/Magnetic/FluxTubes/Material/HysteresisEverettParameter/package.mo
  Modelica/Magnetic/FluxTubes/Material/HysteresisTableData/package.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/ElectricSheet/package.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/package.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/package.mo
  Modelica/Magnetic/FluxTubes/Material/package.mo
  Modelica/Magnetic/FluxTubes/Sensors/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/Cuboid.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/GenericFluxTube.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/HollowCylinderAxialFlux.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/HollowCylinderRadialFlux.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/Force/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/HysteresisAndMagnets/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/Leakage/package.mo
  Modelica/Magnetic/FluxTubes/Sources/package.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/Hysteresis/package.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/package.mo
  Modelica/Magnetic/FluxTubes/package.mo
  Modelica/Magnetic/FluxTubes/package.order
  Modelica/Magnetic/QuasiStatic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/BaseClasses/Leakage.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/ConstantPermeance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/ConstantReluctance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Icons/Cuboid.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Icons/HollowCylinderAxialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Icons/HollowCylinderRadialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Icons/Reluctance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Icons/package.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Icons/package.order
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/Cuboid.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/GenericFluxTube.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderAxialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderRadialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/package.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/package.order
Labels: L: Magnetic.FluxTubes, enhancement

#3255 Move signal output of sensors to standard locations
  Modelica/Thermal/HeatTransfer/Sensors/ConditionalFixedHeatFlowSensor.mo
  Modelica/Thermal/HeatTransfer/Sensors/HeatFlowSensor.mo
  Modelica/Thermal/HeatTransfer/Sensors/RelTemperatureSensor.mo
  Modelica/Thermal/HeatTransfer/Sensors/TemperatureSensor.mo
  Modelica/Thermal/HeatTransfer/Sensors/package.mo
Labels: L: Thermal.HeatTransfer

#3249 Fix issue #3236 by using a simpler medium model for the HeatingSystem example and by improving state selection in PartialLumpedVolume
  Modelica/Fluid/Examples/HeatingSystem.mo
  Modelica/Fluid/Interfaces.mo
Labels: L: Fluid

#3258 Fix waitTime visualization in transition icons
  Modelica/StateGraph.mo
Labels: L: StateGraph, P: low

#3260 Fix issue #3236 by using a simpler medium model for the HeatingSystem example and by improving state selection in PartialLumpedVolume
  Modelica/Fluid/Examples/HeatingSystem.mo
  Modelica/Fluid/Interfaces.mo
Labels: L: Fluid

#3242 New example differential amplifier
  Modelica/Electrical/Analog/Examples/OpAmps.mo
Labels: L: Electrical.Analog, example

#3237 Clarified PolyPhasePolygon
  Modelica/Electrical/Polyphase/Basic/Delta.mo
  Modelica/Electrical/Polyphase/Basic/MultiDelta.mo
  Modelica/Electrical/Polyphase/Basic/MultiStar.mo
  Modelica/Electrical/Polyphase/Basic/MultiStarResistance.mo
  Modelica/Electrical/Polyphase/Basic/SplitToSubsystems.mo
  Modelica/Electrical/Polyphase/Basic/Star.mo
  Modelica/Electrical/Polyphase/Basic/package.mo
  Modelica/Electrical/Polyphase/Basic/package.order
  Modelica/Electrical/Polyphase/Examples/PolyphaseRectifier.mo
  Modelica/Electrical/Polyphase/Examples/Utilities/AnalysatorAC.mo
  Modelica/Electrical/Polyphase/Examples/Utilities/AnalysatorDC.mo
  Modelica/Electrical/Polyphase/Examples/Utilities/PolyphaseRectifierData.mo
  Modelica/Electrical/Polyphase/Examples/Utilities/package.mo
  Modelica/Electrical/Polyphase/Examples/Utilities/package.order
  Modelica/Electrical/Polyphase/Examples/package.mo
  Modelica/Electrical/Polyphase/Examples/package.order
  Modelica/Electrical/Polyphase/Functions/factorY2D.mo
  Modelica/Electrical/Polyphase/Functions/factorY2DC.mo
  Modelica/Electrical/Polyphase/Ideal/package.mo
  Modelica/Electrical/Polyphase/Interfaces/package.mo
  Modelica/Electrical/Polyphase/Sensors/package.mo
  Modelica/Electrical/Polyphase/Sources/package.mo
  Modelica/Electrical/Polyphase/UsersGuide/PhaseOrientation.mo
  Modelica/Electrical/Polyphase/UsersGuide/package.mo
  Modelica/Electrical/Polyphase/package.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/Delta.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/MultiDelta.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/MultiStar.mo
  Modelica/Resources/Images/Electrical/Polyphase/Polygon2phase.png
  Modelica/Resources/Images/Electrical/Polyphase/Polygon3phase.png
  Modelica/Resources/Images/Electrical/Polyphase/Polygon4phase.png
  Modelica/Resources/Images/Electrical/Polyphase/Polygon5phase.png
  Modelica/Resources/Images/Electrical/Polyphase/Polygon6phase.png
  Modelica/Resources/Images/Electrical/Polyphase/Polygon7phase.png
Labels: L: Electrical.Polyphase, L: Electrical.QuasiStatic, P: high, V: 3.2.3, documentation, enhancement

#3226 Flux tubes04
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/ToroidalCoreAirgap.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/ToroidalCoreQuadraticCrossSection.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/package.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/package.order
  Modelica/Magnetic/FluxTubes/Examples/package.order
  Modelica/Magnetic/FluxTubes/Icons/HollowCylinderCircumferentialFlux.mo
  Modelica/Magnetic/FluxTubes/Icons/Toroid.mo
  Modelica/Magnetic/FluxTubes/Icons/package.mo
  Modelica/Magnetic/FluxTubes/Icons/package.order
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/HollowCylinderCircumferentialFlux.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/Toroid.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/package.order
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/Circumferential.png
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/Toroid.png
Labels: L: Magnetic.FluxTubes, enhancement

#3223 Basic example of a magnetic circuit
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/QuadraticCoreAirgap.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/SaturatedInductor.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/package.order
  Modelica/Magnetic/FluxTubes/Examples/package.order
  Modelica/Resources/Images/Magnetic/FluxTubes/Examples/MagneticCircuit.png
Labels: L: Magnetic.FluxTubes, enhancement, example

#3262 Fix package description of Modelica.Magnetic.FundamentalWave.BasicMachines
  Modelica/Magnetic/FundamentalWave/BasicMachines/package.mo
  ObsoleteModelica4.mo
Labels: L: Magnetic.FundamentalWave, documentation

#3259 Update documentation on future intentions
  Modelica/Electrical/Spice3.mo
  Modelica/Fluid/package.mo
  Modelica/Mechanics/MultiBody/Joints.mo
  Modelica/Media/package.mo
  Modelica/StateGraph.mo
  Modelica/Utilities/package.mo
Labels: documentation

#3263 Fix icon of QuadraticCoreAirgap
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/QuadraticCoreAirgap.mo
Labels: L: Magnetic.FluxTubes, V: 4.0.0-dev, bug, example

#3186 Update AronSensor.mo
  Modelica/Electrical/Polyphase/Sensors/AronSensor.mo
  Modelica/Electrical/Polyphase/UsersGuide/References.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Sensors/AronSensor.mo
Labels: L: Electrical.Polyphase, documentation

#3265 Fix link to Beater1999
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Translational, documentation, task

#3264 Add Mühl2017 to Polyphase references
  Modelica/Electrical/Polyphase/Sensors/ReactivePowerSensor.mo
  Modelica/Electrical/Polyphase/UsersGuide/References.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Sensors/ReactivePowerSensor.mo
Labels: L: Electrical.Polyphase, documentation, task

#3266 Update issue links or revision links
  Modelica/Electrical/QuasiStatic/UsersGuide/ReleaseNotes.mo
  Modelica/package.mo
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation, task

#3270 Fix broken html tags <em> and <code>
  Modelica/Electrical/Analog/UsersGuide/References.mo
  Modelica/Electrical/Batteries/UsersGuide/Parameterization.mo
Labels: V: 4.0.0-dev

#3273 Update issue links
  Modelica/Resources/Documentation/Version-3.2.1/ResolvedTracTickets-build-3.html
  Modelica/Resources/Documentation/Version-3.2.1/ResolvedTracTickets-build-4.html
  Modelica/Resources/Documentation/Version-3.2.1/ResolvedTracTickets.html
  Modelica/Resources/Documentation/Version-3.2.1/index.css
  Modelica/Resources/Documentation/Version-3.2.2/ResolvedTracTickets.html
  Modelica/Resources/Documentation/Version-3.2.2/index.css
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2_1.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2_2.html
Labels: L: Resources

#3269 Add discrete intermediate variable to Mean block to clarify that the block output is a continuous-time variable
  Modelica/Blocks/Math.mo
Labels: L: Blocks, enhancement

#3274 Fix broken html tags
  Modelica/Blocks/package.mo
  Modelica/Clocked/Examples.mo
  Modelica/Clocked/package.mo
  Modelica/Constants.mo
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Interfaces.mo
  Modelica/Electrical/Analog/Lines.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Electrical/Batteries/Examples/BatteryDischargeCharge.mo
  Modelica/Electrical/Batteries/Examples/SuperCapDischargeCharge.mo
  Modelica/Electrical/Batteries/ParameterRecords/TransientData/CellData.mo
  Modelica/Electrical/Batteries/UsersGuide/Concept.mo
  Modelica/Electrical/Batteries/UsersGuide/Parameterization.mo
  Modelica/Electrical/Batteries/UsersGuide/References.mo
  Modelica/Electrical/Batteries/Utilities/PulseSeries.mo
  Modelica/Electrical/Digital.mo
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/Polyphase/UsersGuide/PhaseOrientation.mo
  Modelica/Electrical/PowerConverters/ACAC/PolyphaseTriac.mo
  Modelica/Electrical/PowerConverters/ACAC/SinglePhaseTriac.mo
  Modelica/Electrical/Spice3.mo
  Modelica/Fluid/Dissipation.mo
  Modelica/Fluid/Examples/NonCircularPipes.mo
  Modelica/Fluid/Interfaces.mo
  Modelica/Fluid/Sensors.mo
  Modelica/Fluid/Utilities.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/Toroid.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/Literature.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMR_CurrentSource.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Media/IdealGases/Common/package.mo
  Modelica/Media/Water/IF97_Utilities.mo
  Modelica/Media/package.mo
  Modelica/SIunits.mo
  ModelicaReference/package.mo
  ModelicaTest/Fluid/TestComponents/Vessels/TestInitialization.mo
  ModelicaTest/MultiBody.mo
Labels: V: 4.0.0-dev, documentation

#3256 Relocate ParameterDefaults
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/package.mo
Labels: L: UsersGuide, documentation, task

#3282 #3280 pythagoras fix
  Modelica/Blocks/Math.mo
Labels: L: Math, bug

#3288 maint/3.2.3: Fix Pythagoras
  Modelica/Blocks/Math.mo
Labels: L: Blocks, bug

#3284 Fix IdealTriacCircuit example
  Modelica/Electrical/Analog/Examples/IdealTriacCircuit.mo
  Modelica/Electrical/Analog/Examples/SimpleTriacCircuit.mo
Labels: L: Electrical.Analog, bug, example
