Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-07, with the labels that each got.

#2925 Improve the numerical conditioning of AST_BatchPlant example case
  Modelica/Fluid/Examples/AST_BatchPlant.mo
Labels: L: Fluid, example

#3013 Convert obsolete models in Modelica.Thermal.FluidHeatFlow
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Thermal/FluidHeatFlow.mo
  ModelicaTestConversion4.mo
Labels: L: Thermal.FluidHeatFlow, task

#3019 Fix non converted heating resistor in HeatTransfer examples
  Modelica/Thermal/HeatTransfer.mo
Labels: L: Thermal.HeatTransfer, example

#2987 Convert Modelica.Mechanics.MultiBody.Sensors.{TansformAbsoluteVector, TansformRelativeVector}
  Modelica/Mechanics/MultiBody/Sensors.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Mechanics.MultiBody, task

#2991 Fix spelling of RadiantExitance
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  ModelicaTestConversion4.mo
Labels: L: SIunits

#3020 Move LogFrequencySweep from ComplexBlocks.Sources to Blocks.Sources
  Modelica/Blocks/Sources.mo
  Modelica/ComplexBlocks.mo
  Modelica/Electrical/QuasiStatic/MultiPhase.mo
  Modelica/Electrical/QuasiStatic/SinglePhase.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Blocks, L: Complex*

#3009 Remove obsolete icons Modelica.Fluid.Icons.{BaseClassLibrary, VariantLibrary}
  Modelica/Fluid/Icons.mo
  Modelica/Fluid/package.order
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Fluid, task

#3018 Fix text in icons of sensors
  Modelica/Electrical/Analog/Sensors.mo
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/MultiPhase.mo
  Modelica/Electrical/QuasiStatic/MultiPhase.mo
  Modelica/Electrical/QuasiStatic/SinglePhase.mo
  Modelica/Icons.mo
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Resources/Images/UsersGuide/Conventions/Icon_sensor_multi.png
  Modelica/Resources/Images/UsersGuide/Conventions/Icon_sensor_rectangular.png
  Modelica/Resources/Images/UsersGuide/Conventions/Icon_sensor_round.png
  Modelica/Resources/Images/UsersGuide/Conventions/Icon_sensor_round2.png
  Modelica/Thermal/FluidHeatFlow.mo
  Modelica/Thermal/HeatTransfer.mo
  Modelica/Thermal/package.mo
  Modelica/package.mo
Labels: L: Electrical.Analog, L: Electrical.Machines, L: Electrical.MultiPhase, L: Electrical.QuasiStationary, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, L: Mechanics.Rotational, L: Mechanics.Translational, L: Thermal.FluidHeatFlow, L: Thermal.HeatTransfer

#3026 Convert Modelica.SIunits.Conversions.ConversionIcon
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  ModelicaTestConversion4.mo
Labels: L: SIunits, task

#3027 Organize FundamentalWave examples
  Modelica/Magnetic/FundamentalWave.mo
Labels: L: Magnetic.FundamentalWave, P: trivial, example, task

#2970 Enhancements of PowerConverters (incl. fix for Signal2mPulse and new Voltage2DutyCycle)
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/PowerConverters.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Electrical.PowerConverters, P: high, enhancement

#3025 Convert misspelled units Modelica.SIunits.{Loundess, LoundnessLevel}
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  ModelicaTestConversion4.mo
Labels: L: SIunits, task

#3029 Update version in description-string.
  Modelica/package.mo
Labels: task

#3031 Remove obsolete FundamentalWave cage models
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Magnetic.FundamentalWave, task

#2993 Consistent spelling of electrical and magnetic terms
  Modelica/Blocks/package.mo
  Modelica/Electrical/Analog/Examples/Rectifier.mo
  Modelica/Electrical/Analog/Sensors.mo
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/Polyphase.mo
  Modelica/Electrical/PowerConverters.mo
  Modelica/Electrical/QuasiStatic/Machines.mo
  Modelica/Electrical/QuasiStatic/Polyphase.mo
  Modelica/Electrical/QuasiStatic/SinglePhase.mo
  Modelica/Electrical/QuasiStatic/Types.mo
  Modelica/Electrical/QuasiStatic/UsersGuide.mo
  Modelica/Electrical/QuasiStatic/package.mo
  Modelica/Electrical/QuasiStatic/package.order
  Modelica/Electrical/package.mo
  Modelica/Electrical/package.order
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/package.mo
  Modelica/Magnetic/package.mo
  Modelica/Resources/Images/Magnetic/FundamentalWave/Components/polyphaseconverter_phi.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/Components/polyphaseconverter_vm.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/2pi_3.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/2pi_m.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/i123.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/ik_odd.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/m.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/orientationk_3.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/orientationk_m.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/phase35.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/phase610.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/pi_m.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/winding35.png
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/Polyphase/winding610.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FundamentalWave/Components/polyphaseconverter_phi.png
  Modelica/Resources/Images/Magnetic/QuasiStatic/FundamentalWave/Components/polyphaseconverter_vm.png
  Modelica/Resources/Images/UsersGuide/Conventions/Icons/colorSampleElectricalPolyphase.png
  Modelica/Resources/Images/UsersGuide/QuasiStaticPolyphasePlugs.png
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  Modelica/package.mo
  ModelicaTest/Electrical/Machines.mo
  ModelicaTest/Electrical/MultiSensorTest.mo
  ModelicaTest/Electrical/PowerConverters.mo
  ModelicaTest/Electrical/QuasiStatic/Polyphase.mo
  ModelicaTest/Electrical/QuasiStatic/SinglePhase.mo
  ModelicaTest/Electrical/QuasiStatic/package.mo
  ModelicaTest/Electrical/QuasiStatic/package.order
  ModelicaTestConversion4.mo
Labels: L: Electrical.Machines, L: Electrical.MultiPhase, L: Electrical.PowerConverters, L: Electrical.QuasiStationary, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, task

#3043 merging 2 PRs caused errors
  Modelica/Electrical/PowerConverters.mo
Labels: L: Electrical.PowerConverters, P: highest, bug

#3042 Bugfix Machines.Examples.ControlledDCDrives.Utilities.SwitchingDcDc
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, P: highest

#3032 Fix description strings of #3028
  Modelica/Electrical/PowerConverters.mo
Labels: L: Electrical.PowerConverters, example

#2920 Fix description and units in derivative functions IdealGases.Common.Functions.{cp_Tlow_der, h_T_der, h_Tlow_der}
  Modelica/Media/IdealGases/Common/Functions.mo
Labels: L: Media

#3024 Remove Modelica.Electrical.Analog.Basic.OpAmpDetailed.Pi
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog, task

#2769 Set inherited Complex record icon invisible
  Modelica/ComplexBlocks.mo
Labels: L: Complex*

#2998 Fix inconsistent partial model naming in Modelica.Magnetic
  Modelica/Electrical/PowerConverters.mo
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, task

#3052 Fix obsolete cage models
  ObsoleteModelica4.mo
Labels: L: Magnetic.FundamentalWave, L: ObsoleteModelica

#2867 Upgrade user's guide
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational, documentation

#3045 Rename airGapS/airGapR components
  Modelica/Electrical/Machines.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Machines, task

#3036 Remove obsolete class TypeComplex
  Modelica/Icons.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Icons, task

#3040 Remove obsolete models PartialElementaryOneFlangeAndSupport and PartialElementaryTwoFlangesAndSupport from Rotational and Translational libraries, respectively
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational, task

#3053 Complete structure of packages stated in the User's Guide
  Modelica/package.mo
Labels: L: UsersGuide, documentation

#3051 Refs #496: Fix inconsistent partial model naming of FluxTubes
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Magnetic.FluxTubes

#3049 resolve #2116 Sources with variable frequency
  Modelica/Blocks/Sources.mo
  Modelica/Blocks/package.mo
  Modelica/Electrical/Analog/Examples/ChuaCircuit.mo
  Modelica/Electrical/Analog/Examples/DifferenceAmplifier.mo
  Modelica/Electrical/Analog/Examples/HeatingMOSInverter.mo
  Modelica/Electrical/Analog/Examples/NandGate.mo
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Examples/ParallelResonance.mo
  Modelica/Electrical/Analog/Examples/SeriesResonance.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/Icons.mo
  Modelica/Electrical/Analog/Interfaces.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Electrical/Analog/Sources.mo
  Modelica/Electrical/Analog/package.order
  Modelica/Resources/Images/Blocks/Sources/CosineVariableFrequencyAndAmplitude.png
  Modelica/Resources/Images/Blocks/Sources/Sinc.png
  Modelica/Resources/Images/Blocks/Sources/SineVariableFrequencyAndAmplitude.png
  ModelicaTest/Blocks.mo
Labels: L: Electrical.Analog, enhancement

#2986 Update icon and function comments of Modelica.Math.Matrices.LAPACK
  Modelica/Math/package.mo
Labels: L: Math

#2997 Move FluidHeatFlow models of Interfaces.Partials to Interfaces
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Thermal/FluidHeatFlow.mo
  Modelica/package.mo
  ModelicaTestConversion4.mo
Labels: L: Thermal.FluidHeatFlow, task

#3059 Implement SinCosResolver
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, P: high, enhancement

#3058 Rename Machines Controllers
  Modelica/Blocks/package.mo
  Modelica/Electrical/Machines.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Electrical/Machines.mo
  ModelicaTestConversion4.mo
Labels: L: Electrical.Machines, P: high, enhancement

#2994 Avoid inclusion of C source file win32_dirent.c
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/win32_dirent.c
Labels: L: C-Sources

#3005 Silence clang warning -Wtautological-pointer-compare
  Modelica/Resources/BuildProjects/autotools/configure.ac
  Modelica/Resources/BuildProjects/gcc/Makefile
  Modelica/Resources/C-Sources/ModelicaIO.c
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources

#3006 Update Matio library v1.5.17
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
Labels: L: C-Sources, enhancement

#3004 Fix uninitialized memory and realpath behaviour in ModelicaInternal_fullPathName
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, bug

#3041 Convert class names in Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3 to upper-case
  Modelica/Mechanics/MultiBody/Examples/Systems/RobotR3.mo
  Modelica/Mechanics/MultiBody/Examples/Systems/package.mo
Labels: L: Mechanics.MultiBody, example, task

#3000 Remove references to Modelica_Fluid
  Modelica/Media/package.mo
Labels: L: Media, documentation

#2999 Fix descriptions in ModelicaTest.Media
  ModelicaTest/Media.mo
Labels: L: ModelicaTest

#2932 Fix Media.Air.MoistAir.{density_derX, s_pTX, s_pTX_der}
  Modelica/Media/Air/MoistAir.mo
Labels: L: Media, bug

#2995 Add mediumName for Modelica.Media.CompressibleLiquids.{LinearColdWater, LinearWater_pT_Ambient}
  Modelica/Media/CompressibleLiquids.mo
Labels: L: Media, bug

#3017 Remove all obsolete classes from Modelica.Electrical.Spice3.Internal
  Modelica/Electrical/Spice3.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
Labels: L: Electrical.Spice3, task

#2919 Fix algorithm of IdealGases.Common.Functions.s0_Tlow_der
  Modelica/Media/IdealGases/Common/Functions.mo
Labels: L: Media, bug

#3037 Convert Modelica.Media.Interfaces.PartialMedium.Choices package
  Modelica/Media/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Media, task

#3072 Change of DC machine dialog
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, documentation

#3048 Remove constants s_offset/phi_offset from 1-DoF joints
  Modelica/Mechanics/MultiBody/Joints.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/package.mo
  ModelicaTest/MultiBody.mo
  ObsoleteModelica4.mo
Labels: L: Mechanics.MultiBody, task

#3080 Change tab name of DC machine record
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, documentation
