Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-09, with the labels that each got.

#3095 Fix formula of LinearDependency and convert parameters
  Modelica/Blocks/Math.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Blocks, task

#3087 Update icons in Modelica.Mechanics.MultiBody.Visualizers from Wolfram MathCore
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody

#3105 Remove gratuitous icon's annotations initialScale and grid
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody

#3044 New Electrical.Machines.Examples
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, enhancement, example, tool-issue

#3106 Better icon for MultiBody.Joints
  Modelica/Mechanics/MultiBody/Joints.mo
Labels: L: Mechanics.MultiBody

#3100 Add translational and rotational jerk to SIunits
  Modelica/SIunits.mo
Labels: L: SIunits, enhancement

#3111 Remove misleading promise of 3D font visualization
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody, documentation

#3110 Consistent spelling of tab and group in Dialog annotation
  Modelica/Electrical/Machines.mo
  Modelica/Fluid/Dissipation.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Fluid/Sources.mo
  Modelica/Fluid/Valves.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/GenericHysteresis.mo
  Modelica/Magnetic/FluxTubes/Basic/ElectroMagneticConverterWithLeakageInductance.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/Components/Transformer1PhaseWithHysteresis.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/Components/Transformer3PhaseYyWithHysteresis.mo
  Modelica/Magnetic/FluxTubes/Interfaces/ConditionalHeatPort.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ElectricalExcited.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ReluctanceRotor.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ElectricalExcited.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ReluctanceRotor.mo
  Modelica/Mechanics/MultiBody/Joints.mo
  Modelica/Thermal/FluidHeatFlow/BaseClasses/SimpleFriction.mo
  ModelicaTest/Fluid/Dissipation.mo
Labels: task

#3086 Add connectorSizing to StateGraph.PartialStep
  Modelica/Fluid/Examples/AST_BatchPlant.mo
  Modelica/Fluid/Examples/ControlledTankSystem.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/StateGraph.mo
  ModelicaTestConversion4.mo
Labels: L: StateGraph, enhancement, specification

#2782 Fix mass flow rate calculation
  Modelica/Fluid/Dissipation.mo
Labels: L: Fluid.Dissipation, bug

#3109 Fix parameter height of Inductor icon
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/Conductor.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/Inductor.mo
Labels: L: Electrical.QuasiStatic

#3107 Text in icons of MultiBody sensors
  Modelica/Mechanics/MultiBody/Sensors.mo
Labels: L: Mechanics.MultiBody

#3120 Remove special householder transformation functions
  Modelica/Math/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Math.mo
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Math, task

#3114 Add Molality/MolalConcentration and Molarity/MolarConcentrationto to SIunits
  Modelica/SIunits.mo
Labels: L: SIunits, enhancement

#3093 maint/3.2.3: Fix uninitialized memory in ModelicaInternal_readLine, ModelicaStrings_scanIdentifier and ModelicaStrings_scanString
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/ModelicaStrings.c
Labels: L: C-Sources, bug, specification

#3071 maint/3.2.3: Fix algorithm of IdealGases.Common.Functions.s0_Tlow_der
  Modelica/Media/IdealGases/Common/Functions.mo
Labels: L: Media, bug

#3070 maint/3.2.3: Add mediumName for Modelica.Media.CompressibleLiquids.{LinearColdWater, LinearWater_pT_Ambient}
  Modelica/Media/CompressibleLiquids.mo
Labels: L: Media, bug

#3069 maint/3.2.3: Fix Media.Air.MoistAir.{density_derX, s_pTX, s_pTX_der}
  Modelica/Media/Air/MoistAir.mo
Labels: L: Media, bug

#3068 maint/3.2.3: Fix uninitialized memory and realpath behaviour in ModelicaInternal_fullPathName
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, bug

#3116 Model stepped signals by constant interpolation of CombiTimeTable in MSL examples
  Modelica/Electrical/Analog/Examples/BatteryDischargeCharge.mo
  Modelica/Electrical/Machines.mo
  Modelica/Fluid/Examples/TraceSubstances.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheelSetPulling.mo
  Modelica/Thermal/FluidHeatFlow/Examples/TestCylinder.mo
  Modelica/Thermal/HeatTransfer/Examples/Motor.mo
Labels: example
