Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-04, with the labels that each got.

#2864 Rename mue to mu
  Modelica/Constants.mo
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/PointGravity.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/PointGravityWithPointMasses.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/PointGravityWithPointMasses2.mo
  Modelica/Mechanics/MultiBody/Forces.mo
  Modelica/Mechanics/MultiBody/package.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Thermal/HeatTransfer.mo
  ModelicaTest/Rotational.mo
  ModelicaTestConversion4.mo
Labels: enhancement

#2834 Fix usage of Modelica.SIunits.Height in Modelica.Fluid
  Modelica/Fluid/Examples/AST_BatchPlant.mo
  Modelica/Fluid/Examples/HeatExchanger.mo
  Modelica/Fluid/Fittings.mo
  Modelica/Fluid/Machines.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Fluid/Types.mo
Labels: L: Fluid, bug

#2875 Remove superfluous final parameter Parts.Body.z_a_start
  Modelica/Mechanics/MultiBody/Parts.mo
Labels: L: Mechanics.MultiBody

#2877 Update Matio library v1.5.15
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
  Modelica/Resources/C-Sources/exact-int.h
  Modelica/Resources/C-Sources/safe-math.h
Labels: L: C-Sources, enhancement

#2879 Avoid Boolean comparison with Real in DynamicSelect
  Modelica/Blocks/Interaction.mo
  Modelica/Blocks/Interfaces.mo
  Modelica/Blocks/MathBoolean.mo
  Modelica/Blocks/Sources.mo
  Modelica/Fluid/Examples/ControlledTankSystem.mo
  Modelica/Fluid/Valves.mo
  Modelica/StateGraph.mo
Labels: L: Blocks, L: Fluid, L: StateGraph

#2812 Add final to modifiers in examples HeatingNPN_NORGate and HeatingPNP_NORGate
  Modelica/Electrical/Analog/Examples/HeatingNPN_OrGate.mo
  Modelica/Electrical/Analog/Examples/HeatingPNP_NORGate.mo
Labels: L: Electrical.Analog, example

#2889 Convert LogicToXO1 and LogicToXO1Z
  Modelica/Electrical/Digital.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Digital

#2893 Fix spelling of FluxoidQuantum
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  ModelicaTestConversion4.mo
Labels: L: SIunits

#2894 Rename EMF to RotationalEMF
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Mechanics/MultiBody/Examples/Systems/RobotR3.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog

#2891 Remove unused initialization parameters from limiter blocks and DeadZone
  Modelica/Blocks/Continuous.mo
  Modelica/Blocks/Nonlinear.mo
  Modelica/Blocks/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Blocks.mo
  ModelicaTestConversion4.mo
Labels: L: Blocks

#2871 Move Polynomials from Media to Math
  Modelica/Math/Polynomials.mo
  Modelica/Math/package.order
  Modelica/Media/Air/DryAirNasa.mo
  Modelica/Media/Air/MoistAir.mo
  Modelica/Media/Air/ReferenceAir.mo
  Modelica/Media/Incompressible.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Math.mo
  ModelicaTestConversion4.mo
Labels: L: Math, L: Media

#2885 Rename IdealizedOpAmpLimted to IdealizedOpAmpLimited
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Ideal.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog

#2884 Rename table blocks CombiTable1D to CombiTable1Dv and CombiTable2D to CombiTable2Ds
  Modelica/Blocks/Tables.mo
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Tables/CombiTable1Dv.mo
  ModelicaTest/Tables/CombiTable2Ds.mo
  ModelicaTest/Tables/package.order
  ModelicaTestConversion4.mo
Labels: L: Blocks

#2865 Clean up robot R3
  Modelica/Mechanics/MultiBody/Examples/Systems/RobotR3.mo
Labels: L: Mechanics.MultiBody, enhancement, example
