Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-03, with the labels that each got.

#2841 Fixes #2839 by correcting misspelled model name.
  ModelicaTest/Electrical/MultiSensorTest.mo
  ModelicaTest/Electrical/package.order
Labels: L: ModelicaTest, task

#2840 Removes double definition of equation
  Modelica/Mechanics/MultiBody/Forces.mo
Labels: L: Mechanics.MultiBody, P: trivial, task

#2846 Fix obsolete annotation
  Modelica/StateGraph.mo
Labels: L: StateGraph, V: 3.2.3

#2847 Fix obsolete annotation
  Modelica/StateGraph.mo
Labels: L: StateGraph, V: 3.2.3

#2838 Add missing 'each' in ModelicaTest
  ModelicaTest/Electrical/MultiSensorTest.mo
  ModelicaTest/Media.mo
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest

#2848 Fix obsolete messages
  Modelica/Media/package.mo
Labels: L: Media, V: 3.2.3, example

#2818 Fix obsolete messages
  Modelica/Media/package.mo
Labels: L: Media, V: 3.2.3, example

#2780 Renaming of functions CubicInterpolation_DP and CubicInterpolation_MFLOW
  Modelica/Fluid/Dissipation.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/package.mo
  ModelicaTestConversion4.mo
Labels: L: Fluid.Dissipation

#2835 Fix ComplexPassThrough to operate on Complex signals
  Modelica/ComplexBlocks.mo
Labels: L: Complex*, bug

#2855 Skip linking against empty libzlib.la
  Modelica/Resources/BuildProjects/autotools/Makefile.am
Labels: L: Resources

#2844 Use same variable names in definition and declaration
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, V: 3.2.1

#2859 Fix typo in enthalpy formula
  Modelica/Media/Incompressible.mo
Labels: L: Media, documentation

#2854 Add more spelling terms
  Modelica/package.mo
Labels: L: UsersGuide, documentation

#2851 Fix description of force and torque sources
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational

#2850 Move ZeroForceAndTorque from Sensors to Forces
  Modelica/Mechanics/MultiBody/Forces.mo
  Modelica/Mechanics/MultiBody/Joints.mo
  Modelica/Mechanics/MultiBody/Sensors.mo
  Modelica/Mechanics/MultiBody/Visualizers.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Mechanics.MultiBody, enhancement

#2731 Better initial angle phi_a of ModelicaTest.MultiBody.Joints.UniversalSpherical
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest
