Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-10, with the labels that each got.

#3126 Fixed typo to -> the in documentation
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, V: 3.2.3, documentation

#3136 Fixes #2028 by adding balance equation
  Modelica/StateGraph.mo
Labels: L: StateGraph

#3141 maint/3.2.3: Fix #2028 by adding balance equation
  Modelica/StateGraph.mo
Labels: L: StateGraph, bug

#3135 Fixes #778 by renaming "Commuting" to "TwoWay"
  Modelica/Electrical/Analog/Ideal.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog, task

#3138 Fix #3096 by replacing T_heatPort with heatPort.T in documentation
  Modelica/Electrical/Analog/Lines.mo
Labels: L: Electrical.Analog, documentation

#3133 Made engine designs consistent w.r.t. the whole design scenario
  Modelica/Mechanics/MultiBody/Examples/Loops/Engine1a.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Engine1b.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Engine1b_analytic.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Utilities.mo
Labels: L: Mechanics.MultiBody, example

#3130 Remove wrong documentation of Modelica.Media.Examples.MoistAir
  Modelica/Media/package.mo
Labels: L: Media, documentation, example

#3128 maint/3.2.3: Fix compilation of ModelicaMatIO.c if HAVE_ZLIB=0 is defined
  Modelica/Resources/C-Sources/ModelicaMatIO.c
Labels: L: C-Sources, bug

#3123 Update reference34
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#3144 Fix month and year correction in ModelicaInternal_getTime
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, V: 3.2.2, bug

#3149 Update IdealCommutingSwitch to IdealTwoWaySwitch
  Modelica/Electrical/Analog/Examples/Utilities/RealSwitch.mo
  Modelica/Electrical/Analog/Examples/Utilities/SwitchedCapacitor.mo
  Modelica/Electrical/Polyphase/Ideal/IdealCommutingSwitch.mo
Labels: L: Electrical.Analog

#3148 Updates for latest changes to 3.4 grammar
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation, task

#3147 maint/3.2.3: Fix month and year correction in ModelicaInternal_getTime
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, V: 3.2.2, bug

#3129 Use InlineAfterIndexReduction consistently in Move.{position, position_der}
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational

#3066 Cures #3064 SaturatingInductor for 4.0.0-dev
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Resources/Images/Electrical/Analog/Basic/SaturatingInductor_Lact_i.png
  Modelica/Resources/Images/Electrical/Analog/Basic/SaturatingInductor_Lact_i_tight.png
  Modelica/Resources/Images/Electrical/Analog/Basic/SaturatingInductor_Psi_i.png
  ModelicaTest/Electrical/Analog/TestSaturatingInductor.mo
  ModelicaTest/Electrical/Analog/package.order
Labels: L: Electrical.Analog, P: highest, bug

#3067 Cures #3064 for 3.2.3
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Resources/Images/Electrical/Analog/Basic/SaturatingInductor_Lact_i.png
  Modelica/Resources/Images/Electrical/Analog/Basic/SaturatingInductor_Lact_i_tight.png
  Modelica/Resources/Images/Electrical/Analog/Basic/SaturatingInductor_Psi_i.png
  ModelicaTest/Electrical/Analog/TestSaturatingInductor.mo
  ModelicaTest/Electrical/Analog/package.mo
  ModelicaTest/Electrical/Analog/package.order
  ModelicaTest/Electrical/package.order
Labels: L: Electrical.Analog, P: highest, bug

#3010 Merge HeatingDiode with Diode
  Modelica/Electrical/Analog/Examples/HeatingRectifier.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog, task

#3131 Replace Modelica.Media.Air.ReferenceMoistAir.Utilities.Ice09_Utilities.Basic.{MyComplex, MyComplexF} by operator record Complex
  Modelica/Media/Air/ReferenceMoistAir.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
Labels: L: Media, V: 3.2.1, task

#3152 Fix variability from constant to parameter
  Modelica/Electrical/Machines.mo
Labels: L: Electrical.Machines, V: 4.0.0-dev, bug

#3151 maint/3.2.3: Fix diode current formula of HeatingDiode
  Modelica/Electrical/Analog/Semiconductors.mo
Labels: L: Electrical.Analog, bug

#3156 maint/3.2.3: Avoid division by zero in derivative of regRoot2 function
  Modelica/Fluid/Utilities.mo
Labels: L: Fluid, bug

#3159 Add User's Guide of Analog package
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Electrical/Analog/Lines.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Electrical/Analog/UsersGuide/Contact.mo
  Modelica/Electrical/Analog/UsersGuide/References.mo
  Modelica/Electrical/Analog/UsersGuide/ReleaseNotes.mo
  Modelica/Electrical/Analog/UsersGuide/package.mo
  Modelica/Electrical/Analog/UsersGuide/package.order
  Modelica/Electrical/Analog/package.mo
  Modelica/Electrical/Analog/package.order
Labels: L: Electrical.Analog, documentation

#3054 Resolves #2957 - Batteries
  Modelica/Electrical/Analog/Batteries.mo
  Modelica/Electrical/Analog/Examples/BatteryDischargeCharge.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/package.order
  Modelica/Electrical/Batteries/BaseClasses/BaseCellStack.mo
  Modelica/Electrical/Batteries/BaseClasses/package.mo
  Modelica/Electrical/Batteries/BaseClasses/package.order
  Modelica/Electrical/Batteries/BatteryStacks/CellRCStack.mo
  Modelica/Electrical/Batteries/BatteryStacks/CellStack.mo
  Modelica/Electrical/Batteries/BatteryStacks/SuperCap.mo
  Modelica/Electrical/Batteries/BatteryStacks/package.mo
  Modelica/Electrical/Batteries/BatteryStacks/package.order
  Modelica/Electrical/Batteries/Examples/BatteryDischargeCharge.mo
  Modelica/Electrical/Batteries/Examples/CCCVcharging.mo
  Modelica/Electrical/Batteries/Examples/SuperCapDischargeCharge.mo
  Modelica/Electrical/Batteries/Examples/package.mo
  Modelica/Electrical/Batteries/Examples/package.order
  Modelica/Electrical/Batteries/ParameterRecords/CellData.mo
  Modelica/Electrical/Batteries/ParameterRecords/ExampleData.mo
  Modelica/Electrical/Batteries/ParameterRecords/RCData.mo
  Modelica/Electrical/Batteries/ParameterRecords/package.mo
  Modelica/Electrical/Batteries/ParameterRecords/package.order
  Modelica/Electrical/Batteries/UsersGuide/Concept.mo
  Modelica/Electrical/Batteries/UsersGuide/Contact.mo
  Modelica/Electrical/Batteries/UsersGuide/Parameterization.mo
  Modelica/Electrical/Batteries/UsersGuide/References.mo
  Modelica/Electrical/Batteries/UsersGuide/ReleaseNotes.mo
  Modelica/Electrical/Batteries/UsersGuide/package.mo
  Modelica/Electrical/Batteries/UsersGuide/package.order
  Modelica/Electrical/Batteries/Utilities/CCCVcharger.mo
  Modelica/Electrical/Batteries/Utilities/PulseSeries.mo
  Modelica/Electrical/Batteries/Utilities/package.mo
  Modelica/Electrical/Batteries/Utilities/package.order
  Modelica/Electrical/Batteries/package.mo
  Modelica/Electrical/Batteries/package.order
  Modelica/Electrical/package.order
Labels: L: Electrical.Batteries, P: high, enhancement

#3118 Bug in pressure influence in moist air function s_pTX and s_pTX_der
  Modelica/Media/Air/MoistAir.mo
  ModelicaTest/Media.mo
Labels: L: Media, bug

#3174 Remove undeclared variable from Dialog.enable
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody, bug

#3166 Add descriptions to table interpolation functions
  Modelica/Blocks/Tables.mo
Labels: L: Blocks, task

#3175 Remove undeclared variable from Dialog.enable
  Modelica/Mechanics/MultiBody/Visualizers.mo
Labels: L: Mechanics.MultiBody, bug

#3167 Merge HeatingNMOS/HeatingPMOS with NMOS/PMOS
  Modelica/Electrical/Analog/Examples/HeatingMOSInverter.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog, task

#3178 Merge HeatingNPN/HeatingPNP with NPN/PNP
  Modelica/Electrical/Analog/Examples/HeatingNPN_NORGate.mo
  Modelica/Electrical/Analog/Examples/HeatingPNP_NORGate.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog, task

#3169 Fix #3165 by improving the icon design of the firing connector
  Modelica/Electrical/Analog/Ideal.mo
  Modelica/Electrical/Analog/Semiconductors.mo
Labels: L: Electrical.Analog

#3180 Update description of diagram layer
  Modelica/package.mo
Labels: L: UsersGuide, documentation

#3170 maint/3.2.3: Bug in pressure influence in moist air function s_pTX and s_pTX_der
  Modelica/Media/Air/MoistAir.mo
  ModelicaTest/Media.mo
Labels: L: Media, bug
