Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-05, with the labels that each got.

#2902 Fix for Euler's constant
  Modelica/Constants.mo
Labels: L: Constants

#2895 Utilize inheritance in Mechanics.Translational
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Translational

#2915 Fix compilation of ModelicaStandardTables.c if both TABLE_SHARE and NO_FILE_SYSTEM are defined
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, bug

#2912 Rename tau_constant to tau_nominal
  Modelica/Mechanics/Rotational.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Mechanics.Rotational

#2649 Faulty parameter description in Mechanics and StateGraph
  Modelica/Mechanics/MultiBody/Parts.mo
  Modelica/Mechanics/MultiBody/Visualizers.mo
  Modelica/Mechanics/MultiBody/package.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
  Modelica/StateGraph.mo
Labels: L: Mechanics.MultiBody, L: Mechanics.Rotational, L: Mechanics.Translational, L: StateGraph

#2882 Rename HeatingNPN_OrGate to HeatingNPN_NORGate
  Modelica/Electrical/Analog/Examples/HeatingNPN_NORGate.mo
  Modelica/Electrical/Analog/Examples/package.order
Labels: L: Electrical.Analog, example

#2917 Add description strings to function arguments of BooleanVectors.{anyTrue, firstTrueIndex, oneTrue}
  Modelica/Math/BooleanVectors.mo
Labels: L: Math, P: low

#2924 Fix ModelicaTest.Rotational.TestBraking.
  ModelicaTest/Rotational.mo
Labels: L: ModelicaTest

#2910 Fix component name from variableResistor to variableConductor to match class name
  Modelica/Electrical/QuasiStationary/MultiPhase.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.QuasiStationary

#2887 Remove unused parameter n from ToKelvin/FromKelvin conversion models
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Thermal/HeatTransfer.mo
  ModelicaTestConversion4.mo
Labels: L: Thermal.HeatTransfer

#2914 Rename of QuasiStationary to QuasiStatic
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/MultiPhase.mo
  Modelica/Electrical/QuasiStatic/Machines.mo
  Modelica/Electrical/QuasiStatic/MultiPhase.mo
  Modelica/Electrical/QuasiStatic/SinglePhase.mo
  Modelica/Electrical/QuasiStatic/Types.mo
  Modelica/Electrical/QuasiStatic/UsersGuide.mo
  Modelica/Electrical/QuasiStatic/package.mo
  Modelica/Electrical/QuasiStatic/package.order
  Modelica/Electrical/package.order
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Basic/GB_admittance.png
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Basic/RX_impedance.png
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Basic/dc_dt.png
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Basic/dl_dt.png
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Ideal/IdealIntermediateSwitch1.png
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Ideal/IdealIntermediateSwitch2.png
  Modelica/Resources/Images/Electrical/QuasiStatic/SinglePhase/Sources/FrequencySweepSource.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/img1.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/img2.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/img3.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/img4.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/img5.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/phasor_diagram.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit/resonance_circuit.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Introduction/img1.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Introduction/img2.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Introduction/img3.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Introduction/phasor_voltage.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/i_c.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/i_l.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/i_r.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/p_r.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/power_c.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/power_capacitor.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/power_inductor.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/power_l.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/power_r.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/power_resistor.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/q_c.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/q_l.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/s.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/v_c.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/v_l.png
  Modelica/Resources/Images/Electrical/QuasiStatic/UsersGuide/Overview/Power/v_r.png
  Modelica/Resources/Images/UsersGuide/Conventions/Icons/colorSampleElectricalQuasiStatic.png
  Modelica/Resources/Images/UsersGuide/QuasiStaticMultiPhasePlugs.png
  Modelica/Resources/Images/UsersGuide/QuasiStaticSinglePhasePins.png
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  Modelica/package.mo
  ModelicaTest/Electrical/MultiSensorTest.mo
  ModelicaTest/Electrical/QuasiStatic/MultiPhase.mo
  ModelicaTest/Electrical/QuasiStatic/SinglePhase.mo
  ModelicaTestConversion4.mo
Labels: L: Electrical.Machines, L: Electrical.QuasiStationary

#2928 Re-add missing C-files from autotools project
  Modelica/Resources/BuildProjects/autotools/Makefile.am
Labels: L: C-Sources

#2918 Fix compilation if both TABLE_SHARE and NO_FILE_SYSTEM are defined
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, bug

#2753 Use ellipses in Mechanics
  Modelica/Mechanics/MultiBody/Examples/Elementary/LineForceWithTwoMasses.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheelSetPulling.mo
  Modelica/Mechanics/MultiBody/Frames.mo
  Modelica/Mechanics/MultiBody/Parts.mo
  Modelica/Mechanics/MultiBody/Sensors.mo
  Modelica/Mechanics/MultiBody/Types.mo
  Modelica/Mechanics/MultiBody/Visualizers.mo
  Modelica/Mechanics/MultiBody/package.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.MultiBody, L: Mechanics.Rotational, L: Mechanics.Translational, documentation

#2876 Fix usage of Modelica.SIunits.Height in Modelica.Fluid
  Modelica/Fluid/Examples/AST_BatchPlant.mo
  Modelica/Fluid/Examples/HeatExchanger.mo
  Modelica/Fluid/Fittings.mo
  Modelica/Fluid/Machines.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Fluid/Types.mo
Labels: L: Fluid, bug

#2878 Add start value for RadioButtonSource
  Modelica/Blocks/Sources.mo
Labels: L: Blocks

#2881 Remove ControlledTankSystem.Utilities.RadioButton
  Modelica/Fluid/Examples/ControlledTankSystem.mo
Labels: L: Fluid, example

#2883 Rename simpleMoistAir to SimpleMoistAir
  Modelica/Media/IdealGases/MixtureGases.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Media

#2861 Clarify simplifying assumptions for Modelica.Media.Incompressible
  Modelica/Media/Incompressible.mo
Labels: L: Media, documentation

#2929 Convert BasicTransformer
  Modelica/Electrical/Machines.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Machines, task

#2890 Clarify model description of temperature conversion models
  Modelica/Thermal/HeatTransfer.mo
Labels: L: Thermal.HeatTransfer, P: low

#2926 Proper axes orientation and initialization of UniversalSpherical
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest

#2943 Add missing `each` in Modelica.Electrical.Analog.Basic.M_Transformer
  Modelica/Electrical/Analog/Basic.mo
Labels: L: Electrical.Analog

#2900 Remove prefix "wheel" in parameters' name
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheel.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheelSetDriving.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/RollingWheelSetPulling.mo
  Modelica/Mechanics/MultiBody/Joints.mo
  Modelica/Mechanics/MultiBody/Parts.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Mechanics.MultiBody, enhancement

#2922 Fix initialization of ModelicaTest.MultiBody.Joints.UniversalSpherical
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest

#2774 Update of values for Modelica.Constants according to codata2017
  Modelica/Constants.mo
Labels: L: Constants, enhancement

#2853 Fix description of force and torque sources
  Modelica/Mechanics/Rotational.mo
  Modelica/Mechanics/Translational.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational

#2951 (Maintenance branch) Avoid Boolean comparison with Real in DynamicSelect
  Modelica/Blocks/Interaction.mo
  Modelica/Blocks/Interfaces.mo
  Modelica/Blocks/MathBoolean.mo
  Modelica/Blocks/Sources.mo
  Modelica/Fluid/Examples/ControlledTankSystem.mo
  Modelica/Fluid/Valves.mo
  Modelica/StateGraph.mo
Labels: L: Blocks, L: Fluid, L: StateGraph, bug
