Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-11, with the labels that each got.

#3182 Fix conversion test and obsoleted library
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Blocks, L: Electrical.Spice3, L: ObsoleteModelica, V: 4.0.0-dev

#3183 Add substrate (optional connector) to bipolar transistor models
  Modelica/Electrical/Analog/Semiconductors.mo
Labels: L: Electrical.Analog, bug, enhancement

#3187 Make the SimpleTriac model extend from conditional heatport model like the rest
  Modelica/Electrical/Analog/Semiconductors.mo
Labels: L: Electrical.Analog, enhancement

#3189 Fix typo in enthalpy formula
  ModelicaReference/package.mo
Labels: L: ModelicaReference, P: trivial, documentation

#3194 Add description comments to arguments of "built-in" mathematical functions
  Modelica/Math/package.mo
Labels: L: Math

#3191 Add/fix parameter description comments in Media examples
  Modelica/Media/package.mo
Labels: L: Media, example

#3193 Improve meaning of Modelica.Math.Nonlinear.Examples.QuadratureLobatto3
  Modelica/Math/Nonlinear.mo
Labels: L: Math, example

#3192 Renaming imports should be avoided
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#3197 Fix specific gas constant in BaseProperties of ReferenceAir
  Modelica/Media/Air/ReferenceAir.mo
Labels: L: Media, bug

#3202 Update documentation of PartialMedium.BaseProperties
  Modelica/Media/package.mo
Labels: L: Media, P: trivial, documentation

#3203 maint/3.2.3: Fix specific gas constant in BaseProperties of ReferenceAir
  Modelica/Media/Air/ReferenceAir.mo
Labels: L: Media, bug

#3206 Have absolute repository links in README.md
  README.md
Labels: P: low

#3196 Improve upper Hessenberg; document and test ilo/ihi
  Modelica/Math/package.mo
  ModelicaTest/Math.mo
Labels: L: Math, documentation

#3160 Add User's Guide of HeatTransfer
  Modelica/Thermal/HeatTransfer/Components/Convection.mo
  Modelica/Thermal/HeatTransfer/UsersGuide/Contact.mo
  Modelica/Thermal/HeatTransfer/UsersGuide/References.mo
  Modelica/Thermal/HeatTransfer/UsersGuide/ReleaseNotes.mo
  Modelica/Thermal/HeatTransfer/UsersGuide/package.mo
  Modelica/Thermal/HeatTransfer/UsersGuide/package.order
  Modelica/Thermal/HeatTransfer/package.mo
  Modelica/Thermal/HeatTransfer/package.order
Labels: L: Thermal.HeatTransfer, documentation

#3198 Fix more conversions
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ObsoleteModelica4.mo
Labels: L: ObsoleteModelica, V: 4.0.0-dev

#3204 Fix definition of specificInternalEnergy in MoistAir
  Modelica/Media/Air/MoistAir.mo
  ModelicaTest/Media.mo
Labels: L: Media, bug

#3208 Remove comment on undocumented Dymola function LogVariable
  Modelica/Media/Water/IF97_Utilities.mo
Labels: L: Media, P: low

#3161 Replace stray reluctance by permeance models
  Modelica/Magnetic/FundamentalWave/BasicMachines/Components/SinglePhaseWinding.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/Components/SymmetricPolyphaseWinding.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/Components/SymmetricPolyphaseWinding.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, enhancement, tool-issue

#3209 Fix definition of specificInternalEnergy in MoistAir
  Modelica/Media/Air/MoistAir.mo
  ModelicaTest/Media.mo
Labels: L: Media, bug

#3190 Rename specific gas constant R to R_s
  Modelica/Media/Air/MoistAir.mo
  Modelica/Media/Air/ReferenceAir.mo
  Modelica/Media/Air/ReferenceMoistAir.mo
  Modelica/Media/IdealGases/Common/Functions.mo
  Modelica/Media/IdealGases/Common/SingleGasesData.mo
  Modelica/Media/IdealGases/Common/package.mo
  Modelica/Media/Incompressible.mo
  Modelica/Media/R134a.mo
  Modelica/Media/Water/IF97_Utilities.mo
  Modelica/Media/Water/package.mo
  Modelica/Media/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaReference/package.mo
Labels: L: Media, task

#3211 Correct current equation in documentation of package Ideal
  Modelica/Electrical/Analog/Ideal.mo
Labels: L: Electrical.Analog, documentation

#3212 Remove obsolete variables from Modelica.Electrical.Spice3.Internal.MOS2
  Modelica/Electrical/Spice3.mo
  Modelica/package.mo
Labels: L: Electrical.Spice3, V: 4.0.0-dev

#3195 Extended conversion based on inheritance
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: V: 4.0.0-dev

#3213 Avoid wildcard imports from documentation
  Modelica/SIunits.mo
  Modelica/Thermal/HeatTransfer/Celsius/package.mo
  Modelica/Thermal/HeatTransfer/Fahrenheit/package.mo
  Modelica/Thermal/HeatTransfer/Rankine/package.mo
  Modelica/Thermal/HeatTransfer/UsersGuide/package.mo
Labels: L: Thermal.HeatTransfer, documentation

#3214 Avoid all wildcard imports in ModelicaTest
  ModelicaTest/Fluid/TestUtilities/TestRegFunctions.mo
  ModelicaTest/Fluid/TestUtilities/TestRegStep.mo
  ModelicaTest/Math.mo
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest, task

#3216 Fix minor parentheses flaw in documentation of Modelica.Media.Incompressible.TableBased.BaseProperties
  Modelica/Media/Incompressible.mo
Labels: L: Media, P: low, documentation

#3207 Replace Modelica.Media.Common.OneNonLinearEquation by Modelica.Math.Nonlinear.solveOneNonlinearEquation
  Modelica/Math/Nonlinear.mo
  Modelica/Media/Air/MoistAir.mo
  Modelica/Media/IdealGases/Common/package.mo
  Modelica/Media/Incompressible.mo
  Modelica/Media/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Media.mo
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Media, enhancement, task

#3215 Add documentation to examples in Modelica.Media.Examples.SolveOneNonlinearEquation
  Modelica/Media/package.mo
Labels: L: Media, example

#3222 Exclude superfluous headers for ModelicaInternal.c if NO_FILE_SYSTEM is defined
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, enhancement

#3227 Fix misleading Greek symbols in documentation
  Modelica/Fluid/Fittings.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Fluid/package.mo
  Modelica/Math/package.mo
  Modelica/Mechanics/MultiBody/Frames.mo
  Modelica/Mechanics/MultiBody/Sensors.mo
  Modelica/Media/Water/IF97_Utilities.mo
Labels: L: Fluid, L: Math, L: Mechanics.MultiBody, L: Media, P: trivial, documentation

#3224 Add automaticLocalSeed in Math.Random and utilize in noise blocks
  Modelica/Blocks/Interfaces.mo
  Modelica/Blocks/Noise.mo
  Modelica/Math/Random.mo
  ModelicaTest/Math.mo
Labels: L: Blocks, L: Math, V: 3.2.2, enhancement

#3185 Add documentation and description strings to Modelica.Fluid.Dissipation.Utilities.Functions.General.{CubicInterpolation_lambda, CubicInterpolation_Re}
  Modelica/Fluid/Dissipation.mo
  Modelica/Fluid/Pipes.mo
Labels: L: Fluid.Dissipation, documentation

#3232 Enable negative capacitance in SPICE3
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3

#3235 Add conditional initial equation capacitor
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, bug

#3238 Fix models broken by #3214.
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest, V: 4.0.0-dev

#3239 Add conditional initial equation capacitor
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, bug
