Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-02, with the labels that each got.

#2803 Fix hysteresis comments
  Modelica/Blocks/Logical.mo
Labels: L: Blocks

#2821 Update issue links
  Modelica/Blocks/Nonlinear.mo
  Modelica/Electrical/QuasiStationary/UsersGuide.mo
  Modelica/Mechanics/Rotational.mo
  Modelica/package.mo
  ModelicaTest/Fluid/TestUtilities/Test01RegFun3.mo
  ModelicaTest/Fluid/TestUtilities/Test02RegFun3.mo
  ModelicaTest/MultiBody.mo
Labels: documentation, task

#2824 Increment package version number to 4.0.0-dev
  Complex.mo
  Modelica/package.mo
  ModelicaReference/package.mo
  ModelicaServices/package.mo
  ModelicaTest/package.mo
  ModelicaTestOverdetermined.mo
  ObsoleteModelica3.mo
Labels: task

#2819 Move legacy conversion scripts
  Modelica/Resources/Scripts/Conversion/Description.txt
  Modelica/Resources/Scripts/Conversion/Dymola/ConvertModelica_from_1.6_to_2.1.mos
  Modelica/Resources/Scripts/Conversion/Dymola/ConvertModelica_from_2.1Beta1_to_2.1.mos
  Modelica/Resources/Scripts/Conversion/Dymola/ConvertModelica_from_2.2.2_to_3.0.mos
  Modelica/package.mo
Labels: task

#2828 Utilize enumeration for clean-up alternatives in ModelicaStandardTables.c
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, P: low

#2829 Update 3rd-party header uthash to v2.1.0
  Modelica/Resources/C-Sources/uthash.h
Labels: L: C-Sources, enhancement

#2830 Update Matio library v1.5.13
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
Labels: L: C-Sources, enhancement

#2593 Reintroduce UTF-8 characters that were removed for v3.2.3 release
  Modelica/ComplexBlocks.mo
  Modelica/Fluid/Examples/DrumBoiler.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes.mo
Labels: CI, L: Complex*, L: Fluid, L: Magnetic.QuasiStatic

#2825 Update library officers
  Modelica/package.mo
Labels: documentation

#2822 Fix ComplexPassThrough to operate on Complex signals
  Modelica/ComplexBlocks.mo
Labels: L: Complex*, bug

#2827 Improve block icons and diagrams of Math.{Add,Add3,Division} and ComplexMath.{Add,Add3,Division}
  Modelica/Blocks/Math.mo
  Modelica/ComplexBlocks.mo
Labels: L: Blocks, L: Complex*

#2823 Fix icon frame color for Complex blocks
  Modelica/ComplexBlocks.mo
Labels: L: Complex*, enhancement

#2826 Remove outdated documentation on bivariate extrapolation
  Modelica/Blocks/Tables.mo
Labels: L: Blocks, P: low, documentation
