Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-01, with the labels that each got.

#2711 Upgrade icon of rotational relative states
  Modelica/Mechanics/Rotational.mo
Labels: L: Mechanics.Rotational

#2666 Solved #2636 for Modelica.Electrical.{Analog, Digital, Spice3}
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Electrical/Analog/Examples/CauerLowPassAnalog.mo
  Modelica/Electrical/Analog/Examples/CauerLowPassOPV.mo
  Modelica/Electrical/Analog/Examples/CauerLowPassSC.mo
  Modelica/Electrical/Analog/Examples/HeatingNPN_OrGate.mo
  Modelica/Electrical/Analog/Examples/HeatingPNP_NORGate.mo
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Examples/Rectifier.mo
  Modelica/Electrical/Analog/Examples/ResonanceCircuits.mo
  Modelica/Electrical/Analog/Lines.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Electrical/Digital.mo
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Analog, L: Electrical.Digital, L: Electrical.Spice3

#2754 Fixes #2401 by correcting the spelling of Density
  Modelica/SIunits.mo
Labels: L: SIunits

#2272 Add ModelicaWarning (of Modelica Specification 3.4)
  Modelica/Resources/C-Sources/ModelicaUtilities.h
Labels: L: C-Sources, enhancement

#2684 Refs #2636: Fix of parameter descriptions strings in Electric.{Machines|MultiPhase|PowerConverters} and Magnetic.*
  Modelica/Electrical/Machines.mo
  Modelica/Electrical/MultiPhase.mo
  Modelica/Electrical/PowerConverters.mo
  Modelica/Electrical/QuasiStationary/MultiPhase.mo
  Modelica/Electrical/QuasiStationary/SinglePhase.mo
  Modelica/Magnetic/FluxTubes.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave.mo
Labels: L: Electrical.Machines, L: Electrical.PowerConverters, L: Electrical.QuasiStationary, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, documentation
