Repository modelica/ModelicaStandardLibrary, pull requests merged in 2019-06, with the labels that each got.

#2956 Illegal usage of conditional component in Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMEE_DOL
  Modelica/Magnetic/FundamentalWave.mo
Labels: L: Magnetic.FundamentalWave, P: high, bug

#2958 issue #2936 same changes for maint/3.2.3 as PR #2956 for master
  Modelica/Magnetic/FundamentalWave.mo
Labels: L: Magnetic.FundamentalWave, P: high, V: 3.2.3, bug

#2947 Convert Clock
  Modelica/Blocks/Sources.mo
  Modelica/Blocks/Tables.mo
  Modelica/Blocks/package.mo
  Modelica/Electrical/Digital.mo
  Modelica/Resources/Images/Blocks/Sources/ContinuousClock.png
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Blocks.mo
  ModelicaTest/Tables/CombiTable1Ds.mo
  ModelicaTest/Tables/CombiTable1Dv.mo
  ModelicaTest/Tables/CombiTable2Ds.mo
  ModelicaTest/Tables/CombiTable2Dv.mo
  ModelicaTestConversion4.mo
Labels: L: Blocks, L: Electrical.Digital, task

#2927 Update overview figure of rotational library
  Modelica/Resources/Images/UsersGuide/Lib-Rotational.png
Labels: L: UsersGuide, P: low

#2909 Fix issues concerning user's guide conventions
  Modelica/package.mo
Labels: L: UsersGuide

#2948 Add missing `each` in Modelica.Electrical.Analog.Basic.M_Transformer
  Modelica/Electrical/Analog/Basic.mo
Labels: L: Electrical.Analog

#2939 Added reference to AST_BatchPlant documentation
  Modelica/Fluid/Examples/AST_BatchPlant.mo
Labels: L: Fluid, example

#2980 Capitalize docstring of Fluxtubes
  Modelica/Magnetic/FluxTubes.mo
Labels: L: Magnetic.FluxTubes

#2976 Add more terms to the list of electrical terms
  Modelica/package.mo
Labels: L: UsersGuide, documentation

#2978 Update Block docstrings to start with uppercase character
  Modelica/Blocks/Discrete.mo
  Modelica/Blocks/Interfaces.mo
  Modelica/Blocks/Math.mo
  Modelica/Blocks/MathBoolean.mo
  Modelica/Blocks/package.mo
Labels: L: Blocks

#2857 Drop deprecated LAPACK apis
  .travis.mos
  .travis.yml
  Modelica/Math/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: CI, L: Math, task

#2170 Fix nontrivial typos
  Modelica/Electrical/Spice3.mo
  Modelica/Fluid/Dissipation.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Thermal/FluidHeatFlow.mo
  ModelicaTestConversion4.mo
Labels: L: Electrical.Spice3, L: Fluid.Dissipation, L: Thermal.FluidHeatFlow, task

#2981 Convert FirstOrderTemperaturCoefficient and SecondOrderTemperaturCoefficient
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/SIunits.mo
  ModelicaTestConversion4.mo
Labels: L: SIunits

#2985 Rename nue to nu
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Thermal/FluidHeatFlow.mo
  ModelicaTest/Fluid/Dissipation.mo
  ModelicaTestConversion4.mo
Labels: L: ModelicaTest, L: Thermal.FluidHeatFlow, task

#2977 Unify domain colors in ComplexBlocks
  Modelica/ComplexBlocks.mo
Labels: L: Complex*, task

#2982 Change unit of apparent power from "VA" to "V.A"
  Modelica/SIunits.mo
Labels: L: SIunits, bug

#2988 Change unit of apparent power from "VA" to "V.A" in maint/3.2.3
  Modelica/SIunits.mo
Labels: L: SIunits, bug

#2959 Implement simple battery (see issue #2957)
  Modelica/Electrical/Analog/Batteries.mo
  Modelica/Electrical/Analog/Examples/BatteryDischargeCharge.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/Interfaces.mo
  Modelica/Electrical/Analog/package.order
Labels: L: Electrical.Analog, P: low, enhancement

#2983 Convert "HeatingResistor" to "Resistor" in Electrical.Analog
  Modelica/Electrical/Analog/Basic.mo
  Modelica/Electrical/Analog/Examples/Resistor.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Electrical.Analog, task

#2989 Remove Modelica.Math.{tempInterpol1, tempInterpol2}
  Modelica/Math/package.mo
  Modelica/Math/package.order
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Math, task

#2984 Remove ObsoleteModelica3 and conversion to MSL v3.x.y
  .gitattributes
  .travis.mos
  .travis.yml
  Modelica/Resources/Scripts/Conversion/Dymola/ConvertModelica_from_1.6_to_2.1.mos
  Modelica/Resources/Scripts/Conversion/Dymola/ConvertModelica_from_2.1Beta1_to_2.1.mos
  Modelica/Resources/Scripts/Conversion/Dymola/ConvertModelica_from_2.2.2_to_3.0.mos
  Modelica/package.mo
  ObsoleteModelica3.mo
Labels: L: ObsoleteModelica, task

#2996 Remove obsolete Media test-only examples
  Modelica/Media/package.mo
Labels: L: Media, example

#3008 Remove obsolete icons Modelica.Math.{baseIcon1, baseIcon2}
  Modelica/Math/package.mo
  Modelica/Math/package.order
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Math, task

#2880 Remove StateGraph.Temporary
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/StateGraph.mo
  ModelicaTestConversion4.mo
Labels: L: StateGraph, task

#2967 PowerConverters...Signal2mPulse (maint/3.2.3)
  Modelica/Electrical/PowerConverters.mo
Labels: L: Electrical.PowerConverters, bug

#3007 Remove irrelevant documentation Modelica.Mechanics.MultiBody.UsersGuide.Upgrade
  Modelica/Mechanics/MultiBody/package.mo
Labels: L: Mechanics.MultiBody, documentation

#2992 Fix spelling and enhance battery example of #2957
  Modelica/Electrical/Analog/Batteries.mo
  Modelica/Electrical/Analog/Examples/BatteryDischargeCharge.mo
Labels: L: Electrical.Analog, enhancement

#3012 Convert obsolete icons and adaptors from Modelica.Blocks.Interfaces
  Modelica/Blocks/Interfaces.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Blocks

#2898 Remove legacy initialization of Modelica.Blocks.Continuous.{PID, LimPID}
  Modelica/Blocks/Continuous.mo
  Modelica/Blocks/Types.mo
  Modelica/Blocks/package.mo
  Modelica/Electrical/Machines.mo
  Modelica/Magnetic/FundamentalWave.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Blocks.mo
  ModelicaTestConversion4.mo
Labels: L: Blocks, task

#2979 Improved OpAmp-Examples, new partial FourPin necessary
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Interfaces.mo
Labels: L: Electrical.Analog, P: low, enhancement, example

#3011 Remove obsolete icons in Modelica.Icons and also Modelica.Mechanics.MultiBody.Icons.MotorIcon
  Modelica/Icons.mo
  Modelica/Mechanics/MultiBody/Icons.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Icons, L: Mechanics.MultiBody, task
