Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-10, with the labels that each got.

#3639 Fix missing include in Common.c (CI)
  .CI/Test/Common.c
Labels: CI

#3642 Include provided header files (CI)
  .CI/Test/FileSystem.c
  .CI/Test/ModelicaStrings.c
  .CI/Test/Tables.c
  .CI/Test/TablesNoUsertab.c
Labels: CI

#3627 Blocks.Routing.Extractor: add assert for input range
  Modelica/Blocks/Routing.mo
Labels: L: Blocks, bug

#3645 Blocks.Routing.Extractor: add assert for input range
  Modelica/Blocks/Routing.mo
Labels: L: Blocks, bug

#3646 Blocks.Routing.Extractor: add assert for input range
  Modelica/Blocks/Routing.mo
Labels: L: Blocks, bug

#3629 Fix outdated contact of Michael Sielemann
  Modelica/Fluid/Utilities.mo
  Modelica/Media/package.mo
Labels: L: Fluid, L: Media, documentation

#3644 End trailing newline in warning messages
  Modelica/Resources/C-Sources/ModelicaStrings.c
Labels: L: C-Sources, V: 4.1.0-dev

#3633 Describe the effect of w_small in friction elements
  Modelica/Mechanics/Rotational/Interfaces/PartialFriction.mo
Labels: L: Mechanics.Rotational, documentation
