Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-02, with the labels that each got.

#3371 Unify text and line colors of power converter icons
  Modelica/Electrical/Analog/Ideal.mo
  Modelica/Electrical/Analog/Semiconductors.mo
  Modelica/Electrical/PowerConverters/ACAC/PolyphaseTriac.mo
  Modelica/Electrical/PowerConverters/ACAC/SinglePhaseTriac.mo
  Modelica/Electrical/PowerConverters/ACDC/DiodeBridge2Pulse.mo
  Modelica/Electrical/PowerConverters/ACDC/DiodeBridge2mPulse.mo
  Modelica/Electrical/PowerConverters/ACDC/DiodeCenterTap2Pulse.mo
  Modelica/Electrical/PowerConverters/ACDC/DiodeCenterTap2mPulse.mo
  Modelica/Electrical/PowerConverters/ACDC/DiodeCenterTapmPulse.mo
  Modelica/Electrical/PowerConverters/ACDC/HalfControlledBridge2Pulse.mo
  Modelica/Electrical/PowerConverters/ACDC/HalfControlledBridge2mPulse.mo
  Modelica/Electrical/PowerConverters/ACDC/ThyristorBridge2Pulse.mo
  Modelica/Electrical/PowerConverters/ACDC/ThyristorBridge2mPulse.mo
  Modelica/Electrical/PowerConverters/ACDC/ThyristorCenterTap2Pulse.mo
  Modelica/Electrical/PowerConverters/ACDC/ThyristorCenterTap2mPulse.mo
  Modelica/Electrical/PowerConverters/ACDC/ThyristorCenterTapmPulse.mo
  Modelica/Electrical/PowerConverters/DCAC/Polyphase2Level.mo
  Modelica/Electrical/PowerConverters/DCAC/SinglePhase2Level.mo
  Modelica/Electrical/PowerConverters/DCDC/ChopperStepDown.mo
  Modelica/Electrical/PowerConverters/DCDC/ChopperStepUp.mo
  Modelica/Electrical/PowerConverters/DCDC/HBridge.mo
Labels: L: Electrical.Analog, L: Electrical.PowerConverters, enhancement

#3373 Documentation of LossyGearDemos improved (fixes #2934)
  Modelica/Mechanics/Rotational/Examples/LossyGearDemo1.mo
  Modelica/Mechanics/Rotational/Examples/LossyGearDemo2.mo
  Modelica/Mechanics/Rotational/UsersGuide/References.mo
  Modelica/Mechanics/Rotational/UsersGuide/package.order
Labels: L: Mechanics.Rotational, documentation, enhancement, example

#3381 Fix fixed attribute in SwitchYDwithArc.mo
  Modelica/Electrical/Machines/Utilities/SwitchYDwithArc.mo
Labels: L: Electrical.Machines, V: 4.0.0-dev

#3385 Change "invisible" output connectors to output Reals in Modelica.Blocks.Examples.NoiseExamples.Utilities.Parts.MotorWithCurrentControl
  Modelica/Blocks/package.mo
Labels: L: Blocks, example

#3386 Increase the stop time of Modelica.StateGraph.Examples.FirstExample and variants
  Modelica/StateGraph.mo
Labels: L: StateGraph, example

#3383 Move test-only models TestWallFriction and TestWallFrictionAndGravity to ModelicaTest
  Modelica/Fluid/Fittings.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTest/Fluid/BaseClasses.mo
  ModelicaTest/Fluid/TestComponents/Fittings/TestWallFriction.mo
  ModelicaTest/Fluid/TestComponents/Vessels/TestMixingVolumesPressureStates.mo
Labels: L: Fluid, L: ModelicaTest, task

#3382 Move Visualizers.Ground to ObsoleteModelica4
  Modelica/Mechanics/MultiBody/Visualizers.mo
  Modelica/Mechanics/MultiBody/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Mechanics.MultiBody, task

#3394 Add missing `each` to SMPM_ResistiveBraking example.
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_ResistiveBraking.mo
Labels: L: Electrical.Machines, V: 4.0.0-dev, example

#3388 Incorporate the new Modelica Libraries logo
  Modelica/Resources/Images/Logos/Modelica_Libraries.svg
  Modelica/package.mo
Labels: documentation

#3391 Avoid parameter dependency on Modelica.Constants.inf in Modelica.Fluid.Examples.Explanatory.MomentumBalanceFittings
  Modelica/Fluid/Examples/Explanatory.mo
  ModelicaTest/Fluid/TestComponents/Fittings/TestSuddenExpansion.mo
Labels: L: Fluid, L: ModelicaTest, example

#3395 Fix section numbers in MoMoLib_VerificationResults_XRG.pdf
  Modelica/Resources/Documentation/Media/MoMoLib_VerificationResults_XRG.pdf
Labels: L: Media, L: Resources, P: trivial

#3392 Add missing property calculation for d and T in Modelica.Media.R134a.R134a_ph.setState_psX
  Modelica/Media/R134a.mo
Labels: L: Media, bug

#3393 Rewrite Modelica.Media.R134a.R134a_ph.setState_phX as single line assignment for state record
  Modelica/Media/R134a.mo
Labels: L: Media

#3113 Evaluate parameters with intended structural impact in Mechanics
  Modelica/Mechanics/MultiBody/Joints.mo
  Modelica/Mechanics/MultiBody/Parts.mo
  Modelica/Mechanics/Rotational/Sources/Position.mo
  Modelica/Mechanics/Rotational/Sources/Speed.mo
  Modelica/Mechanics/Translational/Sources/Position.mo
  Modelica/Mechanics/Translational/Sources/Speed.mo
Labels: L: Mechanics.MultiBody, L: Mechanics.Rotational, L: Mechanics.Translational

#3397 maint/3.2.3: Add missing property calculation for d and T in Modelica.Media.R134a.R134a_ph.setState_psX
  Modelica/Media/R134a.mo
Labels: L: Media, bug

#3398 Update/fix matrix images for M_OLine
  Modelica/Resources/Images/Electrical/Analog/Lines/M_OLine-eqC.png
  Modelica/Resources/Images/Electrical/Analog/Lines/M_OLine-eqG.png
  Modelica/Resources/Images/Electrical/Analog/Lines/M_OLine-eqL.png
Labels: L: Electrical.Analog, documentation

#3403 Move common code to separate (protected) function Modelica.Media.IdealGases.Common.MixtureGasNasa.specificEntropyOfpTX
  Modelica/Media/IdealGases/Common/package.mo
Labels: L: Media, P: high

#3402 Fix consideration of pressure negligence for Modelica.Media.Incompressible.TableBased.T_ph
  Modelica/Media/Incompressible.mo
Labels: L: Media, P: high, bug

#3404 Fix Modelica.Media.IdealGases.Common.MixtureGasNasa.T_hX by consideration of all available function arguments of inverse function h_TX
  Modelica/Media/IdealGases/Common/package.mo
Labels: L: Media, P: high, bug

#3407 maint/3.2.3: Fix consideration of pressure negligence for T_ph
  Modelica/Media/Incompressible.mo
Labels: L: Media, bug

#3291 Fix simplified homotopy models
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Ideal.mo
  Modelica/Fluid/Examples/HeatExchanger.mo
  Modelica/Fluid/Examples/PumpingSystem.mo
  Modelica/Fluid/Machines.mo
  Modelica/Fluid/Types.mo
  Modelica/Fluid/Vessels.mo
Labels: L: Electrical.Analog, L: Fluid, example

#3416 Added Clocked to Modelica.UsersGuide.Overview
  Modelica/Resources/Images/UsersGuide/Lib-Clocked.png
  Modelica/package.mo
Labels: L: UsersGuide, V: 4.0.0-dev

#3419 Gas force example's initialization
  Modelica/Mechanics/Rotational/Sources/Position.mo
  Modelica/Mechanics/Translational/Sources/Position.mo
  ModelicaTest/MultiBody.mo
Labels: L: Mechanics.Rotational, L: Mechanics.Translational, L: ModelicaTest

#3413 Fix icons of QuasiStatic.SinglePhase and QuasiStatic.Polyphase
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/Capacitor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/Inductor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/MutualInductor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/VariableCapacitor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Basic/VariableInductor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Ideal/IdealIntermediateSwitch.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Interfaces/ReferenceSource.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Interfaces/RelativeSensorElementary.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Interfaces/Source.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Sensors/CurrentQuasiRMSSensor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Sensors/VoltageQuasiRMSSensor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Sources/VariableCurrentSource.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/Inductor.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/VariableCapacitor.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/VariableInductor.mo
Labels: L: Electrical.QuasiStatic, enhancement, icon

#3428 Add translational reference direction arrow to SweptVolume model
  Modelica/Fluid/Machines.mo
Labels: L: Fluid, icon

#3423 Fix index typo in Modelica.Media.Air.MoistAir.T_psX
  Modelica/Media/Air/MoistAir.mo
Labels: L: Media, V: 4.0.0-dev

#3422 Ref: #3341 Fixes the Mechanics documentation links
  Modelica/Mechanics/MultiBody/Visualizers/Advanced/Arrow.mo
  Modelica/Mechanics/MultiBody/Visualizers/Advanced/DoubleArrow.mo
  Modelica/Mechanics/MultiBody/Visualizers/package.mo
  Modelica/Resources/Images/Mechanics/MultiBody/Visualizers/GroundSmall.png
Labels: L: Mechanics.MultiBody, V: 4.0.0-dev, documentation

#3421 Fix links of the electrical and the magnetic domain
  Modelica/Electrical/Batteries/BaseClasses/BaseStackWithSensors.mo
  Modelica/Electrical/Batteries/BatteryStacks/CellStack.mo
  Modelica/Electrical/Batteries/BatteryStacksWithSensors/Stack.mo
  Modelica/Electrical/Batteries/BatteryStacksWithSensors/StackRC.mo
  Modelica/Electrical/Batteries/Examples/package.mo
  Modelica/Electrical/Batteries/ParameterRecords/TransientData/CellData.mo
  Modelica/Electrical/Batteries/UsersGuide/Parameterization.mo
  Modelica/Electrical/PowerConverters/UsersGuide/ACACConcept.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Interfaces/AbsoluteSensor.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Interfaces/RelativeSensorElementary.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Interfaces/AbsoluteSensor.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Interfaces/RelativeSensorElementary.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/Force/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/Leakage/package.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/ReleaseNotes.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/ReluctanceForceCalculation.mo
  Modelica/Magnetic/FundamentalWave/UsersGuide/ReleaseNotes.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Interfaces/RelativeSensor.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/UsersGuide/ReleaseNotes.mo
Labels: L: Electrical.Batteries, L: Electrical.PowerConverters, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, V: 4.0.0-dev, documentation

#3424 Fix ModelicaTest.Magnetic.FluxTubes.BasicComponents reported by #3415
  ModelicaTest/Magnetic/FluxTubes.mo
Labels: L: Magnetic.FluxTubes, L: ModelicaTest, V: 4.0.0-dev

#3410 Fix initial conditions of Magnetic.FluxTubes hysteresis examples
  Modelica/Magnetic/FluxTubes.mo
Labels: L: Magnetic.FluxTubes, bug, example

#3426 Change name TwoPorts => TwoPort
  Modelica/Magnetic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/Force.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/Generic.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/Leakage.mo
  Modelica/Magnetic/FluxTubes/Basic/ConstantPermeance.mo
  Modelica/Magnetic/FluxTubes/Basic/ConstantReluctance.mo
  Modelica/Magnetic/FluxTubes/Basic/EddyCurrent.mo
  Modelica/Magnetic/FluxTubes/Basic/Idle.mo
  Modelica/Magnetic/FluxTubes/Basic/Short.mo
  Modelica/Magnetic/FluxTubes/Basic/VariablePermeance.mo
  Modelica/Magnetic/FluxTubes/Basic/VariableReluctance.mo
  Modelica/Magnetic/FluxTubes/Interfaces/TwoPort.mo
  Modelica/Magnetic/FluxTubes/Interfaces/TwoPortElementary.mo
  Modelica/Magnetic/FluxTubes/Interfaces/TwoPortExtended.mo
  Modelica/Magnetic/FluxTubes/Interfaces/package.order
  Modelica/Magnetic/FluxTubes/Sensors/MagneticFluxSensor.mo
  Modelica/Magnetic/FluxTubes/Sensors/MagneticPotentialDifferenceSensor.mo
  Modelica/Magnetic/FluxTubes/Sources/ConstantMagneticFlux.mo
  Modelica/Magnetic/FluxTubes/Sources/ConstantMagneticPotentialDifference.mo
  Modelica/Magnetic/FluxTubes/Sources/SignalMagneticFlux.mo
  Modelica/Magnetic/FluxTubes/Sources/SignalMagneticPotentialDifference.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/BaseClasses/Leakage.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/ConstantPermeance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/ConstantReluctance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/EddyCurrent.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/Idle.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/Short.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/VariablePermeance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Basic/VariableReluctance.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Examples/package.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Interfaces/RelativeSensor.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Interfaces/TwoPort.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Interfaces/TwoPortElementary.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Interfaces/package.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Interfaces/package.order
  Modelica/Magnetic/QuasiStatic/FluxTubes/Sensors/Transient/FundamentalWavePermabilitySensor.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Sensors/Transient/Permeability.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
Labels: L: Magnetic.FluxTubes, L: Magnetic.QuasiStatic, enhancement

#3431 Fix unconsidered change of parameter c_usefulFlux from default to start
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
Labels: L: Magnetic.FluxTubes, bug

#3427 Fix MSL 4.0.0 initial conditions of Magnetic.FluxTubes hysteresis examples
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/Components/Transformer3PhaseYyWithHysteresis.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/HysteresisModelComparison.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/SinglePhaseTransformerWithHysteresis1.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/SinglePhaseTransformerWithHysteresis2.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/ThreePhaseTransformerWithRectifier.mo
Labels: L: Magnetic.FluxTubes, bug, example

#3438 Fully specify initial conditions of Spice3 examples
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, example

#3437 Fix icons of Modelica.Electrical.Spice3.Basic to follow the conventions
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, icon

#3436 Fix connect line color of Spice3 examples
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, example

#3441 Rename NoiseExamples -> Noise
  Modelica/Blocks/package.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
Labels: L: Blocks, example, task

#3405 maint/3.2.3: Fix mass flow rate calculation
  Modelica/Fluid/Dissipation.mo
Labels: L: Fluid.Dissipation, bug

#3321 Replaced explicit syntax sections with link to Modelica Grammar
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#3443 Add synchronous language elements to ModelicaReference
  ModelicaReference/package.mo
  ModelicaReference/package.order
Labels: L: ModelicaReference, documentation

#3444 Increase comparison tolerance of ModelicaTest.Fluid.TestComponents.Sensors.TestTemperature1
  ModelicaTest/Fluid/TestComponents/Sensors/TestTemperature1.mo
  ModelicaTest/Fluid/TestComponents/Sensors/TestTemperature2.mo
Labels: L: ModelicaTest

#3447 Refs #3439: Remove %name from FixedShape icon graphics to avoid duplicate display
  Modelica/Magnetic/QuasiStatic/FluxTubes/BaseClasses/FixedShape.mo
Labels: L: Magnetic.QuasiStatic, V: 4.0.0-dev, icon

#3452 Fully specify initial conditions in clocked models
  Modelica/Clocked/Examples/Systems/Utilities/ComponentsThrottleControl/SpeedControl.mo
  Modelica/Clocked/IntegerSignals/NonPeriodic/IntegerChange.mo
Labels: L: Clocked, V: 4.0.0-dev, example

#3448 Refs #3435: Fully specify initial conditions of examples in QuasiStatic.FluxTubes.Examples.Leakage
  Modelica/Magnetic/QuasiStatic/FluxTubes/Examples/Leakage/CylinderLeakage.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Examples/Leakage/GeneralLeakage.mo
Labels: L: Magnetic.QuasiStatic

#3449 Update version management section to reflect semver based versions
  Complex.mo
  Modelica/package.mo
  ModelicaReference/package.mo
  ModelicaServices/package.mo
  ModelicaTest/package.mo
  ModelicaTestOverdetermined.mo
  ObsoleteModelica4.mo
Labels: L: UsersGuide, documentation

#3454 Fixing common spelling mistakes with help of codespell
  .gitattributes
  Modelica/Clocked/BooleanSignals/Sampler/BackSample.mo
  Modelica/Clocked/BooleanSignals/Sampler/ShiftSample.mo
  Modelica/Clocked/IntegerSignals/Sampler/BackSample.mo
  Modelica/Clocked/RealSignals/Sampler/BackSample.mo
  Modelica/Electrical/Analog/Basic/OpAmpDetailed.mo
  Modelica/Electrical/Analog/Examples/ParallelResonance.mo
  Modelica/Electrical/Analog/Examples/SeriesResonance.mo
  Modelica/Electrical/Analog/UsersGuide/References.mo
  Modelica/Electrical/Batteries/Icons/TransientRecordsPackage.mo
  Modelica/Electrical/Digital.mo
  Modelica/Electrical/Machines/Examples/InductionMachines/IMC_InverterDrive.mo
  Modelica/Electrical/Spice3.mo
  Modelica/Fluid/Examples/PumpingSystem.mo
  Modelica/Magnetic/FluxTubes/Material/HysteresisTableData/package.mo
  Modelica/Media/Air/ReferenceMoistAir.mo
  Modelica/Media/R134a.mo
  Modelica/Resources/BuildProjects/readme.txt
  Modelica/Resources/Documentation/Version-3.2.1/DifferencesTo32.html
  Modelica/Resources/Documentation/Version-3.2.1/ResolvedTracTickets-build-3.html
  Modelica/Resources/Documentation/Version-3.2.1/ResolvedTracTickets.html
  Modelica/Resources/Documentation/Version-3.2.2/ResolvedTracTickets.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_1_5.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_0.html
  Modelica/Resources/ReleaseNotes/Modelica.UsersGuide.ReleaseNotes.Version_3_2_2.html
  Modelica/Resources/Scripts/Conversion/Description.txt
  Modelica/package.mo
  ModelicaReference/package.mo
  ModelicaTest/Blocks.mo
  ModelicaTest/Electrical/SingularTransfomer.mo
  ModelicaTest/Math.mo
  ModelicaTest/Utilities.mo
  ObsoleteModelica4.mo
Labels: documentation

#3453 Add Include annotation for external function interface
  Modelica/Blocks/Tables.mo
  Modelica/Blocks/Types.mo
  Modelica/Math/FastFourierTransform.mo
  Modelica/Math/Random.mo
  Modelica/Resources/C-Sources/ModelicaFFT.h
  Modelica/Resources/C-Sources/ModelicaIO.h
  Modelica/Resources/C-Sources/ModelicaInternal.h
  Modelica/Resources/C-Sources/ModelicaRandom.h
  Modelica/Resources/C-Sources/ModelicaStandardTables.h
  Modelica/Resources/C-Sources/ModelicaStrings.h
  Modelica/Resources/C-Sources/ModelicaUtilities.h
  Modelica/Utilities/Files.mo
  Modelica/Utilities/Internal.mo
  Modelica/Utilities/Streams.mo
  Modelica/Utilities/Strings.mo
  Modelica/Utilities/System.mo
  ObsoleteModelica4.mo
Labels: L: Blocks, L: Math, L: Utilities, task

#3465 Fix %freqHz in icon of Clocked Sine model
  Modelica/Clocked/RealSignals/TimeBasedSources/Sine.mo
Labels: L: Clocked, V: 4.0.0-dev, icon
