Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-06, with the labels that each got.

#3568 Do not include intsafe.h on MinGW
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/safe-math.h
Labels: L: C-Sources, bug

#3563 Fix invalid memory access in isValidCombiTimeTable and isValidCombiTable1D
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, V: 3.2.3, bug

#3565 Add pragma guards in ModelicaStrings.c
  Modelica/Resources/C-Sources/ModelicaStrings.c
Labels: L: C-Sources

#3575 Add pragma guards in ModelicaStrings.c
  Modelica/Resources/C-Sources/ModelicaStrings.c
Labels: L: C-Sources

#3574 Fix invalid memory access in isValidCombiTimeTable and isValidCombiTable1D
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, bug

#3572 Do not include intsafe.h on MinGW
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/safe-math.h
Labels: L: C-Sources, bug

#3573 Fix invalid memory access in isValidCombiTimeTable and isValidCombiTable1D
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, bug

#3584 Smooth complex
  Complex.mo
Labels: L: Complex*, enhancement
