Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-07, with the labels that each got.

#3591 Remove zero inductor currents in comparison signals
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator/comparisonSignals.txt
Labels: L: Resources

#3592 Fix name of plot variable in documentation
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Characteristics.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMS_Characteristics.mo
Labels: L: Magnetic.QuasiStatic, documentation, example

#3596 Remove zero inductor currents in comparison signals
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator/comparisonSignals.txt
Labels: L: Resources

#3590 Changed homotopy parameter to be consistent
  Modelica/Electrical/Analog/Examples/OpAmps/SignalGenerator.mo
Labels: L: Electrical.Analog, bug

#3595 Precising the description of u1 and u2
  Modelica/Blocks/Math.mo
Labels: L: Blocks, documentation

#3586 Corrected homotopy operator to be consistent with provided reference
  Modelica/Electrical/Analog/Examples/OpAmps.mo
Labels: L: Electrical.Analog, example

#3599 Removed potentially singular homotopy operator
  Modelica/Fluid/Vessels.mo
Labels: L: Fluid, bug

#3597 Add missing `each` to ModelicaTest 3.2.3 models
  ModelicaTest/Electrical/MulitSensorTest.mo
  ModelicaTest/Media.mo
  ModelicaTest/MultiBody.mo
Labels: L: ModelicaTest, bug

#3579 Update landing page doc.modelica.org
  index-new.html
  index.html
Labels: documentation

#3604 ModelicaIO.c: Improve error message if reading text file containing zero bytes
  .CI/Test/Common.c
  .CI/Test/FileSystem.c
  .CI/Test/ModelicaStrings.c
  .CI/Test/Tables.c
  .CI/Test/TablesNoUsertab.c
  Modelica/Resources/C-Sources/ModelicaIO.c
Labels: L: C-Sources, enhancement

#3602 Reorder Lapack functions in alphabetic order
  Modelica/Math/package.mo
Labels: L: Math, P: trivial

#3503 Improve fault-tolerance of Modelica.Utilities.Strings.substring w.r.t. index arguments and remove undocumented case with endIndex=-999
  .CI/Test/ModelicaStrings.c
  Modelica/Resources/C-Sources/ModelicaStrings.c
  Modelica/Utilities/Strings.mo
Labels: L: Utilities, enhancement

#3585 Modified homotopy parameter to ensure correct initialization
  Modelica/Electrical/Analog/Examples/OpAmps.mo
  Modelica/Electrical/Analog/Ideal.mo
Labels: L: Electrical.Analog, example

#3598 Changed homotopy parameter to be consistent
  Modelica/Electrical/Analog/Examples/OpAmps/SignalGenerator.mo
Labels: L: Electrical.Analog, example
