Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-11, with the labels that each got.

#3657 Added start value to ensure convergence to the right flow in suddenExpansion1
  Modelica/Fluid/Examples/Explanatory.mo
Labels: L: Fluid, bug, example

#3658 Added start value to ensure convergence to the right flow in suddenExpansion1
  Modelica/Fluid/Examples/Explanatory.mo
Labels: L: Fluid, bug, example

#3654 Remove unused/undocumented block setReal from example
  Modelica/Fluid/Examples/AST_BatchPlant.mo
Labels: L: Fluid, example

#3632 Render borders
  Modelica/Icons.mo
Labels: L: Icons, icon

#3659 Mark ComplexBlocks and FundamentalWave with DocumentationClass
  Modelica/ComplexBlocks/UsersGuide/package.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/UsersGuide/package.mo
Labels: L: Complex*, L: Magnetic.QuasiStatic, documentation

#3663 Add getcwd fallback in ModelicaInternal_fullPathName
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, bug

#3667 maint/4.0.x: Add getcwd fallback in ModelicaInternal_fullPathName
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, bug

#3668 maint/3.2.3: Add getcwd fallback in ModelicaInternal_fullPathName
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources, bug

#3641 Update matio library to version 1.5.19
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
  Modelica/Resources/C-Sources/exact-int.h
  Modelica/Resources/C-Sources/read_data_impl.h
  Modelica/Resources/C-Sources/safe-math.h
  Modelica/Resources/C-Sources/snprintf.c
Labels: L: C-Sources, enhancement

#3580 Save the CFLAGS already passed to the script
  Modelica/Resources/BuildProjects/autotools/configure.ac
Labels: L: Resources

#3665 Added start value to ensure convergence to the left-to-right flow in suddenExpansion1
  Modelica/Fluid/Examples/Explanatory.mo
Labels: L: Fluid, bug, example

#3673 Update DLR contact address
  Modelica/Blocks/package.mo
  Modelica/Clocked/UsersGuide/Contact.mo
  Modelica/Constants.mo
  Modelica/Icons.mo
  Modelica/Math/package.mo
  Modelica/Mechanics/MultiBody/UsersGuide/Contact.mo
  Modelica/Mechanics/Rotational/UsersGuide/Contact.mo
  Modelica/Mechanics/Translational/UsersGuide/Contact.mo
  Modelica/StateGraph.mo
  Modelica/Units.mo
  Modelica/Utilities/package.mo
  Modelica/package.mo
  ModelicaServices/package.mo
Labels: documentation
