Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-05, with the labels that each got.

#3464 Add tested libraries to release notes
  Modelica/package.mo
Labels: L: UsersGuide, V: 4.0.0-dev, documentation

#3549 Add division tag around image tags
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#3547 Fix typo, the noEvent should wrap the comparison
  Modelica/Blocks/Sources.mo
Labels: L: Blocks, V: 4.0.0-dev

#3554 Add division tag around image tags
  .CI/checkHTMLDoc/checkTags.py
  Modelica/Clocked/Examples/Elementary/ClockSignals/LogicalSample.mo
  Modelica/Clocked/Examples/Elementary/ClockSignals/RotationalSample.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/ForceAndTorque.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/PointGravityWithPointMasses.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Fourbar1.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Fourbar2.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/Fourbar_analytic.mo
  Modelica/Mechanics/MultiBody/Examples/Loops/PlanarLoops_analytic.mo
  Modelica/Mechanics/MultiBody/Parts/package.mo
  Modelica/Mechanics/MultiBody/Visualizers/Internal/FixedLines.mo
  Modelica/Mechanics/MultiBody/Visualizers/Internal/Lines.mo
  Modelica/Mechanics/Rotational/package.mo
  Modelica/Media/IdealGases/Common/package.mo
  Modelica/Media/IdealGases/SingleGases.mo
Labels: CI, documentation

#3555 Improve conversion of initialization of Modelica.Blocks.Continuous.{PID, LimPID}
  Modelica/Blocks/Continuous.mo
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/package.mo
  ModelicaTestConversion4.mo
Labels: L: Blocks, P: high, V: 4.0.0-dev, conversion

#3560 Fix syntax errors in documentary models of Modelica.Fluid.UsersGuide.ComponentDefinition.FluidConnectors
  Modelica/Fluid/package.mo
Labels: L: Fluid, documentation
