Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-04, with the labels that each got.

#3531 Remove clock signals from comparison signals as agreed in #3530.
  Modelica/Resources/Reference/Modelica/Clocked/Examples/Elementary/ClockSignals/ShiftSample/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Clocked/Examples/Elementary/ClockSignals/SubSample/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Clocked/Examples/Elementary/ClockSignals/SuperSample/comparisonSignals.txt
Labels: L: Resources, V: 4.0.0-dev

#3534 Remove unused type Modelica.Mechanics.MultiBody.Types.Init
  Modelica/Mechanics/MultiBody/Types/Init.mo
  Modelica/Mechanics/MultiBody/Types/package.order
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
  ModelicaTestConversion4.mo
  ObsoleteModelica4.mo
Labels: L: Mechanics.MultiBody, task

#3533 Make vector quantity a parameter
  Modelica/Mechanics/MultiBody/Forces/WorldForceAndTorque.mo
  Modelica/Mechanics/MultiBody/Types/VectorQuantity.mo
  Modelica/Mechanics/MultiBody/Visualizers/Advanced/Arrow.mo
  Modelica/Mechanics/MultiBody/Visualizers/Advanced/DoubleArrow.mo
  Modelica/Mechanics/MultiBody/Visualizers/FixedArrow.mo
  Modelica/Mechanics/MultiBody/Visualizers/SignalArrow.mo
  Modelica/Utilities/Internal.mo
  Modelica/package.mo
  ModelicaServices/package.mo
Labels: L: Mechanics.MultiBody, L: ModelicaServices, L: Utilities, V: 4.0.0-dev

#3541 Correct illegal annotations.
  Modelica/Fluid/Valves.mo
  Modelica/Thermal/HeatTransfer/Examples/Utilities/DirectCapacity.mo
Labels: L: Fluid, L: Thermal.HeatTransfer, V: 4.0.0-dev

#3540 Fix component name forgotten in pull request #3532
  Modelica/Clocked/Examples/Elementary/IntegerSignals/Hold.mo
Labels: L: Clocked, V: 4.0.0-dev, example

#3538 Update forgotten links to renamed Noise example package
  Modelica/Blocks/Math.mo
  Modelica/Blocks/Noise.mo
  Modelica/Blocks/package.mo
  Modelica/Resources/Images/Blocks/Examples/Noise/ActuatorNoise.png
  Modelica/Resources/Images/Blocks/Examples/Noise/ActuatorNoiseDiagram.png
  Modelica/Resources/Images/Blocks/Examples/Noise/AutomaticSeed1.png
  Modelica/Resources/Images/Blocks/Examples/Noise/AutomaticSeed2.png
  Modelica/Resources/Images/Blocks/Examples/Noise/Densities.png
  Modelica/Resources/Images/Blocks/Examples/Noise/Distributions.png
  Modelica/Resources/Images/Blocks/Examples/Noise/DrydenContinuousTurbulence.png
  Modelica/Resources/Images/Blocks/Examples/Noise/ImpureGenerator.png
  Modelica/Resources/Images/Blocks/Examples/Noise/NormalNoiseProperties1.png
  Modelica/Resources/Images/Blocks/Examples/Noise/SignalBasedNoise.png
  Modelica/Resources/Images/Blocks/Examples/Noise/SignalInterpolation.png
  Modelica/Resources/Images/Blocks/Examples/Noise/UniformNoise.png
  Modelica/Resources/Images/Blocks/Examples/Noise/UniformNoiseProperties1.png
  Modelica/Resources/Images/Blocks/Examples/Noise/equation-W0zl2Gay.png
  Modelica/Resources/Images/Blocks/Examples/Noise/equation-erVWhiWU.png
  ModelicaTest/Math.mo
Labels: L: Blocks, V: 4.0.0-dev

#3542 Spelling: Rename "release notes" to "changelog" in C-Sources
  Modelica/Resources/C-Sources/ModelicaFFT.c
  Modelica/Resources/C-Sources/ModelicaIO.c
  Modelica/Resources/C-Sources/ModelicaIO.h
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/ModelicaRandom.c
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  Modelica/Resources/C-Sources/ModelicaStandardTables.h
  Modelica/Resources/C-Sources/ModelicaStrings.c
Labels: L: C-Sources, P: trivial, documentation
