Repository modelica/ModelicaStandardLibrary, pull requests merged in 2020-08, with the labels that each got.

#3609 Use correct dimensions
  Modelica/Utilities/Examples.mo
Labels: L: Utilities, example

#3613 Add missing URI separator in file URIs
  Modelica/Mechanics/MultiBody/Types/ShapeType.mo
  Modelica/Mechanics/MultiBody/Visualizers/Advanced/Shape.mo
  Modelica/Mechanics/MultiBody/Visualizers/FixedShape.mo
  Modelica/Mechanics/MultiBody/Visualizers/FixedShape2.mo
Labels: L: Mechanics.MultiBody, documentation

#3614 Update Run.mos for MultiBody examples
  Modelica/Resources/Scripts/Dymola/Mechanics/MultiBody/Examples/Systems/Run.mos
Labels: L: Resources, bug, tool-issue

#3617 Models should be partial, not the package
  Modelica/Utilities/Internal.mo
Labels: L: Utilities, bug

#3618 Fix result file name in Run.mos script
  Modelica/Resources/Scripts/Dymola/Mechanics/MultiBody/Examples/Systems/Run.mos
Labels: L: Resources

#3619 Models should be partial, not the package
  Modelica/Utilities/Internal.mo
Labels: L: Utilities, bug
