Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-01, with the labels that each got.

#3703 Avoid deprecated "builtin" external language for common mathematical functions
  Modelica/Math/package.mo
Labels: L: Math

#3702 Rotational and translational inverse speed dependent torque/force
  Modelica/Mechanics/Rotational/Examples/CompareBrakingTorque.mo
  Modelica/Mechanics/Rotational/Examples/package.order
  Modelica/Mechanics/Rotational/Sources/InverseSpeedDependentTorque.mo
  Modelica/Mechanics/Rotational/Sources/package.order
  Modelica/Mechanics/Translational/Examples/CompareBrakingForce.mo
  Modelica/Mechanics/Translational/Examples/package.order
  Modelica/Mechanics/Translational/Interfaces/PartialForce.mo
  Modelica/Mechanics/Translational/Sources/InverseSpeedDependentForce.mo
  Modelica/Mechanics/Translational/Sources/package.order
  Modelica/Resources/Reference/Modelica/Mechanics/Rotational/Examples/CompareBrakingTorque/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Mechanics/Translational/Examples/CompareBrakingForce/comparisonSignals.txt
Labels: L: Mechanics.Rotational, L: Mechanics.Translational, enhancement

#3712 Initialize motion in x direction (r_rel_a_1) instead of in z (r_rel_a_3)
  Modelica/Mechanics/MultiBody/Examples/Constraints/PrismaticConstraint.mo
Labels: L: Mechanics.MultiBody, example

#3709 Utilize GitHub Actions for CI
  .CI/Jenkinsfile
  .CI/checkHTMLDoc/tidyHTML.py
  .CI/check_html.py
  .CI/parse.mos
  .gitattributes
  .github/workflows/checkCI.yml
  .github/workflows/checkCron.yml
  .travis.yml
  README.md
Labels: CI

#3692 Add tableOnFile parameter to icon of CombiTable blocks
  Modelica/Blocks/Sources.mo
  Modelica/Blocks/Tables.mo
Labels: L: Blocks, enhancement, icon

#3690 Enhance frictional translational models based on ExternalCombiTable1D
  Modelica/Mechanics/Translational/Components/Brake.mo
  Modelica/Mechanics/Translational/Components/MassWithStopAndFriction.mo
  Modelica/Mechanics/Translational/Components/SupportFriction.mo
  Modelica/Mechanics/Translational/Interfaces/PartialFriction.mo
Labels: L: Mechanics.Translational, enhancement

#3720 Remove superfluous zeros from coordinates of CombiTable block icons
  Modelica/Blocks/Sources.mo
  Modelica/Blocks/Tables.mo
Labels: L: Blocks, icon

#3722 Update test models to include inverse speed dependent load
  ModelicaTest/Resources/Reference/ModelicaTest/Rotational/TestBraking/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Translational/TestBraking/comparisonSignals.txt
  ModelicaTest/Rotational.mo
  ModelicaTest/Translational.mo
Labels: L: ModelicaTest, V: 4.1.0-dev

#3723 Check Modelica files for UTF-8 BOM (CI)
  .github/workflows/checkCI.yml
Labels: CI

#3681 Handle redirect errors in URL checker (CI)
  .CI/checkHTMLDoc/checkLinks.py
Labels: CI

#3696 Fix some compiler warnings
  Modelica/Resources/C-Sources/ModelicaIO.c
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: C-Sources, P: trivial

#3688 Update 3rd-party header uthash to v2.2.0
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/ModelicaRandom.c
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  Modelica/Resources/C-Sources/ModelicaStrings.c
  Modelica/Resources/C-Sources/stdint_wrap.h
  Modelica/Resources/C-Sources/uthash.h
  Modelica/Resources/Licenses/LICENSE_uthash.txt
Labels: L: C-Sources, enhancement

#3684 maint/3.2.3: Fix reading file with EOL=LF on Windows
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/ModelicaInternal.h
Labels: L: C-Sources, bug

#3652 Fix descriptions and improve documentation style
  Modelica/Media/Water/IF97_Utilities.mo
  Modelica/Media/package.mo
Labels: L: Media

#3634 Utilize ellipses' closure
  Modelica/Mechanics/MultiBody/Forces/LineForceWithMass.mo
  Modelica/Mechanics/MultiBody/Forces/LineForceWithTwoMasses.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointRRP.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointRRR.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointSSP.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointSSR.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointUPS.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointUSP.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointUSR.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Prismatic.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Revolute.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Spherical.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Universal.mo
  Modelica/Mechanics/MultiBody/Joints/GearConstraint.mo
  Modelica/Mechanics/MultiBody/Joints/RevolutePlanarLoopConstraint.mo
  Modelica/Mechanics/MultiBody/Joints/Spherical.mo
  Modelica/Mechanics/MultiBody/Joints/SphericalSpherical.mo
  Modelica/Mechanics/MultiBody/Joints/Universal.mo
  Modelica/Mechanics/MultiBody/Joints/UniversalSpherical.mo
Labels: L: Mechanics.MultiBody, icon

#3689 Added 2 more test examples to ModelicaTest.Electrical.Machines
  ModelicaTest/Electrical/Machines.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/DCPM_CurrentControlled/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/DCPM_SpeedControlled/comparisonSignals.txt
Labels: L: ModelicaTest, enhancement

#3626 Corrected a bug in PowerConverters/DCAC/Control/SVPWM.mo
  Modelica/Electrical/PowerConverters/DCAC/Control/SVPWM.mo
Labels: L: Electrical.PowerConverters, V: 3.2.3, bug

#3679 Implement choice between sawtooth and triangle reference signal in PowerConverters/DCDC/Control/SignalPWM
  Modelica/Electrical/PowerConverters/DCDC/Control/SignalPWM.mo
  Modelica/Electrical/PowerConverters/Examples/DCDC/HBridge/HBridge_TrianglePWM_RL.mo
  Modelica/Electrical/PowerConverters/Examples/DCDC/HBridge/package.order
  Modelica/Electrical/PowerConverters/Types/SingleReferenceType.mo
  Modelica/Electrical/PowerConverters/Types/package.order
Labels: L: Electrical.PowerConverters, enhancement

#3729 Fix position of component's and parameter's name according to icon conventions
  Modelica/Mechanics/MultiBody/Forces/Damper.mo
  Modelica/Mechanics/MultiBody/Forces/LineForceWithTwoMasses.mo
  Modelica/Mechanics/MultiBody/Forces/Spring.mo
  Modelica/Mechanics/MultiBody/Forces/SpringDamperParallel.mo
  Modelica/Mechanics/MultiBody/Forces/SpringDamperSeries.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointSSP.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointSSR.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointUPS.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointUSP.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointUSR.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Prismatic.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Revolute.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Spherical.mo
  Modelica/Mechanics/MultiBody/Joints/RevolutePlanarLoopConstraint.mo
  Modelica/Mechanics/MultiBody/Joints/Spherical.mo
Labels: L: Mechanics.MultiBody, icon

#3730 Use ellipses instead of arcs by lines in Mechanics.MultiBody.Forces
  Modelica/Mechanics/MultiBody/Forces/Force.mo
  Modelica/Mechanics/MultiBody/Forces/ForceAndTorque.mo
  Modelica/Mechanics/MultiBody/Forces/Internal/BasicForce.mo
  Modelica/Mechanics/MultiBody/Forces/Internal/BasicTorque.mo
  Modelica/Mechanics/MultiBody/Forces/Internal/BasicWorldTorque.mo
  Modelica/Mechanics/MultiBody/Forces/Torque.mo
  Modelica/Mechanics/MultiBody/Forces/WorldForceAndTorque.mo
  Modelica/Mechanics/MultiBody/Forces/WorldTorque.mo
Labels: L: Mechanics.MultiBody, icon

#3705 Add the connection indicator to the terminal box icon
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Utilities/TerminalBox.mo
Labels: L: Electrical.QuasiStatic, enhancement, icon

#3715 Remove superfluous blank line in documentation of Modelica.Fluid.UsersGuide.ComponentDefinition.WallFriction
  Modelica/Fluid/package.mo
Labels: L: Fluid, documentation

#3682 Update link in documentation to no longer rely on Freescience.info
  Modelica/Electrical/PowerConverters/UsersGuide/References.mo
Labels: CI, L: Electrical.PowerConverters, documentation

#3694 Fix descriptions w.r.t. w_rel
  Modelica/Mechanics/Rotational/Components/BearingFriction.mo
  Modelica/Mechanics/Rotational/Components/Brake.mo
  Modelica/Mechanics/Rotational/Components/LossyGear.mo
Labels: L: Mechanics.Rotational, P: trivial, V: 4.1.0-dev

#3735 Use ellipses instead of arcs by lines
  Modelica/Mechanics/Rotational/Interfaces/PartialTorque.mo
  Modelica/Mechanics/Rotational/Sources/ConstantSpeed.mo
  Modelica/Mechanics/Rotational/Sources/SignTorque.mo
  Modelica/Mechanics/Rotational/Sources/Torque.mo
  Modelica/Mechanics/Rotational/Sources/Torque2.mo
  Modelica/Mechanics/Translational/Sources/SignForce.mo
Labels: L: Mechanics.Rotational, icon

#3732 maint/3.2.3: Correct a bug in PowerConverters.DCAC.Control.SVPWM
  Modelica/Electrical/PowerConverters.mo
Labels: L: Electrical.PowerConverters, V: 3.2.3, bug

#3731 maint/4.0.x: Correct a bug in PowerConverters/DCAC/Control/SVPWM.mo
  Modelica/Electrical/PowerConverters/DCAC/Control/SVPWM.mo
Labels: L: Electrical.PowerConverters, V: 3.2.3, bug

#3697 Quasi-static Transformer
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/Transformer.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/package.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Basic/package.order
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/MultipleResonance.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/Transformer.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/package.order
  Modelica/Resources/Reference/Modelica/Electrical/QuasiStatic/SinglePhase/Examples/MultipleResonance/comparisonSignals.txt
Labels: L: Electrical.QuasiStatic, enhancement

#3625 Wrong StopTime for DifferenceAmplifier
  Modelica/Electrical/Analog/Examples/DifferenceAmplifier.mo
Labels: L: Electrical.Analog, example
