Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-04, with the labels that each got.

#3785 Update matio library to 1.5.21
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
  Modelica/Resources/Licenses/LICENSE_ModelicaMatIO.txt
Labels: L: C-Sources, enhancement

#3704 Changed dofpT issue #3695
  Modelica/Media/R134a.mo
Labels: L: Media, bug

#3787 Fix C89 compliance
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/snprintf.c
  Modelica/Resources/C-Sources/zlib/gzguts.h
Labels: L: C-Sources

#3794 Turn compiler warning of implicit function declaration to error
  Modelica/Resources/BuildProjects/autotools/configure.ac
Labels: L: Resources
