Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-12, with the labels that each got.

#3923 Fix misspelled file name.
  .gitattributes
Labels: L: ModelicaReference

#3924 Fix the bad Evaluate annotation
  Modelica/Fluid/Pipes.mo
Labels: L: Fluid

#3896 Fix derivatives in 2D-table for one-sided extrapolation by constant continuation
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  Modelica/Resources/Licenses/LICENSE_ModelicaStandardTables.txt
  Modelica/package.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Ds/Test33/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Dv/Test33/comparisonSignals.txt
  ModelicaTest/Tables/CombiTable2Ds.mo
  ModelicaTest/Tables/CombiTable2Dv.mo
Labels: bug, L: C-Sources

#3929 maint/4.0.x: Fix derivatives in 2D-table for one-sided extrapolation by constant continuation
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  Modelica/Resources/Licenses/LICENSE_ModelicaStandardTables.txt
  Modelica/package.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Ds/Test33/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Dv/Test33/comparisonSignals.txt
  ModelicaTest/Tables/CombiTable2Ds.mo
  ModelicaTest/Tables/CombiTable2Dv.mo
Labels: bug, L: C-Sources

#3928 maint/4.0.x: Fix the bad Evaluate annotation
  Modelica/Fluid/Pipes.mo
Labels: bug, L: Fluid
