Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-11, with the labels that each got.

#3889 Pass extrapolation and verbose from init2 to init3 functions
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: bug, L: C-Sources

#3888 Update block descriptions of control blocks
  Modelica/Electrical/PowerConverters/ACAC/Control/SoftStartControl.mo
  Modelica/Electrical/PowerConverters/DCAC/Control/PWM.mo
  Modelica/Electrical/PowerConverters/DCAC/Control/SVPWM.mo
Labels: L: Electrical.PowerConverters

#3871 Remove ModelicaUtilities.h from MSL distribution
  .CI/Jenkinsfile
  .CI/Test/Common.c
  .CI/Test/ModelicaUtilities.h
  .github/workflows/checkCI.yml
  Modelica/Resources/BuildProjects/VisualStudio2005/ModelicaIO.vcproj
  Modelica/Resources/BuildProjects/VisualStudio2005/ModelicaMatIO.vcproj
  Modelica/Resources/BuildProjects/VisualStudio2005/ModelicaStandardTables.vcproj
  Modelica/Resources/BuildProjects/readme.txt
  Modelica/Resources/Licenses/LICENSE_ModelicaUtilities.txt
  Modelica/Utilities/Streams.mo
Labels: L: C-Sources, L: Resources, CI

#3818 Fix Inconsistent M_OLine as reported in #3748
  Modelica/Electrical/Analog/Lines/M_OLine.mo
  Modelica/Electrical/Analog/Lines/OLine.mo
  Modelica/Resources/Images/Electrical/Analog/Lines/segment.png
  Modelica/Resources/Images/Electrical/Analog/Lines/segment_last.png
Labels: bug, L: Electrical.Analog

#3881 Revert major part of #227, and remove unit from gain parameter of Modelica.Blocks.Continuous.* blocks and Modelica.Blocks.Math.Gain
  Modelica/Blocks/Continuous.mo
  Modelica/Blocks/Math.mo
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/LimitedPI.mo
  ModelicaTest/Blocks.mo
Labels: L: Blocks, L: ModelicaTest

#3886 Generate MSL Release Notes by GitHub Actions
  .github/workflows/generateReleaseNotes.yml
  Modelica/Resources/Documentation/Generate-ReleaseNotes.py
Labels: CI

#3753 Add semicolon after conversion commands of ConvertModelica_from_3.2.3_to_4.0.0.mos
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
Labels: L: Resources

#3892 Avoid values out of bound, and simplify logic in PowerConverters.DCAC.Control.SVPWM
  Modelica/Electrical/PowerConverters/DCAC/Control/SVPWM.mo
Labels: L: Electrical.PowerConverters

#3835 Remove Evaluate=true for fixed=false parameter 'n_b'
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointRRR.mo
Labels: L: Mechanics.MultiBody

#3899 Run spelling check via GitHub Actions
  .github/workflows/checkCron.yml
  Modelica/Blocks/package.mo
  Modelica/Electrical/Analog/Examples/CharacteristicIdealDiodes.mo
  Modelica/Electrical/Analog/Examples/Lines/CompareLosslessLines.mo
  Modelica/Electrical/Analog/Sources/LightningImpulse.mo
  Modelica/Electrical/Digital.mo
  Modelica/Electrical/QuasiStatic/Machines/Interfaces/package.mo
  Modelica/Magnetic/FluxTubes/Shapes/Force/package.mo
  Modelica/Magnetic/FundamentalWave/UsersGuide/WindingModel.mo
  Modelica/Math/Nonlinear.mo
  Modelica/Units.mo
  ModelicaTest/Electrical/SingularTransformer.mo
  ModelicaTest/Electrical/package.order
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/SingularTransformer/comparisonSignals.txt
Labels: CI

#3905 ModelicaIO.c: Fix error handling for invalid format specifier in text file
  Modelica/Resources/C-Sources/ModelicaIO.c
Labels: L: C-Sources
