Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-05, with the labels that each got.

#3756 Electrical.Analog.Lines: addresses #3748 and #3755
  Modelica/Electrical/Analog/Lines/M_OLine.mo
  Modelica/Electrical/Analog/Lines/OLine.mo
  Modelica/Electrical/Analog/Lines/ULine.mo
Labels: L: Electrical.Analog, enhancement

#3725 Simplify selection of constraint equations to be used
  Modelica/Mechanics/MultiBody/Joints/Constraints/Prismatic.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Revolute.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Spherical.mo
  Modelica/Mechanics/MultiBody/Joints/Constraints/Universal.mo
Labels: L: Mechanics.MultiBody

#3805 Update CI to check for deprecated Text.lineColor annotation
  .CI/check_deprecated_line_color.py
  .CI/check_html.py
  .github/workflows/checkCI.yml
Labels: CI

#3804 Fix/remove dead links
  Modelica/Electrical/Batteries/UsersGuide/References.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/UserDefinedGravityField.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/Utilities/theoreticalNormalGravityWGS84.mo
  Modelica/package.mo
Labels: L: Electrical.Batteries, L: Mechanics.MultiBody, L: UsersGuide, documentation

#3800 Fix (all but one) conversion issues reported by Dymola
  Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos
Labels: L: Resources, conversion

#3806 Missing initialization of Blocks.Math.Mean and derived blocks
  Modelica/Blocks/Math.mo
  Modelica/Blocks/package.mo
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemonstrateSignalCharaceristic/comparisonSignals.txt
Labels: L: Blocks, enhancement

#3742 Fix implementation of scalarProduct
  Complex.mo
Labels: L: Complex*, bug

#3752 maint/3.2.3: Just use "redeclare" instead of "redeclare final"
  Modelica/Fluid/Examples/AST_BatchPlant.mo
  Modelica/Fluid/Examples/HeatExchanger.mo
  Modelica/Fluid/Machines.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Fluid/Vessels.mo
  Modelica/Media/IdealGases/Common/package.mo
Labels: L: Fluid, L: Media, specification

#3751 maint/4.0.x: Just use "redeclare" instead of "redeclare final"
  Modelica/Fluid/Examples/AST_BatchPlant.mo
  Modelica/Fluid/Examples/HeatExchanger.mo
  Modelica/Fluid/Machines.mo
  Modelica/Fluid/Pipes.mo
  Modelica/Fluid/Vessels.mo
  Modelica/Media/IdealGases/Common/package.mo
Labels: L: Fluid, L: Media, specification

#3801 Removing duplicate "and" in doc string
  Modelica/Clocked/BooleanSignals/Sampler/ShiftSample.mo
  Modelica/Clocked/IntegerSignals/Sampler/ShiftSample.mo
  Modelica/Clocked/RealSignals/Sampler/ShiftSample.mo
Labels: L: Clocked

#3786 Rotational coupling
  Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Drive.mo
  Modelica/Electrical/Machines/Examples/DCMachines/package.order
  Modelica/Mechanics/Rotational/Components/Coupling.mo
  Modelica/Mechanics/Rotational/Components/package.order
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Drive/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Rotational/AllComponents/comparisonSignals.txt
  ModelicaTest/Rotational.mo
Labels: L: Electrical.Machines, L: Mechanics.Rotational, P: high, enhancement

#3809 Fix exception where tag HTML was not in lower case (CI)
  .CI/checkHTMLDoc/checkTags.py
Labels: CI

#3802 State temperatures in PartialHeatTransfer declared as Medium-specific type
  Modelica/Fluid/Interfaces.mo
Labels: L: Fluid

#3812 Simplify "if Boolean == true" to "if Boolean"
  Modelica/Electrical/Spice3.mo
  Modelica/Media/Water/IF97_Utilities.mo
Labels: L: Electrical.Spice3, L: Media

#3744 Add assertion in else branches of Modelica.Fluid.Dissipation.HeatTransfer.HeatExchanger.{kc_flatTube, kc_flatTube_KC, kc_roundTube, kc_roundTube_KC}
  Modelica/Fluid/Dissipation.mo
Labels: L: Fluid.Dissipation

#3783 Remove unused static function get_token
  Modelica/Resources/C-Sources/ModelicaStrings.c
Labels: L: C-Sources

#3803 Added an example to demonstrate ideal field weakening
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_FieldWeakening.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/package.order
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/ExampleUtilities/FieldWeakeningController.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/ExampleUtilities/SpacePhasorLimiter.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/ExampleUtilities/package.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/ExampleUtilities/package.order
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/package.order
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_FieldWeakening/comparisonSignals.txt
Labels: L: Magnetic.QuasiStatic, enhancement, example

#3811 Change unit of permeability to V.s/(A.m)
  Modelica/Constants.mo
  Modelica/Units.mo
Labels: L: Constants, L: Units

#3815 Fix inconsistent M_OLine model
  Modelica/Electrical/Analog/Lines/M_OLine.mo
  Modelica/Electrical/Analog/Lines/OLine.mo
  Modelica/Electrical/Analog/Lines/ULine.mo
  Modelica/Resources/Images/Electrical/Analog/Lines/segment.png
  Modelica/Resources/Images/Electrical/Analog/Lines/segment_last.png
Labels: L: Electrical.Analog, bug, documentation, enhancement, help wanted

#3620 Refs #3593: Fix documentation of quasi-static machine examples
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Characteristics.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_DOL.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMS_Characteristics.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Mains.mo
Labels: L: Magnetic.QuasiStatic

#3823 Remove obsolete "(quasi-static)" from documentation
  Modelica/Magnetic/QuasiStatic/FluxTubes/UsersGuide/package.mo
Labels: L: Magnetic.QuasiStatic, documentation
