Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-09, with the labels that each got.

#3861 Fixed -Wundef warning by first checking if macro is defined
  Modelica/Resources/C-Sources/ModelicaUtilities.h
Labels: L: C-Sources

#3843 Fully integer based version.
  Modelica/Math/isPowerOf2.mo
Labels: L: Math

#3854 Remove obsoleted BMBF link
  Modelica/package.mo
Labels: L: UsersGuide, documentation

#3819 Lines examples
  Modelica/Electrical/Analog/Examples/Lines/CompareLineTrunks.mo
  Modelica/Electrical/Analog/Examples/Lines/CompareLosslessLines.mo
  Modelica/Electrical/Analog/Examples/Lines/LightningLosslessTransmissionLine.mo
  Modelica/Electrical/Analog/Examples/Lines/LightningSegmentedTransmissionLine.mo
  Modelica/Electrical/Analog/Examples/Lines/SmoothStep.mo
  Modelica/Electrical/Analog/Examples/Lines/package.mo
  Modelica/Electrical/Analog/Examples/Lines/package.order
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/CompareLineTrunks/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/CompareLosslessLines/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/LightningLosslessTransmissionLine/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/LightningSegmentedTransmissionLine/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/PowerLineWithFence/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/SmoothStep/comparisonSignals.txt
Labels: enhancement, L: Electrical.Analog, example
