Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-06, with the labels that each got.

#3724 Stable calculation of quaternion from transformation matrix
  Modelica/Mechanics/MultiBody/Frames/Quaternions/from_T.mo
  ModelicaTest/MultiBody.mo
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Frames/QuaternionFromT/comparisonSignals.txt
Labels: L: Mechanics.MultiBody, enhancement

#3822 Add documentation of SinglePhaseInductance
  Modelica/Magnetic/FundamentalWave/Examples/Components/SinglePhaseInductance.mo
Labels: L: Magnetic.FundamentalWave, documentation, example

#3828 Fix initialization of Lines as discussed in #3826
  Modelica/Electrical/Analog/Lines/OLine.mo
  Modelica/Electrical/Analog/Lines/TLine1.mo
  Modelica/Electrical/Analog/Lines/TLine2.mo
  Modelica/Electrical/Analog/Lines/TLine3.mo
  Modelica/Electrical/Analog/Lines/ULine.mo
Labels: L: Electrical.Analog, bug

#3827 Fix M_Oline.segment as discussed in #3826
  Modelica/Electrical/Analog/Lines/M_OLine.mo
Labels: L: Electrical.Analog, bug

#3830 Unify Lines models
  Modelica/Electrical/Analog/Lines/TLine.mo
  Modelica/Electrical/Analog/Lines/TLine1.mo
  Modelica/Electrical/Analog/Lines/TLine2.mo
  Modelica/Electrical/Analog/Lines/TLine3.mo
  Modelica/Electrical/Analog/Lines/package.order
Labels: L: Electrical.Analog, enhancement

#3817 Implemented split of stray inductance in common and individual part
  Modelica/Electrical/Machines/Utilities/ParameterRecords/IM_SlipRingData.mo
  Modelica/Electrical/Machines/Utilities/ParameterRecords/InductionMachineData.mo
  Modelica/Electrical/Machines/Utilities/SynchronousMachineData.mo
  Modelica/Magnetic/FundamentalWave/BaseClasses/Machine.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/Components/SymmetricPolyphaseCageWinding.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/Components/SymmetricPolyphaseWinding.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/InductionMachines/IM_SlipRing.mo
  Modelica/Magnetic/FundamentalWave/Components/PolyphaseElectroMagneticConverter.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMC_DOL_CommonLeakage.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMC_DOL_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMS_Start_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/package.order
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_DOL.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Inverter.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Steinmetz.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_withLosses.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMS_Start.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMEE_Generator_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMPM_Inverter_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMR_Inverter_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_DOL.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_LoadDump.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Rectifier.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Braking.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Inverter.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_VoltageSource.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMR_Inverter.mo
  Modelica/Magnetic/FundamentalWave/Examples/Components/PolyphaseInductance.mo
  Modelica/Magnetic/FundamentalWave/UsersGuide/WindingModel.mo
  Modelica/Magnetic/FundamentalWave/UsersGuide/package.mo
  Modelica/Magnetic/FundamentalWave/UsersGuide/package.order
  Modelica/Resources/Images/Magnetic/FundamentalWave/UsersGuide/WindingModel/SymmetricPolyphaseWinding.png
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMC_DOL_CommonLeakage/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/Components/PolyphaseInductance/comparisonSignals.txt
Labels: L: Magnetic.FundamentalWave, P: high, enhancement

#3808 getInstanceName and spatialDistribution not listed in ModelicaReference
  ModelicaReference/Resources/Images/spatialdistribution.png
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#3831 Implement ImpulseSources
  Modelica/Electrical/Analog/Examples/DemonstrateLightning.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/Sources/LightningImpulse.mo
  Modelica/Electrical/Analog/Sources/LightningImpulseCurrent.mo
  Modelica/Electrical/Analog/Sources/LightningImpulseVoltage.mo
  Modelica/Electrical/Analog/Sources/package.order
  Modelica/Electrical/Analog/Types/ImpulseApproximation.mo
  Modelica/Electrical/Analog/Types/package.mo
  Modelica/Electrical/Analog/Types/package.order
  Modelica/Electrical/Analog/package.order
  Modelica/Resources/Images/Electrical/Analog/Sources/Lightning.png
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/DemonstrateLightning/comparisonSignals.txt
Labels: L: Blocks, L: Electrical.Analog, enhancement

#3676 Removed repeated advice on package Internal (previously called Repository)
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, documentation

#3842 Fix permanent link redirect
  Modelica/Electrical/PowerConverters/UsersGuide/References.mo
Labels: L: Electrical.PowerConverters, documentation

#3847 Fix link
  Modelica/Magnetic/FluxTubes/UsersGuide/Literature.mo
Labels: L: Magnetic.FluxTubes, documentation
