Repository modelica/ModelicaStandardLibrary, pull requests merged in 2021-03, with the labels that each got.

#3716 Improve icons of joint assemblies RRR and RRP
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointRRP.mo
  Modelica/Mechanics/MultiBody/Joints/Assemblies/JointRRR.mo
Labels: L: Mechanics.MultiBody, icon

#3743 Resort variable declarations of Modelica.Fluid.Dissipation.HeatTransfer.HeatExchanger.{kc_flatTube, kc_flatTube_KC, kc_roundTube_KC} such that they are declared before used
  Modelica/Fluid/Dissipation.mo
Labels: L: Fluid.Dissipation

#3770 Add missing conversions for Complex and Services 3.2.3
  Complex.mo
  ModelicaServices/package.mo
Labels: L: Complex*, L: ModelicaServices, conversion

#3677 Do not fail for w<=0 in Complex TransferFunction
  Complex.mo
  Modelica/ComplexBlocks/ComplexMath/TransferFunction.mo
Labels: L: Complex*

#3763 Make constants in functions protected
  Modelica/Media/Water/IF97_Utilities.mo
Labels: L: Media, specification

#3762 Adds a block to calculate the extrema of a signal
  Modelica/Blocks/Math.mo
  Modelica/Blocks/package.mo
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemonstrateSignalExtrema/comparisonSignals.txt
Labels: L: Blocks, enhancement

#3771 Add missing conversions for Complex and Services 3.2.3
  Complex.mo
  ModelicaServices/package.mo
Labels: L: Complex*, L: ModelicaServices, conversion

#3779 choicesAllMatching=true is the correct annotation!
  Modelica/Fluid/Examples/HeatExchanger.mo
Labels: L: Fluid, V: 3.2.3, bug

#3780 fix choicesAllMatching annotations
  Modelica/Fluid/Examples/HeatExchanger.mo
Labels: L: Fluid, example

#3781 fix choicesAllMatching annotations
  Modelica/Fluid/Examples/HeatExchanger.mo
Labels: L: Fluid, example

#3774 Add ChopperBuckBoost to PowerConverters
  Modelica/Electrical/PowerConverters/DCDC/ChopperBuckBost.mo
  Modelica/Electrical/PowerConverters/DCDC/package.mo
  Modelica/Electrical/PowerConverters/DCDC/package.order
  Modelica/Electrical/PowerConverters/Examples/DCDC/ChopperBuckBoost/ChopperBuckBoost_DutyCycle.mo
  Modelica/Electrical/PowerConverters/Examples/DCDC/ChopperBuckBoost/package.mo
  Modelica/Electrical/PowerConverters/Examples/DCDC/ChopperBuckBoost/package.order
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/ChopperBuckBoost.mo
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/package.mo
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/package.order
  Modelica/Electrical/PowerConverters/Examples/DCDC/package.order
  Modelica/Resources/Reference/Modelica/Electrical/PowerConverters/Examples/DCDC/ChopperBuckBoost/ChopperBuckBoost_DutyCycle/comparisonSignals.txt
Labels: L: Electrical.PowerConverters, enhancement

#3777 Fix link in documentation of Modelica.Mechanics.MultiBody.Examples.Elementary.UserDefinedGravityField
  Modelica/Mechanics/MultiBody/Examples/Elementary/UserDefinedGravityField.mo
  Modelica/Mechanics/MultiBody/Examples/Elementary/Utilities/theoreticalNormalGravityWGS84.mo
Labels: L: Mechanics.MultiBody, documentation, example
