Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-03, with the labels that each got.

#3922 Adds optional default return value parameter
  Modelica/Utilities/Examples.mo
Labels: L: Utilities, example

#3910 Fix parameter propagation of IntersectivePWM
  Modelica/Electrical/PowerConverters/DCAC/Control/IntersectivePWM.mo
Labels: bug, L: Electrical.PowerConverters

#3964 Propagate parameter T in Polyphase Resistors and Conductors
  Modelica/Electrical/Polyphase/Basic/Conductor.mo
  Modelica/Electrical/Polyphase/Basic/Resistor.mo
  Modelica/Electrical/Polyphase/Basic/VariableConductor.mo
  Modelica/Electrical/Polyphase/Basic/VariableResistor.mo
Labels: bug, L: Electrical.Polyphase
