Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-06, with the labels that each got.

#3982 Update matio library to 1.5.23
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
  Modelica/Resources/Licenses/LICENSE_ModelicaMatIO.txt
Labels: enhancement, L: C-Sources

#3972 Add problem matchers for GitHub Actions (CI)
  .github/checkTags.json
  .github/check_deprecated_line_color.json
  .github/moparser.json
  .github/tidyHTML.json
  .github/workflows/checkCI.yml
Labels: CI

#3784 Fix LCC build
  Modelica/Resources/C-Sources/ModelicaInternal.c
  Modelica/Resources/C-Sources/stdint_wrap.h
Labels: L: C-Sources

#3976 Eddy current sources
  Modelica/Mechanics/Rotational/Examples/EddyCurrentBrake.mo
  Modelica/Mechanics/Rotational/Sources/EddyCurrentTorque.mo
  Modelica/Mechanics/Translational/Examples/EddyCurrentBrake.mo
  Modelica/Mechanics/Translational/Sources/EddyCurrentForce.mo
Labels: enhancement, L: Mechanics.Rotational, L: Mechanics.Translational

#3997 Propagate the angle alpha also in the calculation of A in HollowCylinderRadialFlux
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderRadialFlux.mo
Labels: bug, L: Magnetic.QuasiStatic

#3993 FluxTubes: some improvements in shapes and material
  .gitattributes
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/BaseData.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/CobaltIron/Vacoflux50.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/ElectricSheet/M330_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/ElectricSheet/M350_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/ElectricSheet/M530_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/ElectricSheet/M700_100A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/ElectricSheet/M940_100A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/NickelIron/MuMetall.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/NickelIron/Permenorm3601K3.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/PureIron/RFe80.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/PureIron/VacoferS2.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/AISI_1008.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/AISI_12L14.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/DC01.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/DC03.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/Steel_9SMn28K.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/Steel_9SMnPb28.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/Steel/X6Cr17.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/Cuboid.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/GenericFluxTube.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/HollowCylinderAxialFlux.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/HollowCylinderCircumferentialFlux.mo
  Modelica/Magnetic/FluxTubes/Shapes/FixedShape/HollowCylinderRadialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/Cuboid.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/GenericFluxTube.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderAxialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderCircumferentialFlux.mo
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderRadialFlux.mo
  Modelica/Resources/Images/Magnetic/FluxTubes/Examples/MagneticCircuit.vsdx
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/Circumferential.png
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/Circumferential.vsdx
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/HollowCylinder.vsdx
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/HollowCylinderAxialFlux.png
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/HollowCylinderRadialFlux.png
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/Toroid.png
  Modelica/Resources/Images/Magnetic/FluxTubes/Shapes/Toroid.vsdx
Labels: enhancement, L: Magnetic.FluxTubes, L: Magnetic.QuasiStatic

#3918 Update ModelicaTest/Media.mo: Reduce dp_nominal in TestsWithFluid.Components.PartialTestModel by a factor of 1000
  ModelicaTest/Media.mo
Labels: L: ModelicaTest

#3975 Update wrapAngle.mo
  Modelica/Blocks/Math.mo
  Modelica/Math/wrapAngle.mo
Labels: L: Blocks, documentation
