Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-07, with the labels that each got.

#4008 Fix #4007
  Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/Components/ConstantActuator.mo
Labels: bug, L: Magnetic.FluxTubes

#4010 Minor fixes of the documentation of Mechanics.Rotational.Examples
  Modelica/Mechanics/Rotational/Examples/EddyCurrentBrake.mo
  Modelica/Mechanics/Rotational/Examples/RollingWheel.mo
Labels: L: Mechanics.Rotational, documentation

#4011 Remove battery model from examples
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/Battery.mo
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/PartialControlledDCPM.mo
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/package.order
  Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Drive.mo
Labels: L: Electrical.Machines, example
