Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-10, with the labels that each got.

#3998 Propagate the angle alpha also in the calculation of A
  Modelica/Magnetic/QuasiStatic/FluxTubes/Shapes/FixedShape/HollowCylinderRadialFlux.mo
Labels: bug, L: Magnetic.QuasiStatic

#3965 Fix parameter propagation of IntersectivePWM
  Modelica/Electrical/PowerConverters/DCAC/Control/IntersectivePWM.mo
Labels: bug, L: Electrical.PowerConverters

#4031 Fix HallSensor
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_NoLoad.mo
  Modelica/Electrical/Machines/Sensors/HallSensor.mo
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_NoLoad/comparisonSignals.txt
Labels: L: Electrical.Machines

#3952 Almost automatically updated to have correct gradient.
  Modelica/Electrical/Analog/Interfaces/FourPin.mo
  Modelica/Electrical/Analog/Interfaces/TwoPort.mo
  Modelica/Electrical/Machines/BasicMachines/Components/PartialAirGapDC.mo
  Modelica/Electrical/Machines/BasicMachines/Transformers/package.mo
  Modelica/Electrical/Machines/Icons/QuasiStaticTransformer.mo
  Modelica/Electrical/Machines/Icons/TransientTransformer.mo
  Modelica/Electrical/QuasiStatic/Machines/BasicMachines/Transformers/package.mo
  Modelica/Fluid/Examples/AST_BatchPlant.mo
  Modelica/Fluid/Vessels.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/Components/Transformer1PhaseWithHysteresis.mo
  Modelica/Magnetic/FluxTubes/Examples/Hysteresis/Components/Transformer3PhaseYyWithHysteresis.mo
Labels: icon

#3902 Electrical.Batteries.Utilities.PulseSeries
  Modelica/Electrical/Batteries/Utilities/PulseSeries.mo
  Modelica/Resources/Images/Electrical/Batteries/Utilities/PulseSeries.ipe
  Modelica/Resources/Images/Electrical/Batteries/Utilities/PulseSeries.png
Labels: bug, L: Electrical.Batteries

#3850 Avoid max({}) in Modelica.Math.Matrices.nullSpace
  Modelica/Math/package.mo
Labels: bug, L: Math

#3813 Decrease solver tolerance of Modelica.Fluid.Examples.AST_BatchPlant.Test.TankWithEmptyingPipe1
  Modelica/Fluid/Examples/AST_BatchPlant.mo
Labels: L: Fluid, example, ref-result

#3733 Fix interpretation of coefficients of complex transfer function
  Modelica/ComplexBlocks/ComplexMath/TransferFunction.mo
  Modelica/ComplexBlocks/Examples/ShowTransferFunction.mo
Labels: bug, L: Complex*

#4037 startTime of ZeroOrderHold
  Modelica/Blocks/Discrete.mo
Labels: bug, L: Blocks

#4039 Most Lapack routines don't want lwork=0 and/or work with size zero.
  Modelica/Math/package.mo
Labels: L: Math
