Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-09, with the labels that each got.

#4022 Removed duplicate definition of m
  Modelica/Electrical/QuasiStatic/Polyphase/Sources/FrequencySweepCurrentSource.mo
  Modelica/Electrical/QuasiStatic/Polyphase/Sources/FrequencySweepVoltageSource.mo
Labels: bug, L: Electrical.QuasiStatic

#4024 Update obsolete form of noDerivative in ModelicaReference
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#3973 Fix markdownlint warnings
  Modelica/Resources/Documentation/Generate-ReleaseNotes.py
Labels: L: Resources
