Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-01, with the labels that each got.

#3927 maint/3.2.3: Fix the bad Evaluate annotation
  Modelica/Fluid/Pipes.mo
Labels: bug, L: Fluid

#3638 Use one character instead of line drawings
  Complex.mo
Labels: L: Complex*, icon

#3920 Liberate machine parameter m
  Modelica/Electrical/Machines/Utilities/ParameterRecords/InductionMachineData.mo
Labels: enhancement, L: Electrical.Machines

#3926 Implemented and tested PowerSupply
  Modelica/Electrical/Analog/Examples/DemoPowerSupply.mo
  Modelica/Electrical/Analog/Examples/DemoPowerSupplyWithBuffer.mo
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/Sources/DCPowerSupply.mo
  Modelica/Electrical/Analog/Sources/package.order
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/DemoPowerSupply/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/DemoPowerSupplyWithBuffer/comparisonSignals.txt
Labels: enhancement, L: Electrical.Analog

#3845 QuasiStatic example induction machine with inverter
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Inverter.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/package.order
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Inverter/comparisonSignals.txt
Labels: enhancement, L: Magnetic.QuasiStatic, example

#3938 Strip leading newline in img.alt attributes
  Modelica/Electrical/QuasiStatic/UsersGuide/Overview/ACCircuit.mo
Labels: documentation, L: Electrical.QuasiStatic

#3942 Fix copy/paste error in description of Translational.Sources.Force2
  Modelica/Mechanics/Translational/Sources/Force2.mo
Labels: L: Mechanics.Translational, documentation
