Repository modelica/ModelicaStandardLibrary, pull requests merged in 2022-08, with the labels that each got.

#3966 Propagate parameter T in Polyphase Resistors and Conductors (#3964)
  Modelica/Electrical/Polyphase/Basic/Conductor.mo
  Modelica/Electrical/Polyphase/Basic/Resistor.mo
  Modelica/Electrical/Polyphase/Basic/VariableConductor.mo
  Modelica/Electrical/Polyphase/Basic/VariableResistor.mo
Labels: bug, L: Electrical.Polyphase

#3990 Pass forceColor to arrow visualizer
  Modelica/Mechanics/MultiBody/Forces/ForceAndTorque.mo
Labels: bug, L: Mechanics.MultiBody

#3985 Added assert condition block
  Modelica/Blocks/Logical.mo
  ModelicaTest/Blocks.mo
Labels: L: Blocks

#4025 #4020 This looks like a typo in the description?
  Modelica/Electrical/Analog/Examples/ResonanceCircuits.mo
Labels: L: Electrical.Analog, example
