Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-05, with the labels that each got.

#4122 Remove plural 's' in 'height of ramps'
  Modelica/Blocks/Sources.mo
  Modelica/Clocked/RealSignals/TickBasedSources/Ramp.mo
  Modelica/Clocked/RealSignals/TimeBasedSources/Ramp.mo
Labels: L: Blocks

#4052 Fix SI units by introducing reference phase impedance ZsRef
  Modelica/Electrical/Machines/BasicMachines/InductionMachines/IM_SlipRing.mo
  Modelica/Electrical/Machines/BasicMachines/InductionMachines/IM_SquirrelCage.mo
  Modelica/Electrical/Machines/BasicMachines/SynchronousMachines/SM_ElectricalExcited.mo
  Modelica/Electrical/Machines/BasicMachines/SynchronousMachines/SM_PermanentMagnet.mo
  Modelica/Electrical/Machines/BasicMachines/SynchronousMachines/SM_ReluctanceRotor.mo
  Modelica/Electrical/Machines/Interfaces/PartialBasicInductionMachine.mo
  Modelica/Magnetic/FundamentalWave/BaseClasses/Machine.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/InductionMachines/IM_SlipRing.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/InductionMachines/IM_SquirrelCage.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ElectricalExcited.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/SynchronousMachines/SM_PermanentMagnet.mo
  Modelica/Magnetic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ReluctanceRotor.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BaseClasses/Machine.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/InductionMachines/IM_SlipRing.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/InductionMachines/IM_SquirrelCage.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ElectricalExcited.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/SynchronousMachines/SM_PermanentMagnet.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BasicMachines/SynchronousMachines/SM_ReluctanceRotor.mo
Labels: enhancement, L: Electrical.Machines

#4081 Introduce molar mass for better balance of SI units
  Modelica/Mechanics/MultiBody/Examples/Loops/Utilities/GasForce2.mo
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Forces/EngineGasForce/comparisonSignals.txt
Labels: enhancement, L: Mechanics.MultiBody, L: Units

#4133 Replace 'Inline=false' with late inlining
  Modelica/Mechanics/MultiBody/Frames/Internal/maxWithoutEvent.mo
  Modelica/Mechanics/MultiBody/Frames/Internal/maxWithoutEvent_d.mo
  Modelica/Mechanics/MultiBody/Frames/Internal/maxWithoutEvent_dd.mo
Labels: enhancement, L: Mechanics.MultiBody
