Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-10, with the labels that each got.

#4191 Revert adding unit to pi due to regressions
  Modelica/Constants.mo
Labels: L: Constants, V: 4.1.0-dev

#4179 Remove duplicates in SignalNames of 10 examples of ModelicaTest
  ModelicaTest/Resources/Reference/ModelicaTest/Blocks/Limiters/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Fluid/Dissipation/Verifications/HeatTransfer/Channel/kc_evenGapLaminar/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Fluid/Dissipation/Verifications/PressureLoss/Orifice/dp_suddenChange_DPMFLOW/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Fluid/Dissipation/Verifications/PressureLoss/Orifice/dp_thickEdgedOverall_DPMFLOW/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Joints/JointRRP/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Joints/JointRRR/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Joints/JointSSP/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Joints/JointSSR/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Joints/JointUSP/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/MultiBody/Joints/JointUSR/comparisonSignals.txt
Labels: L: Resources, ref-result

#4206 Remove redundant diagram text from Analog examples (second attempt)
  Modelica/Electrical/Analog/Examples/CauerLowPassAnalog.mo
  Modelica/Electrical/Analog/Examples/CauerLowPassOPV.mo
  Modelica/Electrical/Analog/Examples/CauerLowPassSC.mo
  Modelica/Electrical/Analog/Examples/CharacteristicIdealDiodes.mo
  Modelica/Electrical/Analog/Examples/CharacteristicThyristors.mo
  Modelica/Electrical/Analog/Examples/ChuaCircuit.mo
  Modelica/Electrical/Analog/Examples/CompareTransformers.mo
  Modelica/Electrical/Analog/Examples/ControlledSwitchWithArc.mo
  Modelica/Electrical/Analog/Examples/DifferenceAmplifier.mo
  Modelica/Electrical/Analog/Examples/HeatingMOSInverter.mo
  Modelica/Electrical/Analog/Examples/HeatingNPN_NORGate.mo
  Modelica/Electrical/Analog/Examples/HeatingPNP_NORGate.mo
  Modelica/Electrical/Analog/Examples/HeatingRectifier.mo
  Modelica/Electrical/Analog/Examples/NandGate.mo
  Modelica/Electrical/Analog/Examples/Rectifier.mo
  Modelica/Electrical/Analog/Examples/ShowSaturatingInductor.mo
  Modelica/Electrical/Analog/Examples/ShowVariableResistor.mo
  Modelica/Electrical/Analog/Examples/SwitchWithArc.mo
Labels: L: Electrical.Analog, example

#4203 Fix codespell exceptions (CI)
  .github/workflows/checkCron.yml
  Modelica/Electrical/Analog/Examples/Lines/SmoothStep.mo
  Modelica/Electrical/PowerConverters/Examples/ACAC/Dimmer_RL.mo
Labels: CI
