Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-06, with the labels that each got.

#4143 Update codespell exceptions (CI)
  .github/workflows/checkCron.yml
Labels: CI

#4120 Bump GitHub Actions to avoid deprecation warnings (CI)
  .github/workflows/checkCI.yml
  .github/workflows/checkCron.yml
  .github/workflows/generateReleaseNotes.yml
Labels: CI

#4146 Amendment for #4140: Fix merge conflict
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_NoLoad.mo
Labels: L: Electrical.Machines, P: high, example, V: 4.1.0-dev

#4041 Remove unit error changing
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/DcdcInverter.mo
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/IdealDcDc.mo
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMEE_LoadDump.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_LoadDump.mo
Labels: bug, L: Electrical.Machines, L: Magnetic.FundamentalWave, example

#4048 Avoid final in core parameter records
  Modelica/Electrical/Machines/Utilities/ParameterRecords/IM_SlipRingData.mo
  Modelica/Electrical/Machines/Utilities/ParameterRecords/InductionMachineData.mo
  Modelica/Magnetic/FundamentalWave/BaseClasses/Machine.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMC_DOL_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMS_Start_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMPM_Inverter_Polyphase.mo
Labels: bug, L: Electrical.Machines, L: Magnetic.FundamentalWave

#4053 Remove incorrect unit-casting
  Modelica/Magnetic/FluxTubes/Shapes/HysteresisAndMagnets/GenericHystTellinenHard.mo
  Modelica/Magnetic/FluxTubes/Shapes/HysteresisAndMagnets/GenericHystTellinenSoft.mo
Labels: L: Magnetic.FluxTubes

#4141 Documentation and description for FluidHeatFlow library improved
  Modelica/Thermal/FluidHeatFlow/Examples/IndirectCooling.mo
  Modelica/Thermal/FluidHeatFlow/Examples/OneMass.mo
  Modelica/Thermal/FluidHeatFlow/Examples/ParallelCooling.mo
  Modelica/Thermal/FluidHeatFlow/Examples/ParallelPumpDropOut.mo
  Modelica/Thermal/FluidHeatFlow/Examples/PumpAndValve.mo
  Modelica/Thermal/FluidHeatFlow/Examples/PumpDropOut.mo
  Modelica/Thermal/FluidHeatFlow/Examples/SimpleCooling.mo
  Modelica/Thermal/FluidHeatFlow/Examples/TwoMass.mo
Labels: L: Thermal.FluidHeatFlow, example

#4148 Fix false calculation of w (omega) when resolveInFrame == frame_resolve
  Modelica/Mechanics/MultiBody/Sensors/Internal/BasicAbsoluteAngularVelocity.mo
  ModelicaTest/MultiBody.mo
Labels: bug, L: Mechanics.MultiBody

#4136 Unify spelling of controllers
  Modelica/Blocks/Continuous.mo
  Modelica/Clocked/Examples/Systems/ControlledMixingUnit.mo
  Modelica/Electrical/Machines/Examples/ControlledDCDrives/Utilities/LimitedPI.mo
  Modelica/Electrical/Machines/Utilities/DQCurrentController.mo
  Modelica/Electrical/Machines/Utilities/VfController.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Utilities/VfController.mo
  Modelica/Mechanics/MultiBody/Examples/Systems/RobotR3/Utilities/Controller.mo
  Modelica/Thermal/HeatTransfer/Examples/ControlledTemperature.mo
Labels: documentation

#4042 Give a proper definition of machine constants.
  Modelica/Constants.mo
  ModelicaServices/package.mo
Labels: bug, L: Constants

#4135 Delete redundant points of polygon annotation of connectors
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3, L: Icons

#4161 Fix unit for mu0.
  Modelica/Constants.mo
Labels: L: Constants, P: high, V: 4.1.0-dev
