Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-09, with the labels that each got.

#4188 Fix unit errors in ExternalCombiTimeTable constructor
  Modelica/Blocks/Types.mo
Labels: L: Blocks

#4172 Protect internal ports of base class machines
  Modelica/Magnetic/FundamentalWave/BaseClasses/Machine.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/BaseClasses/Machine.mo
Labels: bug, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic

#4147 Fix annotations
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Integrator.mo
  Modelica/Fluid/Dissipation.mo
  Modelica/Mechanics/MultiBody/Visualizers/Rectangle.mo
Labels: L: Electrical.Analog, L: Fluid.Dissipation, L: Mechanics.MultiBody

#4199 Fix link to Holman2010
  Modelica/Thermal/HeatTransfer/UsersGuide/References.mo
Labels: L: Thermal.HeatTransfer, documentation
