Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-04, with the labels that each got.

#4100 Use plain SI.Mass instead of medium-based 'quantity' for MixtureGases.m1 and MixtureGases.m2
  Modelica/Media/package.mo
Labels: L: Media

#4038 spliceFunction_der check limits
  Modelica/Media/Air/MoistAir.mo
Labels: L: Media

#4032 The dT is a temperature difference
  Modelica/Fluid/Examples/HeatExchanger.mo
Labels: L: Fluid, example

#3956 Adds animated level on the icon layer of the OpenTank
  Modelica/Thermal/FluidHeatFlow/Components/OpenTank.mo
Labels: enhancement, L: Thermal.FluidHeatFlow, icon

#4084 Documentation: improve indentation of html code
  Modelica/Media/Air/MoistAir.mo
  Modelica/Media/Air/SimpleAir.mo
  Modelica/Media/Water/IF97_Utilities.mo
Labels: L: Media, documentation

#3959 Fixed Wb_flows discretization terms for DynamicPipe
  Modelica/Fluid/Pipes.mo
  ModelicaTest/Fluid/TestComponents/Pipes/DynamicPipeEnergyConservationCheck.mo
  ModelicaTest/Fluid/TestComponents/Pipes/DynamicPipeEnergyConservationCheck2.mo
  ModelicaTest/Fluid/TestComponents/Pipes/package.order
Labels: bug, L: Fluid
