Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-12, with the labels that each got.

#4158 Remove unit-casting
  Modelica/Electrical/Machines/Examples/InductionMachines/IMC_Conveyor.mo
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_Braking.mo
  Modelica/Magnetic/FluxTubes/Shapes/HysteresisAndMagnets/GenericHystTellinenPermanentMagnet.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Braking.mo
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
Labels: bug, L: Electrical.Machines, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic

#4109 Fix unit errors in ArmatureStroke
  Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/ArmatureStroke.mo
Labels: L: Magnetic.FluxTubes

#4104 Remove modification of 'quantity' for FixedBoundary.X
  Modelica/Fluid/Sources.mo
Labels: L: Fluid

#4176 Fix (and rename) parameters of Modelica.Electrical.Digital.Examples.Utilities.DFF
  Modelica/Electrical/Digital.mo
Labels: L: Electrical.Digital, example

#4033 Reduce guess for initial temperature difference across wall.
  Modelica/Fluid/Examples/HeatExchanger.mo
Labels: L: Fluid, example

#4127 Type cast result of malloc
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#4187 Remove newlines at end of Text primitive
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMEE_Generator_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMPM_Inverter_Polyphase.mo
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMR_Inverter_Polyphase.mo
Labels: L: Magnetic.FundamentalWave

#4239 Simplify ComplexRampPhasor
  Modelica/ComplexBlocks/Sources/ComplexRampPhasor.mo
Labels: bug, L: Complex*

#3246 Remove call of localtime
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources

#4200 Improve ElastoGap
  Modelica/Mechanics/Translational/Components/ElastoGap.mo
Labels: L: Mechanics.Translational
