Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-11, with the labels that each got.

#4211 Fix broken link in Modelica.Magnetic.FluxTubes
  Modelica/Magnetic/FluxTubes/UsersGuide/Literature.mo
Labels: L: Magnetic.FluxTubes, documentation

#4154 Fix false calculation of w (omega) when resolveInFrame == frame_resolve
  Modelica/Mechanics/MultiBody/Sensors.mo
  ModelicaTest/MultiBody.mo
Labels: bug, L: Mechanics.MultiBody

#4222 Update matio library to 1.5.24
  Modelica/Resources/C-Sources/ModelicaMatIO.c
  Modelica/Resources/C-Sources/ModelicaMatIO.h
  Modelica/Resources/Licenses/LICENSE_ModelicaMatIO.txt
Labels: enhancement, L: C-Sources

#4195 Add all defined outputs of the test example to reference signals
  ModelicaTest/Resources/Reference/ModelicaTest/Blocks/Mean/comparisonSignals.txt
Labels: L: ModelicaTest, ref-result

#4223 Fix false calculation of w (omega) when resolveInFrame == frame_resolve
  Modelica/Mechanics/MultiBody/Sensors/Internal/BasicAbsoluteAngularVelocity.mo
  ModelicaTest/MultiBody.mo
Labels: bug, L: Mechanics.MultiBody

#4108 Fix unit error in RobotR3.OneAxis
  Modelica/Mechanics/MultiBody/Examples/Systems/RobotR3/OneAxis.mo
Labels: L: Mechanics.MultiBody, example

#4194 Correct units for normalizing vectors.
  Modelica/Math/package.mo
  Modelica/Mechanics/MultiBody/Frames/TransformationMatrices/from_nxy.mo
  Modelica/Mechanics/MultiBody/Frames/from_nxy.mo
  Modelica/Utilities/Internal.mo
Labels: L: Mechanics.MultiBody

#4150 Avoid discontinuities
  Modelica/Blocks/Sources.mo
Labels: L: Blocks

#4151 Simpler mean
  Modelica/Blocks/Math.mo
Labels: L: Blocks

#4112 Fix unit error in CCCVcharging
  Modelica/Electrical/Batteries/Examples/BatteryDischargeCharge.mo
  Modelica/Electrical/Batteries/Examples/CCCV_Cell.mo
  Modelica/Electrical/Batteries/Examples/CCCV_CellRC.mo
  Modelica/Electrical/Batteries/Examples/CCCV_Stack.mo
  Modelica/Electrical/Batteries/Examples/CCCV_StackRC.mo
  Modelica/Electrical/Batteries/Examples/CCCVcharging.mo
Labels: example, L: Electrical.Batteries
