Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-02, with the labels that each got.

#4073 Fix docu of Modelica.Utilities.System.getTime()
  Modelica/Utilities/System.mo
Labels: documentation

#3893 Consider the derivatives at boundaries in the 2D-table
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
  Modelica/Resources/Licenses/LICENSE_ModelicaStandardTables.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Ds/OneSidedDerivative2D/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Dv/OneSidedDerivative2D/comparisonSignals.txt
  ModelicaTest/Tables/CombiTable2Ds.mo
  ModelicaTest/Tables/CombiTable2Dv.mo
Labels: L: Blocks, L: C-Sources

#4071 Propagate useSolver to these variants as well.
  Modelica/Clocked/ClockSignals/Clocks/Logical/PartialLogicalClock.mo
  Modelica/Clocked/ClockSignals/Clocks/Rotational/FixedRotationalClock.mo
Labels: L: Clocked
