Repository modelica/ModelicaStandardLibrary, pull requests merged in 2023-03, with the labels that each got.

#3986 Do not preserveAspectRatio for terminate-block.
  Modelica/Blocks/Logical.mo
Labels: L: Blocks

#4059 Document unicode for String functions
  Modelica/Utilities/Strings.mo
Labels: L: Utilities, documentation

#3983 Fix index-out-of-bounds exception for splines
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: bug, L: C-Sources

#4045 Fix startTime of (SignalPWM) -> ZeroOrderHold
  Modelica/Blocks/Discrete.mo
Labels: bug, L: Blocks
