Repository modelica/ModelicaStandardLibrary, pull requests merged in 2024-06, with the labels that each got.

#4356 Update MultipleResonance.mo
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/MultipleResonance.mo
Labels: example, L: Electrical.QuasiStatic

#4357 Update icon color of red dot
  Modelica/package.mo
Labels: icon

#4297 Check y - not internal state
  Modelica/Resources/Reference/Modelica/Blocks/Examples/Noise/NormalNoiseProperties/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Blocks/Examples/Noise/UniformNoiseProperties/comparisonSignals.txt
Labels: L: Blocks, V: 4.1.0-dev, ref-result

#4415 Restore derivatives for one-sided extrapolation by constant continuation in case of 2D tables that actually degrade to 1D tables
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: bug, L: C-Sources, P: high, V: 4.1.0-dev

#4412 Bump actions to avoid deprecation warnings (CI)
  .github/workflows/generateReleaseNotes.yml
Labels: CI

#4408 Fix links
  Modelica/Fluid/Types.mo
  Modelica/Fluid/Vessels.mo
  Modelica/Fluid/package.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/Contact.mo
  Modelica/Math/Random.mo
  Modelica/UsersGuide/ReleaseNotes.mo
Labels: L: Fluid, L: Magnetic.FluxTubes, L: Math, L: UsersGuide, documentation

#4406 Skip NULL checks for passed external objects
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: L: Resources, requires Modelica 3.7

#4426 Rebuild binaries
  Modelica/Resources/Library/linux32/libModelicaStandardTables.a
  Modelica/Resources/Library/linux64/libModelicaStandardTables.a
  Modelica/Resources/Library/win32/ModelicaStandardTables.lib
  Modelica/Resources/Library/win32/gcctdm510/libModelicaStandardTables.a
  Modelica/Resources/Library/win64/ModelicaStandardTables.lib
  Modelica/Resources/Library/win64/gcctdm510/libModelicaStandardTables.a
Labels: L: Resources, V: 4.1.0-dev

#4418 Resolve #4336
  Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/ArmatureStroke.mo
  Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/ForceCurrentBehaviour.mo
  Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/ForceStrokeBehaviour.mo
  Modelica/Resources/Reference/Modelica/Magnetic/FluxTubes/Examples/MovingCoilActuator/ForceCurrentBehaviour/comparisonSignals.txt
Labels: bug, L: Magnetic.FluxTubes, example

#4427 Updated comparison signals for ModelicaTest.Fluid.TestComponents.Fittings.TestJunctionTraceSubstances
  ModelicaTest/Resources/Reference/ModelicaTest/Fluid/TestComponents/Fittings/TestJunctionTraceSubstances/comparisonSignals.txt
Labels: L: ModelicaTest

#4344 Math asserts
  Modelica/Math/Nonlinear.mo
  Modelica/Math/package.mo
Labels: L: Math
