Repository modelica/ModelicaStandardLibrary, pull requests merged in 2024-05, with the labels that each got.

#4380 Fix typos
  Modelica/Blocks/package.mo
Labels: L: Blocks, example

#4374 Fix ComplexImpedance ctor call Modelica.Electrical.QuasiStatic.SinglePhase.Examples.MultipleResonance
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/MultipleResonance.mo
Labels: example, L: Electrical.QuasiStatic

#4371 Update CoupledClutches.mos
  Modelica/Resources/Scripts/Dymola/Mechanics/Rotational/CoupledClutches.mos
Labels: L: Resources
