Repository modelica/ModelicaStandardLibrary, pull requests merged in 2024-02, with the labels that each got.

#4049 Clarify the Clocks chapter of Modelica.Clocked User Guide
  Modelica/Clocked/UsersGuide/Clocks.mo
Labels: documentation, L: Clocked

#4275 Fix syntax errors in ModelicaReference documentation snippets
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#4291 Add the very first figure annotation
  Modelica/Blocks/package.mo
Labels: enhancement, L: Blocks, requiresModelica3.5

#4290 Add redundant algorithm
  Modelica/Math/BooleanVectors.mo
Labels: L: Math, V: 4.1.0-dev

#4235 Bump used Modelica language version to 3.6 for MapleSim moparser (CI)
  .github/workflows/checkCI.yml
Labels: CI, requiresModelica3.6

#4299 Clarify the Clocks chapter of Modelica.Clocked User Guide
  Modelica/Clocked/UsersGuide/Clocks.mo
Labels: documentation, L: Clocked

#4298 Fix syntax errors in ModelicaReference documentation snippets
  ModelicaReference/package.mo
Labels: L: ModelicaReference, documentation

#4310 resolves #4309
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/ChopperBuckBoost.mo
Labels: L: Electrical.PowerConverters, example

#4311 resolves #4303
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/MultipleResonance.mo
Labels: example, L: Electrical.QuasiStatic

#4321 Fix plot scripts
  Modelica/Resources/Scripts/Dymola/Fluid/HeatingSystem/plotResults.mos
  Modelica/Resources/Scripts/Dymola/Fluid/TanksWithOverflow/plot level and port.m_flow.mos
  Modelica/Resources/Scripts/Dymola/Fluid/ThreeTanks/plot level and port.m_flow.mos
Labels: L: Resources, tool-issue

#4322 Fix plot scripts
  Modelica/Resources/Scripts/Dymola/Fluid/HeatingSystem/plotResults.mos
  Modelica/Resources/Scripts/Dymola/Fluid/TanksWithOverflow/plot level and port.m_flow.mos
  Modelica/Resources/Scripts/Dymola/Fluid/ThreeTanks/plot level and port.m_flow.mos
Labels: L: Resources, tool-issue

#4323 Fix typo
  Modelica/Clocked/UsersGuide/Clocks.mo
Labels: P: trivial, documentation, L: Clocked, V: 4.1.0-dev

#4324 Fix typo
  Modelica/Clocked/UsersGuide/Clocks.mo
Labels: P: trivial, documentation, L: Clocked, V: 4.1.0-dev

#4318 Remove experiment annotation from Modelica.Electrical.PowerConverters.Examples.DCDC.ExampleTemplates.ChopperBuckBoost
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/ChopperBuckBoost.mo
Labels: L: Electrical.PowerConverters, example, V: 4.1.0-dev

#4320 Add StopTime to experiment annotation of Modelica.Electrical.QuasiStatic.SinglePhase.Examples.MultipleResonance
  Modelica/Electrical/QuasiStatic/SinglePhase/Examples/MultipleResonance.mo
Labels: example, L: Electrical.QuasiStatic, V: 4.1.0-dev

#4314 Compatibility fix for Dymola 2024x; not needed in coming release.
  Modelica/Math/BooleanVectors.mo
Labels: L: Math, tool-issue

#4313 Avoid 0.0^0.0
  ModelicaTest/Blocks.mo
Labels: L: Blocks, L: ModelicaTest, V: 4.1.0-dev

#4304 MSL v4.1.0-beta.1 feedback: Fix comparison signals
  Modelica/Electrical/Analog/Examples/Lines/CompareLineTrunks.mo
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemoSignalCharacteristic/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemonstrateContinuousSignalExtrema/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemonstrateSignalExtrema/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/DemonstrateLightning/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/PowerLineWithFence/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/PowerConverters/Examples/DCAC/PolyphaseTwoLevel/PolyphaseTwoLevel_RL/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/DCPM_CurrentControlled/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/DCPM_SpeedControlled/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Dv/Test33/comparisonSignals.txt
Labels: L: Resources, example, V: 4.1.0-dev

#4331 Consider shiftTime for verbose extrapolation in CombiTimeTable
  Modelica/Blocks/Sources.mo
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: bug, L: Blocks

#4328 Fix comparison signals
  Modelica/Electrical/Analog/Examples/Lines/CompareLineTrunks.mo
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemoSignalCharacteristic/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemonstrateContinuousSignalExtrema/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Blocks/Examples/DemonstrateSignalExtrema/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/DemonstrateLightning/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/PowerLineWithFence/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/PowerConverters/Examples/DCAC/PolyphaseTwoLevel/PolyphaseTwoLevel_RL/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/DCPM_CurrentControlled/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/DCPM_SpeedControlled/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Tables/CombiTable2Dv/Test33/comparisonSignals.txt
Labels: L: Resources, example, V: 4.1.0-dev

#4326 Avoid 0.0^0.0
  ModelicaTest/Blocks.mo
Labels: L: Blocks, L: ModelicaTest, V: 4.1.0-dev

#4319 Bump copyright year to 2️⃣0️⃣2️⃣4️⃣
  Modelica/Resources/Licenses/LICENSE_ModelicaMatIO.txt
  Modelica/Resources/Licenses/LICENSE_ModelicaStandardTables.txt
Labels: L: Resources, V: 4.1.0-dev

#4315 resolves #4306
  Modelica/Electrical/Analog/Examples/Lines/LightningSegmentedTransmissionLine.mo
  Modelica/Electrical/Analog/Lines/OLine.mo
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/Lines/LightningSegmentedTransmissionLine/comparisonSignals.txt
Labels: L: Electrical.Analog, example, V: 4.1.0-dev

#4345 Consider shiftTime for verbose extrapolation in CombiTimeTable
  Modelica/Blocks/Sources.mo
  Modelica/Resources/C-Sources/ModelicaStandardTables.c
Labels: bug, L: Blocks
