Repository modelica/ModelicaStandardLibrary, pull requests merged in 2025-04, with the labels that each got.

#4508 Use proper modelica URIs
  Modelica/Magnetic/FundamentalWave/UsersGuide/WindingModel.mo
Labels: L: Magnetic.FundamentalWave, documentation

#4605 Update class numbers for MSL 4.1.0
  Modelica/package.mo
Labels: documentation

#4615 Update class numbers for MSL 4.1.0 (#4605)
  Modelica/package.mo
Labels: V: 4.1.0-dev

#4613 Rename model ChopperBuckBost as ChopperBuckBoost
  Modelica/Electrical/PowerConverters/DCDC/ChopperBuckBoost.mo
  Modelica/Electrical/PowerConverters/DCDC/package.order
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/ChopperBuckBoost.mo
Labels: L: Electrical.PowerConverters, V: 4.1.0-dev

#4593 Fix typo in conversion factor from debye to C.m
  Modelica/Media/package.mo
Labels: L: Media, documentation

#4614 Obsolete Line Models
  Modelica/Electrical/Analog/Lines/TLine1.mo
  Modelica/Electrical/Analog/Lines/TLine2.mo
  Modelica/Electrical/Analog/Lines/TLine3.mo
Labels: L: Electrical.Analog, V: 4.1.0-dev

#4619 Fix typo in conversion factor from debye to C.m
  Modelica/Media/package.mo
Labels: L: Media, documentation

#4618 Rename model ChopperBuckBost as ChopperBuckBoost
  Modelica/Electrical/PowerConverters/DCDC/ChopperBuckBoost.mo
  Modelica/Electrical/PowerConverters/DCDC/package.order
  Modelica/Electrical/PowerConverters/Examples/DCDC/ExampleTemplates/ChopperBuckBoost.mo
Labels: L: Electrical.PowerConverters, V: 4.1.0-dev

#4588 Fix column layout in documentation of Modelica.Media.IdealGases.SingleGases
  Modelica/Media/IdealGases/SingleGases.mo
Labels: L: Media, P: trivial, documentation

#4499 Remove outdated contact information, esp. mail addresses
  Modelica/Icons.mo
  Modelica/Media/Water/IF97_Utilities.mo
  Modelica/Media/package.mo
  Modelica/UsersGuide/Contact.mo
Labels: L: Icons, L: Media, L: UsersGuide

#4599 Add test model ModelicaTest.Media.TestOnly.R134a_setState_pTX_high_T
  ModelicaTest/Media.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Media/TestOnly/R134a_setState_pTX_high_T/comparisonSignals.txt
Labels: L: ModelicaTest

#4628 Remove outdated contact information, esp. mail addresses
  Modelica/Icons.mo
  Modelica/Media/Water/IF97_Utilities.mo
  Modelica/Media/package.mo
  Modelica/package.mo
Labels: L: Icons, L: Media, L: UsersGuide, documentation

#4629 Add test model ModelicaTest.Media.TestOnly.R134a_setState_pTX_high_T
  ModelicaTest/Media.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Media/TestOnly/R134a_setState_pTX_high_T/comparisonSignals.txt
Labels: L: ModelicaTest

#4606 Fix building html tidy with CMake 4.0 (CI)
  .github/workflows/checkCI.yml
Labels: CI

#4626 Fix Modelica.Media.R134a.R134a_ph.setState_pTX
  Modelica/Media/R134a.mo
  ModelicaTest/Media.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Media/TestOnly/R134a_pTX_phX_all/comparisonSignals.txt
Labels: bug, L: Media, needs backporting

#4378 Utilize constant EPSSIL in Modelica.Electrical.Spice3.Internal.Mos1.mos1ModelLineParamsInitEquations
  Modelica/Electrical/Spice3.mo
Labels: L: Electrical.Spice3

#4590 Update list of resolved GH issues for v4.1.0-rc.1
  Modelica/Resources/Documentation/Version-4.1.0/ResolvedGitHubIssues.html
  Modelica/Resources/Documentation/Version-4.1.0/ResolvedGitHubIssues.md
  Modelica/Resources/Documentation/Version-4.1.0/ResolvedGitHubIssues.pdf
  Modelica/UsersGuide/ReleaseNotes.mo
Labels: L: Resources

#4617 Fix TDM-GCC build
  Modelica/Resources/C-Sources/ModelicaMatIO.c
Labels: L: C-Sources

#4633 Add DifferencesTo400.html - MSL 4.1.0 w.r.t. 4.0.0 (#4300)
  Modelica/Resources/Documentation/Version-4.1.0/DifferencesTo400.html
Labels: L: Resources
