Repository modelica/ModelicaStandardLibrary, pull requests merged in 2025-02, with the labels that each got.

#4522 Fix #4312
  Modelica/Fluid/Utilities.mo
Labels: L: Fluid

#4506 Fix formatting, compiler warnings and build error (post matio 1.5.28)
  Modelica/Resources/C-Sources/ModelicaMatIO.c
Labels: L: C-Sources, V: 4.2.0-dev

#4302 Fix feature check macros for POSIX realpath
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources

#4524 It does not make sense to restrict a temperature difference to be >=0
  Modelica/Fluid/Sensors.mo
Labels: L: Fluid

#4532 Apply the same solution as #4486 to the quasi-static example
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
Labels: L: Magnetic.QuasiStatic, example, V: 4.1.0-dev

#4530 Fix feature check macros for POSIX realpath
  Modelica/Resources/C-Sources/ModelicaInternal.c
Labels: L: C-Sources

#4490 Revise CTest configuration
  Modelica/Resources/BuildProjects/CMake/options.cmake
  Modelica/Resources/BuildProjects/CMake/test.cmake
  Modelica/Resources/CMakeLists.txt
Labels: L: Resources, V: 4.2.0-dev

#4534 Apply the same solution as #4486 to the quasi-static example
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
Labels: L: Magnetic.QuasiStatic, example, V: 4.1.0-dev

#4466 Remove redundant text in celsius to kelvin icon
  Modelica/Thermal/HeatTransfer/Celsius/ToKelvin.mo
Labels: L: Thermal.HeatTransfer, icon

#4533 Fix #4312
  Modelica/Fluid/Utilities.mo
Labels: L: Fluid

#4546 Fixed Utilities functions of ReferenceMoistAir to also work with Xi
  Modelica/Media/Air/ReferenceMoistAir.mo
Labels: bug, L: Media

#4544 Correct Magnetic.FluxTubes.Material.HysteresisTableData.M400_50A.sigma
  Modelica/Magnetic/FluxTubes/Material/HysteresisTableData/M400_50A.mo
Labels: bug, L: Magnetic.FluxTubes
