Repository modelica/ModelicaStandardLibrary, pull requests merged in 2025-01, with the labels that each got.

#4498 Update snprintf.c
  Modelica/Resources/C-Sources/snprintf.c
Labels: L: C-Sources

#4511 Remove extra comparisonSignals file that doesn't match an existing model
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/PowerConverters/ExampleTemplates/ThyristorBridge2mPulse/comparisonSignals.txt
Labels: L: ModelicaTest

#4515 Remove extra comparisonSignals file that doesn't match an existing model (backport)
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/PowerConverters/ExampleTemplates/ThyristorBridge2mPulse/comparisonSignals.txt
Labels: L: ModelicaTest

#4516 Add missing experiment annotations
  ModelicaTest/Electrical/QuasiStatic/Polyphase.mo
  ModelicaTest/Electrical/QuasiStatic/SinglePhase.mo
Labels: L: ModelicaTest

#4521 Add missing experiment annotations (backport)
  ModelicaTest/Electrical/QuasiStatic/Polyphase.mo
  ModelicaTest/Electrical/QuasiStatic/SinglePhase.mo
Labels: L: ModelicaTest

#4520 Make propagation final of lifted parameters in Spring (backport)
  Modelica/Mechanics/MultiBody/Forces/Spring.mo
  ModelicaTest/MultiBody.mo
Labels: L: Mechanics.MultiBody

#4501 Remove dead link to old OM wiki
  Modelica/package.mo
Labels: L: UsersGuide, P: trivial, documentation
