Repository modelica/ModelicaStandardLibrary, pull requests merged in 2025-05, with the labels that each got.

#4642 Make parameter propagation in SingularTransformer final
  ModelicaTest/Electrical/SingularTransformer.mo
Labels: L: Electrical.Analog

#4643 ImprovedOpAmpLimited
  Modelica/Electrical/Analog/Examples/OpAmps/Adder.mo
  Modelica/Electrical/Analog/Examples/OpAmps/Comparator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/ControlCircuit.mo
  Modelica/Electrical/Analog/Examples/OpAmps/DifferentialAmplifier.mo
  Modelica/Electrical/Analog/Examples/OpAmps/Differentiator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/HighPass.mo
  Modelica/Electrical/Analog/Examples/OpAmps/Integrator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/InvertingAmplifier.mo
  Modelica/Electrical/Analog/Examples/OpAmps/InvertingSchmittTrigger.mo
  Modelica/Electrical/Analog/Examples/OpAmps/LCOscillator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/LowPass.mo
  Modelica/Electrical/Analog/Examples/OpAmps/MeasureRiseTime.mo
  Modelica/Electrical/Analog/Examples/OpAmps/Multivibrator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Add.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Buffer.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Der.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Derivative.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/DifferentialAmplifierData.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Feedback.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/FirstOrder.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Gain.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/Integrator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/PI.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/PartialOpAmp.mo
  Modelica/Electrical/Analog/Examples/OpAmps/SchmittTrigger.mo
  Modelica/Electrical/Analog/Examples/OpAmps/SignalGenerator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/Subtracter.mo
  Modelica/Electrical/Analog/Examples/OpAmps/VoltageFollower.mo
  Modelica/Electrical/Analog/Examples/OpAmps/package.order
  Modelica/Electrical/Analog/Examples/package.order
  Modelica/Electrical/Analog/Ideal/IdealizedOpAmpLimited.mo
  Modelica/Electrical/Analog/Ideal/ImprovedOpAmpLimited.mo
  Modelica/Electrical/Analog/Ideal/package.order
  Modelica/Electrical/Analog/Types/InitOpAmp.mo
  Modelica/Electrical/Analog/Types/package.order
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/OpAmps/DifferentialAmplifier/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Analog/Examples/OpAmps/MeasureRiseTime/comparisonSignals.txt
Labels: bug, L: Electrical.Analog

#4347 Remove binaries from repository
  .gitignore
  Modelica/Resources/Library/linux32/libModelicaIO.a
  Modelica/Resources/Library/linux32/libModelicaMatIO.a
  Modelica/Resources/Library/linux32/libModelicaStandardTables.a
  Modelica/Resources/Library/linux32/libzlib.a
  Modelica/Resources/Library/linux64/libModelicaIO.a
  Modelica/Resources/Library/linux64/libModelicaMatIO.a
  Modelica/Resources/Library/linux64/libModelicaStandardTables.a
  Modelica/Resources/Library/linux64/libzlib.a
  Modelica/Resources/Library/win32/ModelicaIO.lib
  Modelica/Resources/Library/win32/ModelicaMatIO.lib
  Modelica/Resources/Library/win32/ModelicaStandardTables.lib
  Modelica/Resources/Library/win32/gcctdm510/libModelicaIO.a
  Modelica/Resources/Library/win32/gcctdm510/libModelicaMatIO.a
  Modelica/Resources/Library/win32/gcctdm510/libModelicaStandardTables.a
  Modelica/Resources/Library/win32/gcctdm510/libzlib.a
  Modelica/Resources/Library/win32/zlib.lib
  Modelica/Resources/Library/win64/ModelicaIO.lib
  Modelica/Resources/Library/win64/ModelicaMatIO.lib
  Modelica/Resources/Library/win64/ModelicaStandardTables.lib
  Modelica/Resources/Library/win64/gcctdm510/libModelicaIO.a
  Modelica/Resources/Library/win64/gcctdm510/libModelicaMatIO.a
  Modelica/Resources/Library/win64/gcctdm510/libModelicaStandardTables.a
  Modelica/Resources/Library/win64/gcctdm510/libzlib.a
  Modelica/Resources/Library/win64/zlib.lib
Labels: L: Resources

#4653 Naming "OpAmpLimited" instead of "ImprovedOpAmpLimited"
  Modelica/Electrical/Analog/Examples/OpAmps/Comparator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/DifferentialAmplifier.mo
  Modelica/Electrical/Analog/Examples/OpAmps/InvertingSchmittTrigger.mo
  Modelica/Electrical/Analog/Examples/OpAmps/LCOscillator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/MeasureRiseTime.mo
  Modelica/Electrical/Analog/Examples/OpAmps/Multivibrator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/OpAmpCircuits/PartialOpAmp.mo
  Modelica/Electrical/Analog/Examples/OpAmps/SchmittTrigger.mo
  Modelica/Electrical/Analog/Examples/OpAmps/SignalGenerator.mo
  Modelica/Electrical/Analog/Examples/OpAmps/VoltageFollower.mo
  Modelica/Electrical/Analog/Ideal/IdealizedOpAmpLimited.mo
  Modelica/Electrical/Analog/Ideal/OpAmpLimited.mo
  Modelica/Electrical/Analog/Ideal/package.order
  Modelica/Electrical/Analog/Types/InitOpAmp.mo
Labels: enhancement, L: Electrical.Analog, V: 4.2.0-dev
