Repository modelica/ModelicaStandardLibrary, pull requests merged in 2025-03, with the labels that each got.

#4557 Fixes #4548
  Modelica/Fluid/Examples/Tanks.mo
  Modelica/Fluid/Vessels.mo
Labels: L: Fluid

#4560 Update Electrical.Machines/Examples/SynchronousMachines/SMPM_NoLoad/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_NoLoad/comparisonSignals.txt
Labels: L: Electrical.Machines, L: Resources, P: highest, example, ref-result, needs backporting

#4551 Swap units to correct place
  ModelicaTest/Media.mo
Labels: bug, L: ModelicaTest

#4562 Attempt to fix #4559 by increasing RonDiode and GoffDiode
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Braking.mo
Labels: L: Magnetic.FundamentalWave, example

#4566 Fixes for #4424 (#4547)
  ModelicaTest/Fluid/TestComponents/Pipes/DynamicPipeEnergyConservationCheck2.mo
Labels: L: ModelicaTest

#4565 Update Electrical.Machines/Examples/SynchronousMachines/SMPM_NoLoad/comparisonSignals.txt #4560
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_NoLoad/comparisonSignals.txt
Labels: L: Electrical.Machines, L: Resources, P: highest, example, ref-result

#4570 Attempt to fix #4559 by increasing RonDiode and GoffDiode (#4562)
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Braking.mo
Labels: L: Magnetic.FundamentalWave, example

#4567 Correct Magnetic.FluxTubes.Material.HysteresisTableData.M400_50A.sigma #4544
  Modelica/Magnetic/FluxTubes/Material/HysteresisTableData/M400_50A.mo
Labels: bug, L: Magnetic.FluxTubes

#4563 Same patch as #4559 to Electrical.Machines
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_Braking.mo
Labels: L: Electrical.Machines, example

#4568 Fixes #4548 (#4557)
  Modelica/Fluid/Examples/Tanks.mo
  Modelica/Fluid/Vessels.mo
Labels: L: Fluid

#4569 Swap units to correct place. (#4551)
  ModelicaTest/Media.mo
Labels: bug, L: ModelicaTest

#4553 Fixed wrong expression in dp_volumeFlowRate_MFLOW
  Modelica/Fluid/Dissipation.mo
Labels: bug, L: Fluid.Dissipation

#4019 RotationalCoupling
  Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Drive.mo
  Modelica/Electrical/Machines/Utilities/Coupling.mo
  Modelica/Electrical/Machines/Utilities/package.order
  Modelica/Mechanics/Rotational/Components/package.order
  ModelicaTest/Resources/Reference/ModelicaTest/Rotational/AllComponents/comparisonSignals.txt
  ModelicaTest/Rotational.mo
Labels: enhancement, L: Electrical.Machines, L: Mechanics.Rotational

#4572 Same patch with Ron and Goff
  Modelica/Electrical/Machines/Examples/InductionMachines/IMC_InverterDrive.mo
Labels: enhancement, L: Electrical.Machines, example, needs backporting

#4540 Remove redundant text in celsius to kelvin icon
  Modelica/Thermal/HeatTransfer/Celsius/ToKelvin.mo
Labels: L: Thermal.HeatTransfer, icon

#4574 Rewrite Streams.error in terms of assert
  Modelica/Utilities/Streams.mo
Labels: L: Utilities, task

#4555 Add numerical tolerance to floating-point number comparison in ModelicaTest.Fluid.TestComponents.Machines.TestLinearPower
  ModelicaTest/Fluid/TestComponents/Machines/TestLinearPower.mo
  ModelicaTest/Fluid/TestComponents/Pipes/DynamicPipeEnergyConservationCheck2.mo
Labels: L: ModelicaTest, example

#4583 Rewrite Streams.error in terms of assert
  Modelica/Utilities/Streams.mo
Labels: L: Utilities, task

#4579 tries the same patch with Ron and Goff (#4572)
  Modelica/Electrical/Machines/Examples/InductionMachines/IMC_InverterDrive.mo
Labels: enhancement, L: Electrical.Machines, example

#4581 Fixes #4554 (#4555)
  ModelicaTest/Fluid/TestComponents/Machines/TestLinearPower.mo
  ModelicaTest/Fluid/TestComponents/Pipes/DynamicPipeEnergyConservationCheck2.mo
Labels: L: ModelicaTest, example

#4584 RotationalCoupling #4019
  Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Drive.mo
  Modelica/Electrical/Machines/Utilities/Coupling.mo
  Modelica/Electrical/Machines/Utilities/package.order
  Modelica/Mechanics/Rotational/Components/package.order
  ModelicaTest/Resources/Reference/ModelicaTest/Rotational/AllComponents/comparisonSignals.txt
  ModelicaTest/Rotational.mo
Labels: enhancement, L: Electrical.Machines, L: Mechanics.Rotational, V: 4.1.0-dev

#4580 Fixed wrong expression for the a = 0, b > 0 case (#4553)
  Modelica/Fluid/Dissipation.mo
Labels: bug, L: Fluid.Dissipation

#4582 Same patch as #4559 to Electrical.Machines (#4563)
  Modelica/Electrical/Machines/Examples/SynchronousMachines/SMPM_Braking.mo
Labels: L: Electrical.Machines, example

#4603 Only force CMAKE_INSTALL_PREFIX if the user didn't specify it.
  Modelica/Resources/CMakeLists.txt
Labels: L: Resources, V: 4.2.0-dev
